[2016-03-17 12:46] XabierGoros opened #21 "[Question] How could we insertOrUpdate an Object? (an image for example)"
How could we insertOrUpdate an Object? Do we have to check if it exists, and if so [delete](https://cloud.google.com/storage/docs/json_api/v1/objects/delete) and upload it again? I'm using image storing and in my tests [insert](https://cloud.google.com/storage/docs/json_api/v1/objects/insert) does not update or override the image with the same name.

[2016-03-17 17:27] remi commented on #21
What does your insert code look like?

Inserting an object for a name should replace the previous object with the same name AFAIK

Here's a sample that:
 - Verifies that an object does not exist yet
 - Inserts object and verifies content was inserted
 - Inserts object with changed content and verifies changed content was inserted
 - Cleans up by deleting the object

[code]

When I run the sample,

[2016-03-18 07:53] XabierGoros commented on #21
Thanks for answering remi.

Wow! This is what I've discovered with my picture uploading use case:

_Pre: My bucket has the Image1_
1. Upload Image2
2. Open it in a browser without cache -> shows Image1

_Pre: My bucket has the Image1_
1. Upload Image2
2. Download Image2 and compute it's hash -> it matches with the Image2 one
3. Open it in a browser without cache -> shows Image2!

So, it seems it i

[2016-03-30 18:21] remi commented on #21
If you upload an image and then visit it in your browser, your browser will cache it.

To change the default HTTP caching headers for a Cloud Storage object, see: [Working With Object Metadata > Cache-control](https://cloud.google.com/storage/docs/gsutil/addlhelp/WorkingWithObjectMetadata#cache-control)

By default, I believe the image will be served to the browser with `Cache-control: public,max-

[2016-03-30 18:21] #21 closed

[2016-05-09 20:22] chrsmith opened #24 "Document how to build and run samples"
The repo has samples, and a `buildAndRunTests.ps` file, but the `README.md` doesn't explain how to actually do that.

[2016-05-17 16:30] SurferJeffAtGoogle commented on #24
Updated README.mds.

[2016-05-17 16:30] #24 closed

[2016-05-20 00:17] SurferJeffAtGoogle opened #27 "Storage test doesn't actually run any tests."
From the test log:
Test Settings: Default Test Settings
storage\api\test\test.csproj
Microsoft (R) Test Execution Command Line Tool Version 14.0.23107.0
Copyright (c) Microsoft Corporation. All rights reserved.

Loading bin\debug\test.dll...
Starting execution...
No tests to execute.

[2016-06-27 16:50] SurferJeffAtGoogle opened #35 "No way to download partial files from google cloud storage."
See http://stackoverflow.com/questions/36886537/how-to-download-part-of-file-from-google-storage

[2016-06-28 19:42] SurferJeffAtGoogle commented on #35
Added a DownloadRange() sample.

[2016-06-28 19:42] #35 closed

[2016-08-10 16:18] SurferJeffAtGoogle commented on #27
Tests are now executing.

[2016-08-10 16:18] #27 closed

[2016-08-28 05:00] xamaringeek opened #50 "On textDetection sample don't work on Thai Language"
Hi Google cloud team,

On textDetection sample don't work on Thai Language.
Can't translate on the message.

**Question:**
1) It's support only english language ?
2) How we can modify the source code for support other language ?

Thanks you

[2016-08-30 16:13] SurferJeffAtGoogle commented on #50
It supports 80 languages.  I'm in the process of confirming that Thai is one of them.

In this code:
[code]

Have you tried setting the `LanguageCode` to `th` instead of `en-US`?

[2016-08-30 17:04] xamaringeek commented on #50
Thanks you, but i used on Google vision, don't have .**ReconginitionConfig**() method ?

_using Google.Apis.Auth.OAuth2;
using Google.Apis.Services;
using Google.Apis.Vision.v1;
using Google.Apis.Vision.v1.Data;_

Please suggestions

[2016-09-09 23:26] WalterHub opened #61 "Datastore TaskList sample checks for 2 command line args, should check for 1"
The check for a command line argument looks for 2 args, so it exits if a single arg (for the project id) is supplied.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/datastore/api/TaskList/Program.cs#L171

[2016-09-09 23:38] SurferJeffAtGoogle commented on #61
Fixed in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/59

On Fri, Sep 9, 2016 at 4:26 PM, Walter Poupore <notifications@github.com>
wrote:

[2016-09-13 19:05] #61 closed

[2016-09-18 09:05] xamaringeek commented on #50
https://cloud.google.com/vision/docs/quickstart
try this it's worked.

[2016-09-18 09:05] #50 closed

[2016-10-12 22:09] tmatsuo opened #68 "Does `Lookup` guarantees the order?"
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/datastore/api/TaskListTest/DatastoreTest.cs#L877

I don't think `Lookup` guarantees that the order of the result is the same as the given keys. Please close if it does, but please fix this otherwise.

[2016-10-18 22:57] tmatsuo commented on #68
Yes I think it re-order the result:
https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/9c7b5f4c905e42217bce01e41dc069e1cc690c6d/apis/Google.Datastore.V1/Google.Datastore.V1/DatastoreDb.cs#L406

[2016-10-18 22:57] #68 closed

[2016-11-23 16:14] andashish opened #102 "Json string to AnnotateTextResponse object"
Hello,

Any one has solution to convert Json string to AnnotateTextResponse object? see below code for more details
[code]

Thanks,
Ashish

[2016-12-05 20:04] SurferJeffAtGoogle commented on #102
[code]

[2016-12-05 20:04] #102 closed

[2016-12-07 17:53] SurferJeffAtGoogle opened #116 "AuthTest test fails"
But only when running automated tests.  I suspect that this is happening because two tests are running simultaneously.  But two applications should be able to run simultaneously.

I will turn off running tests in parallel to see if it fixes it.  If it fixes it, then it's a bug in the libs.

[code]

[2016-12-07 20:19] SurferJeffAtGoogle opened #118 "Pub/Sub tests need to handle eventual consistency"
There has been a long streak of failed pubsub tests.  We need to make them handle eventual consistency.  For example, this code:

[code]

There is no guarantee that the message will be immediately available in the subscription.  We need `Eventually()` wrappers around this and similar code.

[2016-12-13 18:45] SurferJeffAtGoogle commented on #116
After the tests stopped running in parallel, this error no longer happened.

[2016-12-13 18:50] SurferJeffAtGoogle commented on #116
Filed bug https://github.com/GoogleCloudPlatform/google-cloud-dotnet/issues/653

[2016-12-13 18:50] #116 closed

[2017-01-26 08:41] PetrMahdalicek opened #146 "Text to speech sample"
Hi,
do you plan to create sample project for .net showing text to speech api usage?
I checked it, but I didn't understand how to use it.

Petr

[2017-01-26 10:57] qmainuddin opened #147 "Got exection 'System.InvalidOperationException' occurred in Google.Api.Gax.dll"
hi, I followed each and every steps given in both readme docs. I set GOOGLE_APPLICATION_CREDENTIALS in to the environment variable of windows from System Properties\Advance system settings with path of it's json file location in my computer. I got the credential from console.cloud.google.com according to structured format. And finally, I built the project before start running. But once I run the p

[2017-01-26 19:00] SurferJeffAtGoogle commented on #147
After setting GOOGLE_APPLICATION_CREDENTIALS, restart Visual Studio.  New environment variables are only observed when a process is started.

[2017-01-26 19:20] SurferJeffAtGoogle commented on #146
Google presently does not offer a text-to-speech API.  Are you referring to the speech-to-text API?
https://cloud.google.com/speech/

[2017-01-27 05:23] PetrMahdalicek commented on #146
Sorry, by bad. But, if you hade this api, I would use it :-)

Thank you

[2017-01-30 21:37] SurferJeffAtGoogle commented on #146
Thanks Petr.  That's useful feedback.

[2017-01-30 21:37] #146 closed

[2017-01-31 19:25] SurferJeffAtGoogle opened #150 "speech/api needs updated README."

[2017-01-31 19:26] SurferJeffAtGoogle opened #151 "pubsub/api needs README"

[2017-01-31 19:27] SurferJeffAtGoogle commented on #147
Please re-open if you see this issue again.

[2017-01-31 19:27] #147 closed

[2017-01-31 19:29] qmainuddin commented on #147
On Wed, Feb 1, 2017 at 1:27 AM, Jeffrey Rennie <notifications@github.com>
wrote:

Thanks for helping me. It works!! Sorry for the late to inform you..
--
Mainuddin Talukdar
Institute of Information Technology
University of Dhaka

[2017-01-31 20:51] SurferJeffAtGoogle commented on #150
Done.

[2017-01-31 20:51] #150 closed

[2017-02-03 16:48] SurferJeffAtGoogle opened #153 "Write a StreamingPull sample."
I wrote the seed in
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/streamingPull
but it still needs tests, comments, etc.

[2017-02-06 14:20] Anuradha2011 opened #154 "StreamingMicRecognizeAsync not working"
StreamingMicRecognizeAsync is not recognizing the live streaming audio spoken using microphone with laptop. Any setup needed for this?

[2017-02-06 16:38] SurferJeffAtGoogle commented on #154
Have you tested your microphone with other software?
Also, try changing the device number:
waveIn.DeviceNumber = 0;
to something else.

[2017-02-08 12:54] khopadesnehal opened #157 "Using .flac format Syncrecognize gives null as results and Etag"
I am using .flac format file for google speech api SyncRecognize method but it always returns results and Etag as null. I am using Naudio to record my .wav file and i am converting it to .flac ,and after sending this .flac file to syncRecognize it gives null result always.Its Urgent.
Please Help to resolve this.

[2017-02-08 14:16] Anuradha2011 commented on #154
Yes my microphone was tested.
My laptop has two wavein devices 0 & 1. I have tried with both but it is not working.

[2017-02-10 02:36] xuxingya opened #161 "The waiting time for "Speak now" is a bit long"
I tried the Recognize sample. It takes about 2 seconds to start the recognition since inputting "listen". Is there any way to make it faster?

[2017-02-13 12:42] khopadesnehal opened #164 "Sample Rate=44100Hz yields to empty result"

[2017-02-14 18:52] SurferJeffAtGoogle commented on #161
I think that time is spent starting up the process and loading libraries.  I know of no simple way to make it faster.

[2017-02-14 18:52] #161 closed

[2017-02-14 22:04] SurferJeffAtGoogle commented on #157
I just added a sample that calls SyncRecognize on a .flac file.  What happens when you run:
[code]

[2017-02-14 22:07] SurferJeffAtGoogle commented on #154
What happens when you try running another sample, for example:
[code]

[2017-02-15 07:39] draze75 opened #171 "any sample for windows 8 store app? (metro apps)"
Hi guys,

Google Vision, any sample for Windows 8, metro apps?

Thank you.

[2017-02-15 11:11] amitavak opened #172 "google api speech recognition not working after 60 seconds"
I am testing google api streamimg speech recognition.
I opened this project https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api/Recognize
and ran StreamingMicRecognizeAsync method from main. It was working fine.
But after 60 seconds or so it stopped recognizing audio from mic. I tried increasing the time in "ListenOptions.Seconds". It did not help.

did anyone face th

[2017-02-15 16:28] SurferJeffAtGoogle commented on #172
Streaming requests are limited to 60 seconds, as described here:
https://cloud.google.com/speech/limits
The only work-around I see is to issue multiple requests.

[2017-02-15 16:28] #172 closed

[2017-02-15 16:31] SurferJeffAtGoogle commented on #171
The current samples https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/vision/api are command-line utilities.

What would you like to see in a Windows 8 metro sample?  What would the app look like or do?

[2017-03-01 16:06] Singh400 opened #189 "FormatTopicName method does not exist."
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/quickstarts/pubsub/quickstart/QuickstartSample.cs#L34

https://cloud.google.com/pubsub/docs/reference/libraries

The method `FormatTopicName` does not exist in `PublisherClient`.

I am using this version:-

`<package id="Google.Cloud.PubSub.V1" version="1.0.0-beta07" targetFramework="net461" />`

[2017-03-01 16:44] Singh400 commented on #189
Example on docs should be updated to reflect the usage as seen [**here**](https://cloud.google.com/pubsub/docs/publisher#pubsub-create-topic-csharp).

[2017-03-01 16:57] SurferJeffAtGoogle commented on #171
Closing due to inactivity.

[2017-03-01 16:57] #171 closed

[2017-03-01 16:58] SurferJeffAtGoogle commented on #157
Closing due to inactivity.

[2017-03-01 16:58] #157 closed

[2017-03-01 16:58] SurferJeffAtGoogle commented on #164
Closing due to inactivity.

[2017-03-01 16:58] #164 closed

[2017-03-01 16:59] SurferJeffAtGoogle commented on #154
Closing due to inactivity.

[2017-03-01 16:59] #154 closed

[2017-03-01 20:56] SurferJeffAtGoogle commented on #189
Thank you for reporting this issue.  See the new quickstart in the master branch.

[2017-03-01 20:56] #189 closed

[2017-03-02 08:08] ergunbilgehan opened #193 "Google Speech To Text by Microfone"
I am working on Google Speech by c # . I want to use the microphone . My code is there But My code uses only audio files. Please help me . Thank you

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Google.Cloud.Speech.V1Beta1;
namespace ConsoleApplication2
{
    class Program
    {
        static void Main(string[] args)

[2017-03-02 14:30] Singh400 commented on #189
Hi @SurferJeffAtGoogle,

Do you know who I can get in touch with to update the example seen [**here**](https://cloud.google.com/pubsub/docs/reference/libraries)?

Thanks,
Singh

[2017-03-03 22:08] SurferJeffAtGoogle commented on #193
Have you tried to build and run this sample?
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api/Recognize

[2017-03-06 08:22] Anuradha2011 opened #197 "Issue: audio data is being streamed too slow. please stream audio data approximately at real time"
I'm using below method to convert speech to text using microphone, and the sample rate is 16000. I have tested it on Windows 10 machine initially and it worked fine and later when I tested the same script on Windows 7 machine it is not working properly and I'm getting the below error message.

How to decide which sample rate to beused on which machine? What could be the problem with my Windows 7 m

[2017-03-06 17:30] SurferJeffAtGoogle opened #198 "Wrap the CloudSqlConnectionString onto multiple lines."
This one:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/appengine/flexible/CloudSql/appsettings.json

[2017-03-07 06:25] ergunbilgehan commented on #193
Thank you for the help. Now  I need to I will convert this code to windows form.

[2017-03-07 09:03] ergunbilgehan commented on #193
Thank you for your help! . I use this code . Thank you :)

2017-03-04 1:08 GMT+03:00 Jeffrey Rennie <notifications@github.com>:

[2017-03-07 17:22] #193 closed

[2017-03-15 15:29] Jonathan34 opened #205 "app.yaml still use custom runtime"
dotnet-docs-samples/endpoints/getting-started/src/IO.Swagger/app.yaml

it should use the new aspnetcore runtime

[2017-03-15 17:26] SurferJeffAtGoogle opened #206 "storage_create_bucket sample should not include random bucket name code."

[2017-03-15 23:54] danaharon opened #208 "AsyncRecognize throws Insufficient quota without merit"
When sending files to AsyncRecognize, there is an exception about quota even though the user is not even close to the quota limit.

![noname](https://cloud.githubusercontent.com/assets/20077990/23975747/09bc189e-09a0-11e7-8eac-89e356930e67.gif)

[2017-03-16 16:57] desalegnbiru commented on #208
![exception](https://cloud.githubusercontent.com/assets/14032469/24008447/11ea5ff0-0a48-11e7-8679-917b6443e240.JPG)

[2017-03-16 21:09] desalegnbiru commented on #208
Hi Dan,
I created a workaround, which is if a quota exception is thrown wait a second and try again. It seems to work but it is not a real solution. Thanks

[2017-03-16 23:53] SurferJeffAtGoogle commented on #208
Please try this sample:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/speech/api/Recognize/Recognize.cs
See the function called AsyncRecognizeGcs.
It uses a different API.  So hopefully it doesn't falsely trigger the same rate limit.

[2017-03-17 19:15] desalegnbiru commented on #208
Thank you Jeff. That was exactly my problem, it is working now.

[2017-03-17 19:49] #205 closed

[2017-03-19 21:46] sguergachi opened #214 "Cloud Machine Learning Example"
Would really appreciate an example of how to make API calls to the Cloud ML platform using Google.Apis.CloudMachineLearningEngine.v1

Ideally the example would show how make a predict call (https://cloud.google.com/ml-engine/reference/rest/v1/projects/predict), which is something I think you would do frequently.

[2017-03-20 21:41] #206 closed

[2017-03-24 16:04] desalegnbiru commented on #208
Hi Jeff,

I saw this error message today. It was working fine for the last several days.

![grpc exception](https://cloud.githubusercontent.com/assets/14032469/24302701/e16559fa-1089-11e7-964a-75372b65bdf8.JPG)

[2017-03-24 19:54] SurferJeffAtGoogle commented on #208
Thank you desalegnbiru.  Investigating...

[2017-03-24 22:19] #118 closed

[2017-03-31 14:33] desalegnbiru commented on #208
Hi Jeff, any luck with what could have caused the exception?

[2017-03-31 16:03] SurferJeffAtGoogle commented on #208
No.  I have no reason to believe it's an issue with the client library.  I
suspect it's an issue in the API.

On Fri, Mar 31, 2017 at 7:33 AM, desalegnbiru <notifications@github.com>
wrote:

[2017-03-31 16:08] danaharon commented on #208
Thanks, Jeff. Could you please open a bug on this so that we could drive
this to closure?

Thanks,
Dan

On Fri, Mar 31, 2017 at 9:03 AM, Jeffrey Rennie <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-03-31 16:17] desalegnbiru commented on #208
Thank you Jeff. Could it be caused by some form of network connection interruption?

[2017-04-01 00:31] desalegnbiru commented on #208
Jeff, the speech was in Chinese if it helps to investigate

[2017-04-01 00:37] danaharon commented on #208
Did it only happen once? Do you know how to reproduce it?

On Fri, Mar 31, 2017 at 5:31 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-01 00:46] desalegnbiru commented on #208
It happened only once and I cant reproduce it. But if it is going to happen suddenly again, users will not be very happy with the reliability of the system. If you need it for debugging, the file is C7907_11.wav in google storage uploaded on March 24

[2017-04-03 21:28] jsimonweb commented on #151
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/pubsub/api/README.md

[2017-04-03 21:28] #151 closed

[2017-04-03 22:00] desalegnbiru commented on #208
A 10-minute audio used to take the API 10 minutes to transcribe the text, starting from Friday March 31, it is taking only 3 minutes. It is very good, hope it stays like that.

[2017-04-04 14:21] desalegnbiru commented on #208
Dear Jeff,
Today there were two big meetings in parallel, each with 6 audio files coming in, 12 files in total. So, I was running 12 instances of  AsyncRecognize at the same time and got the following exception. I think there is some quota issue. Please help. 8 instances of AsyncRecognize  is working at the moment.
![exception2](https://cloud.githubusercontent.com/assets/14032469/24661395/4995688c

[2017-04-05 20:22] desalegnbiru commented on #208
Jeff,

The new API threw the following exception today. Please help
![exception3](https://cloud.githubusercontent.com/assets/14032469/24725219/fc118224-1a1b-11e7-83a9-5dfd1447a9d2.JPG)

[2017-04-05 20:30] danaharon commented on #208
Do you know how to reproduce this? Have you tried the file again?

On Wed, Apr 5, 2017 at 1:22 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-05 20:44] desalegnbiru commented on #208
yes I just reproduced it.
![exception5](https://cloud.githubusercontent.com/assets/14032469/24726066/17ce5e76-1a1f-11e7-9af2-cf91b1019e1b.JPG)

[2017-04-05 20:48] desalegnbiru commented on #208
This is the file that creates the exception.

[E7916_03.zip](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/files/900776/E7916_03.zip)

[2017-04-05 21:14] danaharon commented on #208
Can you please send this through our feedback form
<https://docs.google.com/forms/d/e/1FAIpQLSemc-7uEfdgUjuATRguhVpoP3x6Gsu5jQ0HIS_JhNgSyvUaWA/viewform?usp=sf_link#response=ACYDBNjgXzzHwCnHxVt0N0BhKeyiejzXolRqv8fajiL6hH2pj49zQ23uVlbSE50>
?

Thanks,
Dan

On Wed, Apr 5, 2017 at 1:48 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@go

[2017-04-05 21:21] desalegnbiru commented on #208
Dan,

The link you sent is for incorrect transcription. But the problem is that the API throws an error before transcribing anything.

[2017-04-05 21:23] desalegnbiru commented on #208
Dan,
The link you sent is for incorrect transcription. But the problem is that the API throws an error before transcribing anything. 

    On Wednesday, April 5, 2017 5:14 PM, danaharon <notifications@github.com> wrote:

 Can you please send this through our feedback form
<https://docs.google.com/forms/d/e/1FAIpQLSemc-7uEfdgUjuATRguhVpoP3x6Gsu5jQ0HIS_JhNgSyvUaWA/viewform?usp=sf_link#response=ACYDB

[2017-04-05 21:32] danaharon commented on #208
Yeah, good point. We don't really have a form for the other one yet - so if
you don't mind just use the same one and write that it throws an exception.
That way we can take a look at it.

Thanks,
Dan

On Wed, Apr 5, 2017 at 2:23 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-05 21:43] desalegnbiru commented on #208
ok submitted

[2017-04-05 21:50] danaharon commented on #208
can you make the file public so we can access it?

Thanks,
Dan

On Wed, Apr 5, 2017 at 2:43 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-05 22:16] desalegnbiru commented on #208
Done

[2017-04-05 22:19] danaharon commented on #208
I cannot open the file in Audacity or play it in Chrome. Can you double
check that the WAV file is playable?

Thanks,
Dan

On Wed, Apr 5, 2017 at 3:16 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-05 22:23] desalegnbiru commented on #208
All of the files don't play on Chrome, dont know why. But you can download it and play, it works.

[2017-04-06 17:47] tswast opened #232 "All BigQuery samples should poll to wait for completion"
There isn't really a difference between "sync/asynch" queries. I'm working to remove this distinction from the docs.

Please update all query samples to look more like this one, where they poll for results:

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/06d9eb392e600051145285aa73bb48a785e20666/bigquery/api/GettingStarted/BigqueryTest/BigqueryTest.cs#L164

Even if the "synchronous

[2017-04-06 18:09] desalegnbiru commented on #208
when can this be fixed? did you get the file?

[2017-04-06 18:19] tswast commented on #232
When creating a job, it's best to set an explicit Job ID, as well. (It should be unique, such as a UUID)

[2017-04-10 14:04] desalegnbiru commented on #208
Hi Jeff and Dan,
I got this error message again. I was just running three instances of LongRunningRecognize. Please help.

![exception6](https://cloud.githubusercontent.com/assets/14032469/24865368/0999efaa-1dd5-11e7-9868-78361127507a.JPG)

[2017-04-10 21:44] danaharon commented on #208
1) How long were the files you were transcribing? Were those 3 requests the
only ones being processed?
2) What is the cloud project number (apologies if you've sent this already)?

Thanks,
Dan

On Mon, Apr 10, 2017 at 7:04 AM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-10 22:23] desalegnbiru commented on #208
1) each LongRunninRecognize instance is an infinite loop that converts 10-minute audio files coming in every 10 minutes. Each of the instances converted 8 files with no problems and crashed on the 9th file. In total 24 files are converted by the 3 instances running in parallel. That is 240 minutes of audio in total converted before crash.

2)
Project ID
speech2text-157416
Project number
7905210201

[2017-04-10 23:11] danaharon commented on #208
Is it possible that you are going over 80min of audio (5,000sec) being
submitted in the same 100-sec period? The 9th file might be taking you over
the limit.

Thanks,
Dan

On Mon, Apr 10, 2017 at 3:23 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-10 23:44] desalegnbiru commented on #208
No. 80 minute of audio is submitted in 80 minutes.That is a 10-minute audio every 10 minutes

[2017-04-11 00:09] danaharon commented on #208
Can you please try and rerun to see if the error is still happening? We've
made a change over the weekend that may affect this area.

Thanks,
Dan

On Mon, Apr 10, 2017 at 4:44 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-11 08:54] maciz84 opened #238 "Return status of LongOperation"
Hi Guys,

This is not an issue but more of a request for help. Does anyone know how I can return the progress or status of the long running  operation. Below is my current code but have no clue how to return the progress as I couldn't find it in the documentation. I am using Google.Cloud.Speech.V1.
`dynamic audiofile = "gs://mybucket/test2.wav";

dynamic speech = SpeechClient.Create();
dynamic lon

[2017-04-11 17:42] desalegnbiru commented on #208
https://storage.googleapis.com/dgacm/english/E7916_03.wav
still not working

[2017-04-13 07:54] amitavak opened #239 "google speech to text in production server"
As we know, google speech to text is in beta.
is it safe to use it in production? any suggestions?

[2017-04-13 20:50] danaharon commented on #208
Thanks for sharing this. We have been able to reproduce the problem on our
end and are looking into this.
Do you have other problems aside from that file?

Thanks,
Dan

On Tue, Apr 11, 2017 at 10:43 AM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-14 00:24] desalegnbiru commented on #208
Thanks Dan. The other the "resource has been exhausted" problem.  I don't think it did reach the limit. Can you tell me how many LongRunninRecognize  can I run in parallel? This issue is confusing to me. I think you need to make the limits more clearer, may be using example.

[2017-04-14 00:25] danaharon commented on #208
You should be able to get up to 80min processed every 100sec.

Thanks,
Dan

On Thu, Apr 13, 2017 at 5:24 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-14 00:26] danaharon commented on #208
Can you share an example audio that reproduces the problem?

[2017-04-14 00:41] desalegnbiru commented on #208
The new API takes approximately 3 minutes to convert a 10 minute audio.  This is for a single instance of LongRunninRecognize . I tried to run 8 instances in parallel and the API threw the quota error. 8 instances means 80 minutes of audio in about 3 minutes. To reproduce the problem you can just run the conversion for the file I already gave you 8 or more times in parallel. Actually it would be g

[2017-04-14 01:00] danaharon commented on #208
Can you share a file that doesn't have that error?

On Thu, Apr 13, 2017 at 5:41 PM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-14 01:06] desalegnbiru commented on #208
https://storage.googleapis.com/dgacm/english/E7916_04.wav

check this one

[2017-04-17 19:51] SurferJeffAtGoogle opened #244 "Snippets contain lines longer than 80 characters."
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/kms/api/Program.cs

Let's wrap them less than 80 characters so users don't have to horizontally scroll when looking an the snippet in the docs.

[2017-04-18 17:15] desalegnbiru commented on #208
Dear Dan,

I just submitted 6 audio files (10 minutes long each) at the same time and got the "resource has been exhausted" error. I am not above the limit. The sum of all the minutes of the six audio files is 60 minutes, why is the error appearing? As I understand it now, if i send 80 minutes of audio, then I have to wait 100 seconds to send another one. Is that right?

[2017-04-18 21:11] desalegnbiru commented on #208
I got this error today.
![exception7](https://cloud.githubusercontent.com/assets/14032469/25153271/0491cac4-245a-11e7-9ae7-ffa6e8f4381b.JPG)

[2017-04-19 02:17] desalegnbiru commented on #208
here is another one. Do you know what happened with the API today?
![exception8](https://cloud.githubusercontent.com/assets/14032469/25160575/d2232ce2-2484-11e7-9f2d-e4c3c4dfb558.JPG)

[2017-04-20 14:16] desalegnbiru commented on #208
ignore the above two comments. The error was from my side.

[2017-04-20 15:20] danaharon commented on #208
Thanks for letting us know!

On Thu, Apr 20, 2017 at 7:17 AM, desalegnbiru <notifications@github.com>
wrote:

--

Dan Aharon |  Product Manager |  daharon@google.com <apoorv@google.com> |
 212-729-8616

[2017-04-20 16:35] SurferJeffAtGoogle commented on #238
The current API does not provide any details about the partial progress of the operation.  The only thing you can observer is complete or incomplete.

[2017-04-20 16:35] #238 closed

[2017-04-20 16:38] SurferJeffAtGoogle commented on #239
Good news!  The Speech API exited beta an is now generally available:
https://cloudplatform.googleblog.com/2017/04/Cloud-Speech-API-is-now-generally-available.html

[2017-04-20 16:38] #239 closed

[2017-04-20 16:39] #208 closed

[2017-04-20 16:39] SurferJeffAtGoogle commented on #197
I believe this has been fixed.  Please re-open if you see the bug again.

[2017-04-20 16:39] #197 closed

[2017-04-20 18:41] desalegnbiru commented on #208
Thank you Jeff and Dan. One issue left is the 80 minute limit. I can only submit 50 minutes of audio in 100 seconds. Thanks for the help.

[2017-04-21 05:17] J3QQ4 opened #247 "speech.Recognize() doesn't return, throws exception after 10 minutes saying "DeadlineExceeded""
I am using this slightly modified version of the code from this repository:

    public async Task<string> TranscribeSpeech(string filenameAndPath, int WAVSampleRate = 8000)
        {
            Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", Utils.GetHomeFolder() + @"\Google Speech API Key.json"); //for authentication

            var language = WebConfigurationManager.AppSe

[2017-04-22 00:07] desalegnbiru commented on #208
If you use LongRunningRecognize, the API will act up and throw a quota exception even before reaching the 80 minute limit. The answer is to use LongRunningRecognizeAsync.

[2017-04-24 15:50] SurferJeffAtGoogle commented on #247
It looks like you are calling the API correctly.  How large is your input file?

Have you tried the LongRunningRecognize() for larger sound files?  A C# sample is shown here:
https://cloud.google.com/speech/docs/async-recognize#speech-async-recognize-gcs-csharp

[2017-04-24 20:31] indrabayu commented on #247
In case your input file is too big, split it by the presence of silence into audio chunks.

[2017-04-25 01:57] J3QQ4 commented on #247
It's just two or three seconds actually. This code runs as a bot on Facebook Messenger and Telegram. You record and send a voice message to the bot, it gets converted into PCM16, then it is passed to Bing Speech API and Google Cloud Speech API. (Just testing both APIs). The first one succeeds, the second doesn't return.

[2017-04-25 13:36] lenzi12 commented on #247
The same problem.
I have tried your sample:
PS C:\...\dotnet-docs-samples\speech\api\QuickStart\bin\Debug> .\QuickStart.exe how old is the Brooklyn Bridge
but after few minutes " Grpc.Core.RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")" message appeared.

[2017-04-25 16:56] SurferJeffAtGoogle commented on #247
lenzi12

Will simply calling QuickStart.exe once per minute in a loop reproduce the issue?

[2017-04-25 16:59] SurferJeffAtGoogle commented on #247
J3QQ4,
Can you provide a file that causes the API to report this error?

[2017-04-25 23:06] SurferJeffAtGoogle commented on #247
I'm still unable to reproduce.

[2017-04-26 07:05] lenzi12 commented on #247
I have just built your project https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api and followed the instructions bellow i.e. ran QuickStart.exe. Black console window started, nothing's happend and after few minutes the mentioned error appeared:
Unhandled Exception: Grpc.Core.RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded")
   at System.Run

[2017-04-27 08:32] lenzi12 commented on #247
It is solved ! Problem was our network configuration. I have changed some network settings and now it works. Sorry for bothering.

[2017-04-27 09:25] J3QQ4 commented on #247
@lenzi12 What exactly was it? Because I'm running the bot on MS Azure and still can't get this sample to work, due to this error.

[2017-04-27 10:01] lenzi12 commented on #247
This was specific permission setting of our network.
I have switched to another network, which works. I am still waiting for details of permission which causes the problem from our network admin.

[2017-04-27 10:07] lenzi12 commented on #247
Ok, my network admin said that this sample application should set the proxy server of the network - is it possible ?

[2017-04-29 06:32] obatake opened #256 "RecognitionConfig.SpeechContext is have not been provided yet?"
Hi.
I use Speech API.
I want to use RecognitionConfig.SpeechContext, but is required set SpeechContext type.
I search sample, but no sample found.
Now, SpeechContext.Phrases is gettable, but no settable.
is this have not been provided yet?
If not, please tell me a usage example.

[2017-05-01 22:34] #256 closed

[2017-05-08 17:53] keithpohl opened #263 "SpeechContext appears to be read-only"
Using the RecognitionConfig object for speech recognition, we have not found a way to set the properties in a SpeechContext object in C#.  The Intellisense blocks us from setting any Phrases (or any other object) by only offering Read-Only properties (GETs).  We have seen no way to write to these properties (SETs).

Here is the example from one of our attempts:
![1](https://cloud.githubusercontent

[2017-05-30 18:22] SurferJeffAtGoogle commented on #263
See `RecognizeWithContext` in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/speech/api/Recognize/Recognize.cs for an example.  It looks like this:
[code]

[2017-05-30 18:22] #263 closed

[2017-05-31 08:50] ivannaranjo opened #271 "Ensure all samples have a corresponding global.json file that points to the right .NET Core SDK."
It is vital to have a global.json that points to the right SDK to ensure that right tools are being used. This is also very important for those older samples that still use project.json, as the newer versions of the .NET Core SDK do not support it anymore.

[2017-05-31 18:03] #271 closed

[2017-06-07 10:21] hikmatyar opened #275 "Lag time in response"
I'm using Node implementation of Google Speech to Text API, but the lag time is too much --- 3-4 seconds in response time. Is this normal? Is there a way to get it to less than 2 seconds?

[2017-06-13 19:34] rrc2k4 opened #276 "proxy configuration"
How can we set proxy in speech sdk.we need to use proxy while consuming speech to text services and I have noticed that even setting proxy in web.config, sdk ignores it and hits google API directly ignoring proxy configuration.can u pls guide us on proxy configuration

[2017-06-20 16:34] SurferJeffAtGoogle commented on #247
Yes.  You can specify the http_proxy (yes, all lowercase) environment variable and gRPC will use HTTP's CONNECT to tunnel through the proxy.

[2017-06-20 16:34] #247 closed

[2017-06-20 16:34] SurferJeffAtGoogle commented on #276
You can specify the http_proxy (yes, all lowercase) environment variable and gRPC will use HTTP's CONNECT to tunnel through the proxy.

[2017-06-20 16:34] #276 closed

[2017-06-20 18:12] rrc2k4 commented on #276
Thanks a lot.it worked.really appreciate your help on this.

[2017-06-26 13:37] harshit7922 commented on #275
hi hikmatyar,

please give me the code for 3-4 second. I am also trying to get in less than 2 second.

[2017-06-28 21:35] SurferJeffAtGoogle commented on #275
Since you are you using the Node library, please report this issue here:
https://github.com/GoogleCloudPlatform/nodejs-docs-samples/

[2017-06-28 21:35] #275 closed

[2017-07-06 09:44] uluhonolulu opened #286 "Using custom credentials with Speech API"
When I use Speech API in a hosted environment (Azure), I don't know the path to the credentials file in advance. I know that we can create a GoogleCredential instance from a file. But how do I use it when I create a SpeechClient instance? Would be great if you could provide a code example for this.

[2017-07-06 11:38] #286 closed

[2017-07-06 11:41] uluhonolulu commented on #286
Sorry, just found it in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/speech/api/Recognize/Recognize.cs

[2017-08-17 20:43] SurferJeffAtGoogle opened #317 "Improve code coverage of spanner tests."
Current tests cover only 44% of code.

![image](https://user-images.githubusercontent.com/11778530/29432872-0433a17c-8352-11e7-8d3e-cf6caf910ee5.png)

[2017-08-18 04:30] BresDev opened #318 "Exception occured in metadata credentials plugin."
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/vision/api
I try to use this api and i got this error.
Status(StatusCode=Unauthenticated, Detail="Exception occured in metadata credentials plugin.")
ps. I have create credentials JSON file and set environment already.

[2017-08-18 06:29] #318 closed

[2017-08-24 16:22] plaisted opened #321 "Samples for flexible app engine and IISIntegration"
It appears all of the samples provided for the flexible App Engine environment were created using "dotnet new" and as a result include a `web.config` and `.UseIISIntegration()` for Kestrel in the `Program.cs`.

From what I can tell based on the docker images the App Engine sets the PORT environmental variable in the container which is then exposed via docker and then Kestrel is set to use this por

[2017-08-24 19:32] SurferJeffAtGoogle commented on #321
Good idea.  Thank you for the suggestion.

[2017-08-25 19:14] #321 closed

[2017-08-29 22:26] SurferJeffAtGoogle commented on #198
JSON provides no way to do this.  And breaking it up into multiple variables would make other code more complicated, and make it less convenient to set with an environment variable.

[2017-08-29 22:26] #198 closed

[2017-08-29 22:28] SurferJeffAtGoogle commented on #214
https://cloud.google.com/prediction/docs/ says:
The Google Cloud Prediction API has been deprecated and will be shut down on April 30, 2018.
So we won't write such a sample.  :-(

[2017-08-29 22:28] #214 closed

[2017-08-29 22:28] SurferJeffAtGoogle commented on #153
Obsolete.

[2017-08-29 22:28] #153 closed

[2017-09-01 23:30] plaisted opened #325 "AppEngine flex samples run locally on windows"
The samples for netcore on app engine flex all show running the apps in visual studio on a local windows machine. When the apps are deployed they are run on a debian8 linux container.

Although it is improving, the current state of cross platform support in netcore is not 100%. I've run into many issues moving code from windows to linux and had to implement workarounds. It would be helpful to show

[2017-09-01 23:45] SurferJeffAtGoogle commented on #325
I've hit issues moving code from windows to linux too.  Such a demo would definitely be valuable to users.

A pull request would be awesome!

Please note, all contributors to this repo must accept the Google Contributer License Agreement here:
https://cla.developers.google.com/clas
It's only one page and not too intimidating.  So please have a look at it before beginning a pull request.

[2017-09-11 20:39] asofolahan commented on #325
Hi @SurferJeffAtGoogle
Thanks for sharing this .NET Vision API samples. I have issues setting up when I got to the ADC. Kindly help because I couldn't run my code.

Thanks

[2017-09-20 22:58] chrisdunelm opened #337 "Incorrect comment in auth AuthExplicitComputeEngine sample"
The auth AuthExplicitComputeEngine sample comment here is incorrect: https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/auth/Program.cs#L133
It's not using a service account credential in this sample.

[2017-10-05 16:21] #337 closed

[2017-12-11 05:35] StephenHodgson opened #401 "Endpoints Example Project fails to load in Visual Studio"
The [Endpoints example project](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/endpoints/getting-started) fails to load in Visual Studio Community 2017.

The issue was that the [global.json](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/endpoints/getting-started/global.json) file is using an incompatible version of the ASP.NET Core SDK.

The Fix:
[c

[2018-01-15 21:33] heathyates opened #425 "NAudio has conflict with speech api samples"
# Steps to Reproduce

1.  Clone the repo and download
2. Find the speech `sln` and load it
3. When VS rebuilds the solution, you should the following error:

`Package 'NAudio 1.8.4' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.`

# NAudio and .NET 2.0 seems to be the

[2018-01-17 19:45] SurferJeffAtGoogle commented on #425
Thank you for reporting this issue.

Were you able to successfully run the sample?  On Windows, Mac, or Linux?

[2018-01-24 17:49] SurferJeffAtGoogle opened #434 "warning NU1701: Package 'EnterpriseLibrary.TransientFaultHandling 6.0.1304' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project."
When building the Spanner project.  Far from fatal, but we should be using https://www.nuget.org/packages/TransientFaultHandling.Core/

[2018-01-24 17:51] SurferJeffAtGoogle commented on #434
Hmm.  That library was last updated in 2012, so we may need to find another one.

[2018-02-01 03:27] mofolom commented on #425
Bump.

Did the same. Cloned the repo and tried to rebuild the solution.

[2018-02-01 03:38] mofolom opened #436 "Speech client wrapper, missing method: ToChannelCredentials"
![image](https://user-images.githubusercontent.com/4580013/35659946-cb6a0fb8-0711-11e8-8ab4-f711add14c88.png)

How do i resolve this?

[2018-02-01 07:16] simonz130 commented on #436
Have you tried to do "dotnet restore" and then recompile the entire sample? Typically issues like "method not found" mean that you try to use older assembly version than the one containing that method that is not found.

[2018-02-01 22:54] SurferJeffAtGoogle commented on #425
mofolom, could you reply with your build output?

[2018-02-06 18:55] mofolom commented on #436
late response but thanks i got it working. "dotnet restore" worked.

[2018-02-06 19:11] simonz130 commented on #436
Great!

[2018-02-06 19:11] #436 closed

[2018-02-07 16:06] RickCooke opened #444 "Credential Error: Error deserializing JSON credential data"
Hi,
I'm using the vision api (via ImageAnnotatorClient) and upon instantiating I get the following error:
"Error reading credential file from location [PATH]: Error deserializing JSON credential data.\nPlease check the value of the Environment Variable GOOGLE_APPLICATION_CREDENTIALS"
Problem is, I cloned the vision api sample in this repo and that runs just fine so I know that the environment vari

[2018-02-07 16:41] simonz130 commented on #444
Hey Rick,

Can you please open CMD and run SET command? Is the output of SET including GOOGLE_APPLICATION_CREDENTIALS variable? If yes, is the value of the variable a valid full file path? (Not relative path)

[2018-02-07 16:43] simonz130 commented on #434
I've had the same error for BigQuery project. Fixed it there to use Retrier from TestUtils. I'll fix this too.

[2018-02-07 16:45] simonz130 commented on #401
Thanks Stephen.

I'm fixing the Endpoints sample now => porting it to .net core 2.0. Will update here once it's submitted.
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/441

[2018-02-07 17:08] RickCooke commented on #444
Yep. The variable is set to a full and correct path. In fact: as a sanity check I've introduced the following like of code before the client instantiation in both projects with the same result
`            Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", @"[PATH]");
`

[2018-02-07 17:59] simonz130 commented on #444
Alright, thanks for confirmation. I'll take a look and report back here.

[2018-02-07 23:10] simonz130 commented on #401
Hey Stephen,

I just merged the fix to this. Please, sync.

[2018-02-07 23:10] #401 closed

[2018-02-16 22:08] SurferJeffAtGoogle commented on #317
Fixed.

[2018-02-19 15:42] jskeet opened #450 "Sample for retries with Cloud Spanner should use same SpannerConnection"
(As filed by @benwulfe originally)

This is technically a sample bug. When spanner throws a transient fault, you should really try to use the same session on subsequent retries as spanner gives higher priority to retries in high contention scenarios. This can be achieved in the ADO.NET provider by using the same open connection (which reserves a single session for use).

So really the sample here:

[2018-02-21 15:47] Fever905 commented on #146
Would be nice if you were not the #1 result for "text to speech" .. would have saved me 20 minutes of looking for it in your cloud API.

[2018-03-03 13:46] sebr74 commented on #146
We all know you can do this Google. Your speech synthesis ( as used in maps for example ) is by far the best synthesizer out there. Thanks for sharing the Wavenet algorithm with the world, but only you have the data and ressources to train it properly. Why not make money and expose this marvel through an API?

[2018-03-13 07:24] shaikhnizam commented on #425
I'm also facing same error while trying to resolve Nuget issue. Any solutions??

warning NU1701: Package 'NAudio 1.8.4' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project.

[2018-03-13 08:40] BoasE opened #468 "Sample for DataStore - Parents"
Hi

is there an example for how to use entitygroups / parents with datastore ?
currently just can't find one. Am I overseeing something?

[2018-04-12 20:51] SurferJeffAtGoogle opened #510 "DLP tests do not run on Kokoro."

[2018-04-16 17:48] dzlier-gcp commented on #510
Some of the failing tests are due to [this commit](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/commit/df95d5d756151cf90ca760c6d211927534871ea9#diff-5f6de6a82ea3730361c8537a2acd33db), which removed the setup code that ensures that a KMS keyring/key exists for the tests and then uses it to create a wrapped key (cipher file). @ace-n , please re-add the code so that these tests pass aga

[2018-04-20 16:03] naasking opened #522 "Running against the google cloud datastore emulator"
There don't appear to be any samples that run against the [datastore emulator](https://cloud.google.com/datastore/docs/tools/datastore-emulator). I've tried connecting manually to the local IP and port, but it doesn't seem to work.

[2018-05-21 21:16] SurferJeffAtGoogle opened #546 "Revert PR 545 after 2018-05-23."
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/545

[2018-05-22 07:26] muralirly opened #547 "Memory leak issue while publishing message"
Hi,
The memory size is increasing and crashing the application at the below line.

 publishTasks.Add(publisher.PublishAsync(text));

Any idea how to clear the memory after a message? We have to send 1000's of records in a minute and the memory is keep on increasing.

[2018-05-22 07:58] CJMedina opened #548 "current version of library supported"
Issue:
 Customer is retrieving data from his Datastore using C# and with sorting order but encountering:

-----
“Google.Cloud.Datastore.V1.Filter.And(Google.Cloud.Datastore.V1.Filter.Equal("done", false), Google.Cloud.Datastore.V1.Filter.GreaterThanOrEqual("priority", 4)),”

According to the [1] documentation, Google.Cloud.Datastore.V1.Filter.And() takes an array of Filter objects.

[code]
-----

[2018-05-22 10:58] bvijaybhargav opened #549 "Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail=\"Connect Failed\")"
I am getting the following error in "await streamingCall.WriteAsync" Call. I am beginner so please bare with me.
"Grpc.Core.RpcException: Status(StatusCode=Unavailable, Detail=\"Connect Failed\")\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\r\n   at System.R

[2018-05-24 20:38] #546 closed

[2018-06-03 19:31] markshancock opened #557 "Credentials issue"
I created a Service Account Key and downloaded the json file the created the Environment Variable GOOGLE_APPLICATION_CREDENTIALS and set it.

When I run the test I get:
[code]

I am not sure what "Illegal characters in path" means since the path seems fine.  When I 'type' the same path from a command window, I get the contents of the file.

[2018-06-03 19:40] markshancock commented on #557
Fixed the issue.
The Environment Variable could not have quote marks

[2018-06-03 19:53] markshancock commented on #557
Fixed the issue.
The Environment Variable could not have quote marks

[2018-06-03 19:53] #557 closed

[2018-06-12 19:02] pogs17 opened #561 "Multiple StreamingRecognizeRequest"
I'm trying to setup a StreamingRecognize, with multiple request's. Is it possible ?

The point is that i want to send audio stream from the mic with a unknown time, so i think that i must implement multiple requests. (Considering that a request session has a max_time = 65 seconds).

Anyone can help me with this ?

Thank's alot ;)

Google sample code:
[code]

[2018-06-12 21:50] SurferJeffAtGoogle commented on #561
So, you want to send a continuous stream, that may be longer than 65 seconds?

[2018-06-13 02:46] pogs17 commented on #561
@SurferJeffAtGoogle Yes! I want to speech a report using stream from microphone. I was searching about this a couple of weeks, and the only tip that i saw is that i can do multiple requests .. I found a web example doing exactly what i want, but i need do this using c#.

Web sample: [https://www.google.com/intl/pt/chrome/demos/speech.html](url)

Thanks in advance for trying to help me Jeff! (:

[2018-06-26 01:34] simonz130 commented on #434
Submitted PR: https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/571

[2018-07-10 14:36] meteatamel opened #576 "Improve .NET Cloud Vision Samples README"
.NET Cloud Vision Samples (https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/vision/api) require that you have default application credentials enabled and an environment variable is set to point to it for samples to work.

It's not that clear in its README that this is a requirement. The README says "Follow the instructions in the root README" and the root README talks about a

[2018-07-13 22:56] awkoren opened #578 "Code snippets for IAM"
There are currently no samples available for IAM. This is needed for the documentation: https://cloud.google.com/iam/docs/.
I work on the docs in question and can write the snippets as needed.

[2018-07-17 04:59] #434 closed

[2018-07-26 11:24] kykrueger opened #583 "BigQuery is missing an interactive query example."
The [examples for running an interactive query](https://cloud.google.com/bigquery/docs/running-queries#queries) have been following a format where they display the code needed to run a query in the given language, and print the results.

For example, in the Java tab,
[code]
and the Python tab,
[code]

Meanwhile, the format for C# is displaying a function or method which may be used in such an exam

[2018-08-03 10:38] Greg3108 commented on #247
Hello,
We are facing an issue like Grpc.Core.RpcException: Status(StatusCode=DeadlineExceeded, Detail="Deadline Exceeded") while sending text message.
We are using Google.Cloud.Dialogflow.V2 nuget package (SDK) and we are sending request using below code
object result = client.DetectIntent(
session: new SessionName(PROJECT_ID, SESSION_ID),
queryInput: new QueryInput()
{
Text = new TextInput()
{
Te

[2018-08-03 15:26] SurferJeffAtGoogle commented on #247
Hi Greg3108.  Thank you for the report.  Is the issue you are experiencing related to http_proxy or the like?  If not, please open a new, separate bug so I can track the issue separately.

[2018-08-06 04:12] Greg3108 commented on #247
Hi SurferJeff,

We've also reported this bug to the dialogflow and we got the response like it was outage from their side.

Thanks
Greg.

[2018-08-08 07:15] ratneshkumarcs opened #592 "need help to call dialogflow API in C# window application."
Can anyone share some piece of code written in C# to call dialogflow API?

[2018-08-10 01:05] ratneshkumarcs commented on #592
Hi Sir,
i have been trying example since last 2 or 3 days unfortunately not succeeded. i have created one window application and install Nuget package (Google.Cloud.Dialogflow.V2) beta then setup google account and credential according to https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/README.md instruction. now problem is i am not aware which method call first And basically

[2018-08-11 07:01] mahi7891122330 commented on #561
If you are doing this in winform
You can do it in a while loop until the user press the stop button.

//declare public variable to exit the loop
 public bool Iscancelled  = false;
 private async void btnStart_Click(object sender, EventArgs e)
        {
                Iscancelled = false;
                btnStart.Enabled = false;
                btnStop.Enabled = true;
 while (!Iscancelled)

[2018-08-17 21:17] SurferJeffAtGoogle opened #604 "Add README and tests to pet shop application."
Tests need only confirm the code compiles without error.

[2018-09-10 17:50] GCoe opened #629 "Passing contexts with request"
Any reference on how pass contexts with a request on RequestExtras please ?

[2018-09-10 20:34] SurferJeffAtGoogle commented on #629
For which API?  Do you have sample code you're trying to get working?

[2018-09-10 20:40] GCoe commented on #629
Hi,

It was my mistake that is solved now.

Thank you

[2018-09-10 20:40] #629 closed

[2018-09-20 21:29] SurferJeffAtGoogle commented on #547
Move issue to library repo: https://github.com/googleapis/google-cloud-dotnet/issues/2532

[2018-09-20 21:29] #547 closed

[2018-10-05 21:57] jlara310 opened #651 "Cloud Firestore samples use older library version; SnapshotAsync is now GetSnapshoAsync"
Include="Google.Cloud.Firestore" Version="1.0.0-beta02"

Latest version is:
Include="Google.Cloud.Firestore" Version="1.0.0-beta11"

However, updating to the newer version causes samples to fail.

For example, in firestore/api/Quickstart:
dotnet run retrieve-all-documents <my-project>

Program.cs(82,53): error CS1061: 'CollectionReference' does not contain a definition for 'SnapshotAsync' and no a

[2018-10-06 15:07] gianghnd opened #653 "README.md Build and Run with Google Cloud Shell"
The instruction said that:
"Upload your JSON key file to Cloud Shell:

Use the Cloud Shell file browser to select the dotnet-doc-samples folder.
Use the File menu to select Import > File or Zip Archive"

However, I can't select File menu to select Import. It displays Export.

Please help to update README.md

Thanks,
Giang Hoa
![speechapi_01](https://user-images.githubusercontent.com/10970434/46572

[2018-10-08 22:04] SurferJeffAtGoogle commented on #578
Alexander, are the snippets complete?  Can we close this bug?

[2018-10-08 22:05] #578 closed

[2018-10-08 22:05] awkoren commented on #578
Yup all set, thanks.

[2018-11-09 02:56] RandomPotato26 opened #675 "Setting ImageContext"
After a few hours of looking around documentation, I could not find any want to set ImageContext language hints for Gvision. currently, beta 1-3 all limit the context to (get;)

[2018-11-27 22:52] dfdumaresq commented on #425
I'm having the same issue.

[2018-11-29 13:56] #561 closed

[2018-11-29 19:54] SurferJeffAtGoogle opened #692 "TestBatchGetAssetsHistory() is broken."
I'll change the code to skip the test, but we should get to the bottom of the test failure.

[2018-12-04 07:03] jatin1080 opened #697 "Sample app not working with latest version of google.cloud.logging.log4net"
I've tried running the sample app (https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/logging/api/Log4Net) for logging through log4net to send logs from GCE instance to Stackdriver. The app works fine but I noticed that the version of library google.cloud.logging.log4net used is 1.0.0-beta05. I tried updating the library version to the latest stable 2.2.1 version(by updating th

[2018-12-06 23:34] SurferJeffAtGoogle commented on #697
I [upgraded all the nuget dependencies](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/712), and [deployed to Compute Engine](http://104.197.30.64/).

Log entries appear:
![image](https://user-images.githubusercontent.com/11778530/49617940-7c7a3200-f96b-11e8-8777-21b603c089d7.png)

Note that **GCE VM Instance** must be selected to see the log statement.

Also, double check that yo

[2018-12-07 17:52] SurferJeffAtGoogle opened #713 "Spanner's TestDml() fails."
[code]

[2018-12-07 18:07] SurferJeffAtGoogle commented on #675
Here's one way to add context:
[code]

[code]

[2018-12-07 18:07] #675 closed

[2019-01-07 12:55] jpharaoh-google opened #723 "Spanner.sln is missing two projects"
I get an error when I try to follow these instructions, specifically when building Spanner.sln:

https://cloud.google.com/spanner/docs/getting-started/csharp/

The error goes away if I add the following two projects to the solution, both present in this repository:

- commandlineutil\Lib\CommandLineUtil.csproj
- testutil\testutil.csproj.

It seems that the solution file should include these projec

[2019-01-07 20:50] SurferJeffAtGoogle commented on #723
Thank you for reporting this issue.  A fix is on the way...

[2019-01-09 16:43] #723 closed

[2019-01-15 23:44] tswast commented on #583
@alixhami fixed this in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/679

[2019-01-15 23:44] #583 closed

[2019-02-01 16:01] lorienpatt commented on #549
I am also having this issue.  Following

[2019-02-12 05:00] SanaWaseem opened #738 "Integrating Google Speech to text in googlehome interaction"
Can you please guide how to integrate google speech to text in the way you have integrated other google apis with .net containers?

[2019-02-14 06:11] SanaWaseem opened #742 "Is it possible to debug it locally?"
Okay, so I created an ngrok URL and set it in the dialogFlow fulfillment webhook but i want to debug the application but the break point never hits the conversation controller. Can you please guide how to do that,

[2019-03-03 03:37] SurferJeffAtGoogle opened #748 "The IOT tests are failing."
I disabled them so that the nightly build succeeds.

Please submit a fix for the tests before making any other changes to the IOT code.

[2019-03-04 21:10] munkhuushmgl commented on #748
I will fix it.

[2019-03-04 23:45] munkhuushmgl commented on #748
IoT Core registries are limited 100 registries. It has reached 101 registries that was why it was failing.

[2019-03-08 17:42] tstivers1990 opened #753 "Method is recursive on all execution paths"
This can't be right...

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/d6177e7ccae7a582cf66b1e0740487ca93b63715/kms/api/CloudKmsAspNetSample/Services/EncryptedFileProvider.cs#L63-L71

[2019-03-13 16:04] SurferJeffAtGoogle commented on #748
The tests are failing again:
![image](https://user-images.githubusercontent.com/11778530/54294686-e3ad1100-456e-11e9-9310-6a1ac7ae56c4.png)

[2019-03-14 17:49] munkhuushmgl commented on #748
I have added limit checker method for reaching 100 registries.
I tested it, and it should not fail due to overloaded registries.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/760

Best
Mike

On Wed, Mar 13, 2019 at 9:04 AM Jeffrey Rennie <notifications@github.com>
wrote:

[2019-03-22 16:28] SurferJeffAtGoogle commented on #748
The last 8 test runs have failed:
![image](https://user-images.githubusercontent.com/11778530/54837876-ab02eb00-4c84-11e9-8e9e-daff73e86878.png)
![image](https://user-images.githubusercontent.com/11778530/54837948-cff75e00-4c84-11e9-8ddd-d01e69453c23.png)

[2019-03-22 17:26] munkhuushmgl commented on #748
Hey Jefft,

I found the bug, and fixed it. Looks like there was an update on an error
message which I expected in Assert.Contains().
Since they changed the error message, it was not passing that specific test.

It tested it, and tests should be good now
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/769

Mike

On Fri, Mar 22, 2019 at 9:28 AM Jeffrey Rennie <notifications@github.co

[2019-03-26 05:14] teepong commented on #738
บ้าน

[2019-03-27 17:38] jsimonweb commented on #713
This test is now passing.

From System test on Mar 27 2019, 6:42:05
"Passed   GoogleCloudSamples.Spanner.SpannerTests.TestDml"

[2019-03-27 17:39] #713 closed

[2019-03-28 09:49] helloneoberg commented on #425
You may wish to refer to this link: https://markheath.net/post/naudio-netstandard
Look under "Try it out!" section as it guide you to use the preview package.
The sample i downloaded is working now with the preview package from NuGet.
Hope it help..

[2019-03-28 22:54] SurferJeffAtGoogle commented on #425
I see the same warning:

[code]

But the code still runs and succeeds:
[code]

If I try upgrading to version `1.9.0-preview1`, then I see a compile error:
[code]

So, yes, I see the warning, but I'm not sure what to do about it.  The code works on Windows, and is skipped on Linux, and I see no better possible behavior.  Is there a better solution?

[2019-03-28 23:43] SurferJeffAtGoogle commented on #738
SanaWaseem,

Thank you for the request.

To help clarify, could you point me to another integration that we can use as a model of what you seek?

[2019-03-30 07:41] sdc224 opened #780 "Status Code unavailable, Detail="Name Resolution Failure" while updating Firestore Database"
Please help me, I am getting this error while using documentReference.SetAsync(entity) for Google Firestore

Sorry for my mistakes as I am beginner and I don't know how to post issues

## Stack Trace in Visual Studio 2017
System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean

[2019-04-10 16:44] wikes82 opened #788 "Firestore SDK think a number is integer instead of double"
getting "Unable to convert integer value to System.Double" on ConverterBase.cs :line 94
how to replicate:

1. create a document using firestore C# sdk with Double field
2.  modify the field using Google Firestore console or cloud function but set the number to whole number.
3. retrieve the same document using C# sdk.

If you only modify the fields through C# sdk, it will always work, even if you s

[2019-04-10 16:47] wikes82 commented on #788
sorry, just realized, i posted this issue on wrong repo

[2019-04-10 16:47] #788 closed

[2019-04-12 21:19] coryan opened #794 "Comment and code are out of sync?"
The comment for this Cloud Bigtable example does not line up with the code, it says "older than a month", but no GC rule specifies "a month":

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/93a3c1c73a2fc2aba88b2a7effa2afca643f6004/bigtable/api/TableAdminExample/TableAdmin.cs#L449

[2019-04-18 15:32] jskeet commented on #549
Hi folks, I've only just become aware of this issue. If this is a problem you're having with the client libraries, could you file an issue at https://github.com/googleapis/google-cloud-dotnet and give more context about what you're trying to do, including which API you're using? A complete example would be particularly helpful, along with context about where your code is running (locally, on GCP,

[2019-04-18 15:35] jskeet commented on #780
Hi, it looks like this is a DNS problem - you'd get this error if you couldn't resolve firestore.googleapis.com.

If this is a general client library issue rather than specifically about the samples, and if you're still seeing the problem, would you mind creating a new issue on https://github.com/googleapis/google-cloud-dotnet/issues with more information about the context?

[2019-04-19 22:04] #748 closed

[2019-04-19 22:08] SurferJeffAtGoogle commented on #753
Thanks for catching this.  Working on a fix...

[2019-04-19 22:20] tstivers1990 commented on #753
@SurferJeffAtGoogle Thank ReSharper :P

[2019-04-19 22:21] tstivers1990 commented on #753
That said, I ended up just changing the code to `throw new NotImplementedException();` and it worked, at least for my use case. I'm not familiar enough with the code to know if that function was ever intended to be implemented or not.

[2019-04-23 11:47] jskeet commented on #232
The job ID is now always created automatically, and `GetQueryResults` waits for the job to complete before returning the `BigQueryResults` anyway now.
Closing as obsolete.

[2019-04-23 11:47] #232 closed

[2019-04-23 11:48] jskeet commented on #317
(Closing given the comment.)

[2019-04-23 11:48] #317 closed

[2019-04-23 11:50] jskeet commented on #425
Note: NAudio 1.9.0 will target netstandard2.0 directly, but it's not out yet.

I suggest we leave this issue open until 1.9.0 is out, then update the sample to depend on that, at which point the warning should go away. (I note that Jeffrey tried with 1.9.0-preview1 before, but when 1.9.0 is actually out we can make any changes needed.)

[2019-04-23 12:05] jskeet commented on #548
(I realize this is an old issue and may be obsolete, but the information below could be useful anyway.)

That code should compile fine normally - even though `Order` is read-only, the collection initializer is *adding* to it, in this case via an extension method. You haven't specified the error message, but given that you're fully-qualifying all the rest of the names, I wonder whether you don't ha

[2019-04-23 12:05] #548 closed

[2019-04-23 12:07] jskeet commented on #522
It *should* work fine - and as of `Google.Cloud.Datastore.V1` version 2.2.0-beta02 you should be able to connect to the emulator much more easily - see http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Datastore.V1/#beta-support-for-emulator-detection

I'm going to close this issue now as a) you may well no longer even be using Datastore or the emulator; b) it should be solved by t

[2019-04-23 12:07] #522 closed

[2019-04-23 12:21] jskeet commented on #450
Closing for now as the Spanner provider has changed massively - reusing the same connection *won't* reuse the same session necessarily. At some point we'll want to add better retry handling that can reuse the session anyway, but until that point the samples don't need to be changed.

[2019-04-23 12:21] #450 closed

[2019-04-23 12:23] jskeet commented on #753
Closing as this was fixed by #796.

[2019-04-23 12:23] #753 closed

[2019-04-23 12:24] jskeet commented on #697
@jatin1080: Are you still facing this problem? I'd be happy to look into it if so; otherwise, I'll close the issue.

[2019-04-23 12:26] jskeet commented on #742
Can I ask if you're still facing this problem? If so, could you please provide more context in terms of the steps you've gone through? Does your web hook work when running elsewhere? Are you able to *run* with ngrok but not debug?
(As a general note, for further questions that aren't specific to the samples, please add the issue to https://github.com/googleapis/google-cloud-dotnet which is the rep

[2019-04-23 12:28] jskeet commented on #651
Looks like this has already been fixed.

[2019-04-23 12:28] #651 closed

[2019-04-23 12:31] jskeet commented on #444
@RickCooke: Can I check whether you're still running into this problem? My guess is that it was a problem with assembly binding redirects, but I'm happy to help with the diagnosis if it's still an issue. (Otherwise, we can close the issue.)

[2019-04-23 12:33] jskeet commented on #468
@BoasE: There's an example of an ancestor query at https://cloud.google.com/datastore/docs/concepts/queries#ancestor_queries if that's what you were looking for.
If not, and if this is still relevant to you, please could you give more details of what you're trying to achieve? I'll either try to find an existing sample for you, or let you know the code I'd expect to work and we can build a sample l

[2019-04-23 12:41] jskeet commented on #425
(Issue with Wave.WaveIn is still an issue with 1.9.0-preview2.)

[2019-04-25 06:31] MartinHolmes82 opened #800 "VB.net StreamingRecognize Mic"
Is there any guides on a VB.net version of the streaming recognize? Struggling to convert the C#. Thanks

[2019-04-25 06:57] jskeet commented on #800
No, I'm afraid we don't have any VB samples that I'm aware of. I'd expect online converters to work reasonably though. Is there any specific piece of code that's causing problems?

[2019-04-25 07:08] MartinHolmes82 commented on #800
I've tried the online converters but I get quite a few syntax errors. It's just around the logic of calling the different tasks to run asynchronous. I'll have another look. Thanks for responding so quickly.

[2019-04-25 14:44] sdc224 commented on #780
Hi, thank you for your support.

Actually I think it is a problem of my college Wi-Fi. As I am inside proxy network, there must be some fault going on, that's why I can't update the database. So I think, you have correctly identified the problem.

Thank you so much.

[2019-04-25 14:44] #780 closed

[2019-05-06 21:40] DazWilkin opened #810 "[Trace/Api] Outdated: port binding incorrect; deployment incorrect"
Source:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/trace/api

I'm diverging from the documentation by using Microsoft's container image `microsoft/dotnet:2.2-sdk` but -- IIUC -- this should not affect the behavior I observe:

### Port bindings

The documentation references `dotnet run` will bind to `:5000`:
[code]
In my experience, the default port binding is `:80`:
[co

[2019-05-09 13:43] jskeet commented on #800
Hi Martin - any update on this? Do you still need assistance? If you could post the specific chunk of code that's causing problems, I can try to convert it myself.

[2019-05-09 13:44] jskeet commented on #444
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:44] #444 closed

[2019-05-09 13:44] jskeet commented on #742
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:44] #742 closed

[2019-05-09 13:44] jskeet commented on #468
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:44] #468 closed

[2019-05-09 13:44] jskeet commented on #549
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:44] #549 closed

[2019-05-09 13:44] jskeet commented on #697
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:44] #697 closed

[2019-05-09 13:45] jskeet commented on #738
Closing as stale. Please add a comment with more information if you still need assistance, and I'll reopen the issue.

[2019-05-09 13:45] #738 closed

[2019-05-09 15:50] SurferJeffAtGoogle opened #812 "CloudIotMqttExampleTest is failing"
[code]

[2019-05-09 19:21] munkhuushmgl commented on #812
I will look into it

[2019-05-15 21:27] devna13 opened #819 "Sample dot-net code for Google AutoML Natural Language"
I'm trying to build a custom content classification using AutoML. Can AutoML API be accessed  with LanguageServiceClient similar to dotnet-docs-samples/language/api/Analyze/Program.cs  examples ?

[2019-05-20 13:07] jskeet commented on #800
Closing for the moment due to lack of information. We can always open this up again when we have a more concrete piece of code to help with.

[2019-05-20 13:07] #800 closed

[2019-05-20 13:10] jskeet commented on #819
No, the AutoML API is separate to the Natural Language API. We don't currently have a .NET client library for AutoML; you could *try* generating one yourself based on the [proto definitions](https://github.com/googleapis/googleapis/tree/master/google/cloud/automl/v1beta1) and the [instructions for adding an API to the google-cloud-dotnet repository](https://github.com/googleapis/google-cloud-dotne

[2019-05-20 17:31] munkhuushmgl commented on #812
Looks like it was issue with something outside of this code. I have just tested unit tests locally. It looks like it is back to normal.

[2019-05-21 22:07] SurferJeffAtGoogle commented on #812
Ok.  Then please create a PR to no longer skip the test.

[2019-05-21 23:11] munkhuushmgl commented on #812
Ok, Will do

[2019-05-22 15:41] #819 closed

[2019-05-24 20:18] munkhuushmgl commented on #812
I think I mis-used built-in github tool to create PR, and it looks like I already pushed changes.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/commit/2c9f9932082313e24f1a4d6b998e2857ae213136

[2019-05-24 21:53] SurferJeffAtGoogle commented on #812
Ok.  Thank you for letting me know.  It looks like the build is still
passing.

On Fri, May 24, 2019 at 1:18 PM munkhuushmgl <notifications@github.com>
wrote:

[2019-05-24 22:18] #812 closed

[2019-06-06 22:29] #325 closed

[2019-06-06 23:06] SurferJeffAtGoogle commented on #576
We're no longer expecting users to run samples.  The instructions aren't perfect.  But we have more important to bugs to fixed.

[2019-06-06 23:06] #576 closed

[2019-06-07 05:34] meteatamel commented on #576
Users not expected to run samples?

[2019-06-10 17:54] SurferJeffAtGoogle commented on #244
File no longer exists.  Obsolete.

[2019-06-10 17:54] #244 closed

[2019-06-11 00:11] #425 closed

[2019-06-11 00:30] SurferJeffAtGoogle commented on #692
Peter.  Could you please fix?

[2019-06-11 03:19] peter-zheng-g commented on #692
Is there anyway I can trigger the test to verify any possible fix I would possibly have? As communicated it always passes on my local machine.

[2019-06-11 13:53] srinivasrk commented on #247
Hello,
I have a similar issue, when I'm not on a company network I can access the API's. I have also set the http_proxy environment variable still no luck.

[2019-06-11 13:55] jskeet commented on #247
@srinivasrk: Could you check with your network administrator to check whether they're blocking access to googleapis.com domains?

[2019-06-11 15:12] jskeet commented on #247
@srinivasrk: I'm afraid I don't know about that. The [list of gRPC environment variables](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md) doesn't talk about authentication aspects for a proxy :(

[2019-06-11 16:14] SurferJeffAtGoogle commented on #810
ASP.NET core has made answering the simple question, "Which port will it bind to?" quite difficult.  For example, see https://github.com/aspnet/AspNetCore/issues/4159 and https://josephwoodward.co.uk/2017/02/many-different-ways-specifying-host-port-asp-net-core.

For this particular code sample, when I run it locally, it runs on port 5000.

[code]

I tried following the current instructions in thi

[2019-06-11 16:14] #810 closed

[2019-06-11 16:17] SurferJeffAtGoogle commented on #692
Yes.  Create a pull request that stops skipping the test.  Label it with `DO NOT MERGE`.  A pre-submit test will automatically run.

[2019-06-11 18:06] simonz130 commented on #604
This is in progress but currently the test on Windows fails due to .NET Framework 2.0 issue with permissions https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/833

[2019-06-12 07:00] lenzi12 commented on #247
Hello, after two years something has changed, because setting of http_proxy variable didn't help.
Our IT support had to enable this communication on the proxy and now it works.

[2019-06-12 15:52] srinivasrk commented on #247
@lenzi12 Ah okay. Is there anything specific you can tell me so I can relay the same info to my networking team ? Thank you !

[2019-06-13 13:52] lenzi12 commented on #247
I just let them know that I need communicate on that address and they did something. :-)

[2019-06-19 16:42] Shinehah-Gnolaum opened #840 "How do I run QuickStart.exe?"
In the readme file here [Google Cloud Speech API Samples](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/vs2015/speech/api#google-cloud-speech-api-samples), it says under Build and Run:

5. From the command line, run QuickStart.exe:

I get an error when I type in the command line on Windows 10:

that says

I did a search on the internet for PS. I didn't get anything.

Could someon

[2019-06-19 16:46] Shinehah-Gnolaum opened #841 "QuickStart.exe is not built and cannot be found."
At [Build and Run - Google Cloud Speech API Samples](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/vs2015/speech/api#build-and-run).

I was able to proceed up to step four, but there is no QuickStart.exe to find after that.

What am I doing wrong?

[2019-06-21 13:26] Shinehah-Gnolaum opened #843 "ERROR(S): No verb selected."
I get the following in the Command Line Console in Windows 10 when I run Recognize sample using Visual Studio 2019:

Recognize 1.0.0
Copyright (C) 2019 Recognize
ERROR(S):
No verb selected.

  sync            Detects speech in an audio file.

  async           Creates a job to detect speech in an audio file, and waits
                  for the job to complete.

  stream          Detects speech in

[2019-06-21 13:41] jskeet commented on #843
I didn't write the sample, but I believe it's expecting you to provide one of those options on the command line. If you want to run the code within Visual Studio, go into the Properties window for the project, then under the "Debug" tab, in the "Application arguments" textbox, enter the command line arguments you want to use. Or run it from the command line instead, of course.

[2019-06-21 13:44] jskeet commented on #841
You're looking in the vs2015 branch (last updated in 2017) - are you trying to use VS2015, or are you on a more modern version of Visual Studio? The [documentation in the master branch](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api) shows using `dotnet run` to run the sample.

[2019-06-21 13:46] jskeet commented on #840
The "PS" is indicating running it in PowerShell. Many of scripts in this repo use PowerShell, but for the example you're using, you don't need to.
Just follow the [master branch documentation](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api) and you should be fine.

[2019-06-21 13:46] #840 closed

[2019-06-21 14:55] Shinehah-Gnolaum commented on #841
I'm using Visual Studio 2019 on my PC. I'm using Visual Studio for Mac on my Mac mini also. I'm trying whatever I can get to work.

[2019-06-21 14:58] jskeet commented on #841
Right. In that case you definitely don't want to be using the old vs2015 branch. You will need the .NET Core SDK installed though.

If you just run `dotnet run` from the QuickStart directory, it should work fine. (Even the `dotnet restore` step is unnecessary with recent versions of the .NET Core SDK.)

[2019-06-21 15:22] Shinehah-Gnolaum commented on #843
The Debug tab doesn't show long enough for me to be able to see it or to lock it in. I can't find in the menu where I can open it. It's not in the Visual Studio Windows menu.

[2019-06-21 15:22] jskeet commented on #843
Not the debug tab in output when it's running - it's in the project properties. Right-click on the project in solution explorer, and select "Properties".

[2019-06-21 15:24] Shinehah-Gnolaum commented on #843
Ok. I found it. Thanks.

[2019-06-21 15:46] Shinehah-Gnolaum opened #844 "Error:"invalid_grant", Description:"Robot is disabled.""
When I run Recognize in Visual Studio 2019 on Windows 10 with the following in the project's Properties->Debug->Application arguments:

I get an error in the editor in the IDE at the line that starts with var longOperation = ... in the LongRunningRecognize() method, that says:

The primary error as shown above is:

I've gotten this same error trying code to do a long audio file in other projects.

[2019-06-21 16:02] jskeet commented on #844
Are your credentials by any chance associated with a deleted Google Cloud Project or account? Which credentials are you using?

[2019-06-21 16:08] Shinehah-Gnolaum commented on #844
That must be it, because now I get a different error.

[2019-06-21 16:08] #844 closed

[2019-06-21 16:12] Shinehah-Gnolaum opened #845 "Request payload size exceeds the limit: 10485760 bytes."
I am getting an error running Recognize that says in in Visual Studio 2019 IDE in the Editor Window that says the following:

Here are the details:

I've had this error before. The file I'm using is less than an hour long. I thought there is a 480 minute max.

[2019-06-22 06:25] jskeet commented on #845
I'll look into this on Monday.

[2019-06-24 07:47] jskeet commented on #843
Closing as it looks like this is sorted.

[2019-06-24 07:47] #843 closed

[2019-06-24 07:47] jskeet commented on #841
Closing as I believe just using the recent branch should be fine.

[2019-06-24 07:47] #841 closed

[2019-06-24 07:49] jskeet commented on #845
From https://cloud.google.com/speech-to-text/quotas:

So if you upload the file to Google Cloud Storage first (and change the code to recognize from there) I'd expect it to be fine.

Closing as I believe this is working as intended.

[2019-06-24 07:49] #845 closed

[2019-06-28 09:45] Dhanalakshmi-Jayakumar commented on #843
Hi, what context has to be provide in the "Application arguments" textbox

[2019-06-28 10:27] jskeet commented on #843
@Dhanalakshmi-Jayakumar: The same arguments that you'd provide on the command line. I would suggest running from the command line to start with, so you can run with the "help" verb etc.

[2019-06-28 11:06] Dhanalakshmi-Jayakumar commented on #843
Im not clear with the command line, could you please provide the required details elaborately

[2019-06-28 11:20] jskeet commented on #843
It's not clear whether you mean you don't know how to run the code from the command line, or you don't know what command line arguments to supply.
But the README in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/speech/api gives fairly clear instructions.

If you need more help, please file a new issue explaining what you've tried and exactly what happens.

[2019-07-15 21:39] #794 closed

[2019-07-18 17:36] bgrainger opened #854 "Use MySqlConnector in appengine/flexible/CloudSql"
[MySqlConnector](https://github.com/mysql-net/MySqlConnector) is an alternative MySQL client library for .NET with the following advantages:

* fully async, so code like the following will actually execute asynchronously (the current code sample executes synchronously due to a [long-standing bug](https://bugs.mysql.com/bug.php?id=70111) in Connector/NET): https://github.com/GoogleCloudPlatform/dot

[2019-07-18 18:44] MartinHolmes82 opened #855 "Control Words"
Does anyone have a list or know where I can find s list of control words (e.g New paragraph, comma, full stop) that is usable within cloud speech to text?

Thanks

[2019-07-30 12:40] BidyaSagarJena opened #860 "Unable to get data by calling GetSnapshotAsync"
Hello Team,

The example is working fine in a console application but not working in a windows forms applicaton.

Code
======

        private static void Form1_Load(object sender, EventArgs e)
        {
            string filepath = @"C:\Birghtstar\RnD\DotNet\NotificationTest\SendNotificationTest\SendNotificationTest\Env\jdesimbamonitoring-65815de98a72.json";
            Environment.SetEnvironmen

[2019-07-30 13:39] jskeet commented on #860
This is the problem:

[code]

By calling `Wait()`, you're blocking the UI thread - it can't do anything else until the task returned by `RetrieveAllDocuments` has finished.
However, that task can't complete because it needs to come back in the UI thread here:

[code]

So you've got a deadlock.

The fix is to avoid that `Wait()` call, probably by making your `Form1_Load` method asynchronous and awa

[2019-07-30 13:40] jskeet commented on #860
(I'll close this issue now as I'm very confident that's the problem. Please add a comment if this doesn't work for you and you need the issue to be reopened.)

[2019-07-30 13:40] #860 closed

[2019-07-30 17:49] anguillanneuf opened #861 "Pub/Sub: publish example doesn't seem to publish anything"
Could we update this sample to match existing publish examples in other languages [here](https://cloud.google.com/pubsub/docs/publisher#publish), specifically Python/Java/Go? The goal is to show publish *multiple* messages *with error-handling*.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/04a4b67baa05a84ad85ed0904a7af4acfa6a106f/pubsub/api/PubsubSample/Program.cs#L243-L246

[2019-08-06 10:56] phanser83 opened #864 "WordTimeOffsets gets reset after creating new StreamingRecognizeRequest(need InfiniteStreamRecognize in c#)"
Hi,
I am trying to get transcription along with its word info specially for start and end timings for each and every word. This is for long streaming videos for which audio is extracted using ffmpeg. when it reaches 5 mins of video it throws error about maximum allowed stream length.
To Avoid "Exceeded maximum allowed stream duration of 305 seconds " error, I am creating new StreamingRecognizeRequ

[2019-08-06 15:07] jskeet commented on #864
Trying to break the stream into chunks will indeed cause difficulties. I suggest you try to use the "infinite streaming" approach shown [here](https://cloud.google.com/speech-to-text/docs/streaming-tutorial). There isn't a C# example yet, but I'm hoping we'll have one in a few weeks.

[2019-08-08 07:42] jskeet commented on #855
Hi @MartinHolmes82,

I don't know details of that - the maintainers of this repo usually aren't experts in individual APIs, instead being focused on making sure that we can expose the APIs fully and idiomatically in .NET.
I think you'd be best off asking in one of the [Speech-to-Text-specific support channels](https://cloud.google.com/speech-to-text/docs/getting-support) - I'd recommend either the

[2019-08-22 03:58] kimyw3007 opened #874 "[ISSUE] After PullSync, Ack is not working"
Hi

i faced some problem when i use this api

First My Pull code is that:

[code]

I think this code is almost same to sample code

sometimes

[code]

above code is not working (subClient is SubscriberServiceApiClient's instance)

important is "sometimes".

sometimes is working well but sometimes is not working

So if Problem will be occured, After few times later and then this messages are recove

[2019-08-28 19:16] voliverio opened #877 "System.AggregateException error on FirestoreDb"
Hi,

I have an ASP.Net project using Google.Cloud.Firestore API to connect to a Firestore database but I can't get it to work. When I try to query data or add data I get an System.AggregateException saying "The entry point was not found".

Here follows the code I'm using:

`
string filepath = @"<file_path";
Environment.SetEnvironmentVariable("GOOGLE_APPLICATION_CREDENTIALS", filepath);
string proj

[2019-08-28 19:18] jskeet commented on #877
Please could you show the complete stack trace, and specify the exact version of the Firestore package you're using?

[2019-08-28 19:37] jskeet commented on #877
I'd expect to see more than that in the stack trace - and it's odd that that's coming up when disposing. Please could you provide the platform versions mentioned in my earlier comment? If you could give me a complete recipe to reproduce the problem, that would help a lot.

[2019-08-28 20:00] jskeet commented on #877
I'll try to reproduce it tomorrow. I'd expect it to be okay... (I'm not sure if I've still got VS2017 installed, but I'll try on VS2019 first.)

I don't think this will be an authentication issue.

[2019-08-29 06:00] jskeet commented on #877
Can I ask if you're connected with user bjornbacklund, who reported https://github.com/googleapis/google-cloud-dotnet/issues/3398 yesterday? It seems unusual for the same issue to be reported twice within a few hours if they're unconnected.
If you work on the same project, I suggest I close this issue and you subscribe to the other one.

[2019-08-29 10:44] voliverio commented on #877
Hi Jon,

Actually it is a coincidence, I don't know him.

Thank you.

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Jon Skeet <notifications@github.com>
Sent: Thursday, August 29, 2019 3:00:08 AM
To: GoogleCloudPlatform/dotnet-docs-samples <dotnet-docs-samples@noreply.github.com>
Cc: voliverio <viniciusoliverio6@hotmail.com>; Author <author@noreply.git

[2019-08-29 10:52] jskeet commented on #877
Gosh, interesting.

Anyway, I suspect the cause is the same: I suspect you've got a dependency on Grpc.Core 2.23.0, which is incompatible with the Firestore library. I'm going to try to update our GAX libraries to add an upper bound to the Grpc.Core dependency, so that this causes a build-time error.
(We'll be updating to the new version of Grpc.Core at some point, but that will cause a major vers

[2019-08-29 11:59] voliverio commented on #877
Hi Jon,

That was the problem, I downgraded Grpc to 1.22 as you suggested in [https://github.com/googleapis/google-cloud-dotnet/issues/3398](url) and it worked.

Thank you very much.

[2019-08-29 11:59] #877 closed

[2019-09-05 03:53] eighteen20 opened #882 "com.google.api.gax.rpc.OutOfRangeException: io.grpc.StatusRuntimeException: OUT_OF_RANGE: Exceeded maximum allowed stream duration of 305 seconds."
When I use "Performing streaming speech recognition on an audio stream" for a long time,，
 throw a "com.google.api.gax.rpc.OutOfRangeException: io.grpc.StatusRuntimeException: OUT_OF_RANGE: Exceeded maximum allowed stream duration of 305 seconds." exception.
 Is this because of restrictions? What if I want to use the "Performing streaming speech recognition on an audio stream" for a long time?

`c

[2019-09-05 06:28] jskeet commented on #882
Yes, this is an API restriction, as [documented here](https://cloud.google.com/speech-to-text/quotas). It's possible to create a new stream and replay audio that hasn't yet been recognized; there are currently [examples of this "endless streaming"](https://cloud.google.com/speech-to-text/docs/endless-streaming-tutorial) for Java, Node.js and Python, but not for .NET yet. I'm hoping to work on such

[2019-09-05 06:28] #882 closed

[2019-09-05 08:01] eighteen20 commented on #882
@jskeet
Thank you for your answer

[2019-10-16 17:05] amanda-tarafa commented on #855
Hi @MartinHolmes82,
I'll be closing this issue now, hopefully you've had luck in any of the channels recommended by @jskeet on the previous comment.
Feel free to create new ones if you have issues with the samples in this repo.

[2019-10-18 23:17] amanda-tarafa commented on #854
Hi @bgrainger, thanks. We'll keep using MySql.Data for our samples.

[2019-10-18 23:17] #854 closed

[2019-10-30 15:06] phanser83 commented on #864
Hi , Thanks for your reply. I missed it as i was not subscribed for notification. There is sample available  now in c# for infinite streaming. I will have a look at that. I did refer java infinite streaming code but java code has some issues (i run in maven, eclipse) in getting endresulttime correct after sending new request. Same issue occur in my c# code (i wrote myself referring to java code).

[2019-12-18 13:16] amanda-tarafa opened #924 "Reactivate Sudukumb WebApp tests after fixing Chrome Driver issue."
We are getting the following error when trying to run Sudokumb WebApp tests which use Selenium.

I've deactivated these tests (#922) until the issue is fixed. I want to check all other possible failures and get CI as green as possible to be able to merge several PRs we have pending.

@SurferJeffAtGoogle any pointers as to what this error may be are welcomed.

[2020-01-10 12:52] amanda-tarafa opened #928 "Reactivate Leaderboard test after fixing flakiness."
The Leaderboard test frequently timesout and it's hard to diagnose because all tests are in one method. Different methos should be created for different tests and then we can diagnose the timeouts properly.
I've skipped it in #927.

[2020-01-13 21:19] crwilcox opened #930 "storage: separate each sample into a separate file"
Each sample should be in a standalone file. This workitem is to track that work.

[2020-01-14 03:31] eighteen20 opened #931 "Set log print level"
The console prints some of these logs when I test the code for "streaming speech recognition on audio streams"：
[code]
Because these logs affect my viewing results, I don't know if I can set the log print level. I tried to set them, but I don't know where to set them? Or is there any other way to not print these logs? Thanks!

[2020-01-14 09:05] #931 closed

[2020-01-21 15:02] amanda-tarafa opened #935 "Dialogflow.DetectIntentTextsTest not passing"
The test defined in [DetectIntentTextsTest.TestDetectIntentFromTexts](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/dialogflow/api/Test/DetectIntentTextsTest.cs is not passing, it seems to be very strict. It's OK to loosen it up, we just want to test that the sample makese sense.
It should be checked by someone who is familiar with the Dialogflow API and can write a good e

[2020-01-21 16:12] amanda-tarafa commented on #935
@telpirion I've assigned this to you because I know you have been working on some of the Dialogflow samples, but please feel free to assign to someone who might be familiar with the Dialogflow API.
I think the test is too strict and can be loosen up so that it passes, but I'm not that familiar with the Dialogflow API as to know what is a good enough test.
Wait till #936 is merged to start on this

[2020-01-27 22:21] telpirion commented on #935
@nnegrey Who is much more knowledgeable about Dialogflow than I am.

I'll take a look this week and try to diagnose what the issue is.

[2020-01-31 04:19] mitulpanch opened #944 "Any Memorystore Redis example"
Would really appreciate an example of Memorystore Redis for .net core

[2020-02-05 09:38] amanda-tarafa opened #947 "[Dialogflow] Reenable samples tests, they keep reaching quota."
Even after #936, quota is still being reached. I can't reproduce this in local. Will disable samples again until I hava enough time to properly look into it.

[2020-02-13 00:43] jkwlui opened #955 "IAM conditions samples"

[2020-02-17 07:26] harsh-tukadiya opened #958 "Getting exception: Grpc.Core.RpcException: 'Status(StatusCode=InvalidArgument, Detail="Inline audio exceeds duration limit. Please use a GCS URI.")'"
When audio is more than 1 minute getting this following exception,
Grpc.Core.RpcException: 'Status(StatusCode=InvalidArgument, Detail="Inline audio exceeds duration limit. Please use a GCS URI.")'

It is working fine with the audio which is less than 1 minute..

My code, Program.cs

    var speech = SpeechClient.Create();
            var longOperation = speech.LongRunningRecognize(new RecognitionC

[2020-02-17 10:42] amanda-tarafa commented on #958
Closing in favor of googleapis/google-cloud-dotnet#4297

[2020-02-17 10:42] #958 closed

[2020-02-24 11:25] amanda-tarafa commented on #947
Include looking into the test on #933 which timesout.

[2020-02-24 11:25] amanda-tarafa commented on #947
Assigning to @telpirion so he can keep or reassign to the person responsible for Dialogflow samples.

[2020-02-25 20:06] #955 closed

[2020-02-25 22:41] tbpg opened #964 "testing: enable Flaky Bot"
Instructions here: https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop

[2020-02-25 22:53] tbpg commented on #964
I installed the bot on the repo (first step of the instructions). We still need to call the `buildcop` binary to publish the test logs.

[2020-03-01 15:49] amanda-tarafa commented on #964
I'll get to this once I've fixed some already identified issues because of a version bump that we had to take last week, don't want Build cop to flood the repo.

[2020-03-01 16:13] amanda-tarafa commented on #944
I'll try to have some examples include. In the meantime, there's some basic information and the library reference here: https://googleapis.dev/dotnet/Google.Cloud.Redis.V1/latest/index.html

[2020-03-02 18:19] tbpg commented on #964
Thanks! Let me know if you run into any issues. :)

[2020-03-03 05:47] Ankitappperfect opened #969 "Unable to assign role to service account"
I'm able to create a service account but facing issues while assigning a role to the service account. Here is the approach I'm using

			Binding binding = new Binding();
			List<String> members = new ArrayList<>();
			members.add("serviceAccount:" + serviceAccount.getEmail());
			binding.setMembers(members);
			binding.setRole("roles/editor");
			Policy policy = new Policy();
			List<Binding> bind

[2020-03-03 05:51] #969 closed

[2020-03-05 12:25] laljikanjareeya commented on #944
@amanda-tarafa currently, I am working on same, will create PR shortly.

[2020-03-05 14:08] amanda-tarafa commented on #944
Oh that's great @laljikanjareeya. I'll assing the issue to you then, thanks!.

[2020-03-09 16:35] amanda-tarafa commented on #928
@jsimonweb reassigning to you since you are the original writer of these tests, and might have better insights in what is happening. See also a related internal buganizer issue that I've assigned to you.
Let me know if there's something I can do to help.

[2020-03-16 20:25] Strykrol opened #976 "docs: removes unused dialogflow code samples"
Removes dialogflow samples not surfaced on cloud.google.com. These samples obviated their containing files, which in turn were deleted.

#975

[2020-03-19 19:47] amshekar opened #982 "Build error in Dialogflow V2 client.DetectIntent of session property"
Dear @SurferJeffAtGoogle
under Google.Cloud.Dialogflow.V2 nuget package
the associated SessionName method has three parameters `SessionName(string projectId, string locationId, string sessionId);` but in the following reference has only two parameters getting build error.
** what is the value that we supposed to pass for this locationId parameter**

Google.Cloud.Dialogflow.V2.SessionName class fro

[2020-03-19 20:35] amanda-tarafa commented on #982
I will get back to you tomorrow morning GMT

[2020-03-20 07:47] sourav-paul opened #983 "Can't select Firestore as native mode."
All my other projects are selected to Firestore in native mode. But in one project I can't select it anywhere. Even inside the Datastore dashboard. It says no project exists.
![datastore dashboard](https://user-images.githubusercontent.com/6245802/77144751-e52de500-6ab0-11ea-87a2-606becac0ae4.PNG)

Firestore says to go to the Datastore dashboard.
![firestore dashboard](https://user-images.githubus

[2020-03-20 08:14] jskeet commented on #983
I suspect you have at some point created a Datastore database in that project, or have at least selected the Firestore in Datastore mode for that project at some point. What happens if you click on the "Go to Datastore page"?

As per https://cloud.google.com/datastore/docs/firestore-or-datastore:

Note that the maintainers of this repository aren't experts in individual APIs - we know more about t

[2020-03-20 08:14] #983 closed

[2020-03-20 08:51] sourav-paul commented on #983
Thanks @jskeet .
When I click **Go to Datastore Page** it goes here.
![when clicked to go to datastore page](https://user-images.githubusercontent.com/6245802/77148385-b0725b80-6ab9-11ea-8bbf-2eb2989d195c.PNG)

In case this comment/attachment doesn't help, I'll contact firebase support.

[2020-03-20 08:52] jskeet commented on #983
Right - that's basically showing that that project has a Datastore database, so you can't use it in Firestore Native Mode, I'm afraid.

[2020-03-20 09:01] sourav-paul commented on #983
I just found the issue. Project default app engine was disabled. Cloud Firestore and Datastore use the default app engine under the hood. After enabling it, I could switch to native mode.

[2020-03-20 09:01] jskeet commented on #983
Excellent - glad to hear it!

[2020-03-20 11:47] amanda-tarafa commented on #982
@amshekar
You are using the latest version of our client library `Google.Cloud.Dialogflow.V2 2.0.0` (totally fine, keep doing that), while the samples are still using an older version (I will fix this later today), that's why you get the build error.

- Change the code to
`session: SessionName.FromProjectSession(projectId, sessionId),`
- I will update the sample project to use the latest client li

[2020-03-20 15:38] amshekar commented on #982
@amanda-tarafa  Thanks for your quick help.  It's worked like a charm

[2020-03-24 05:22] laljikanjareeya opened #985 "Spanner: Samples for Backup and Restore functionaity"
- CreateBackup - create a new backup
- DeleteBackup - Deletes a pending or completed backup.
- GetBackup - Gets metadata on a pending or completed backup.
- GetBackupOperations - get backup operations in the instance.
- GetBackups - Get completed and pending backups.
- RestoreDatabase - Creates a new database by restoring from a completed backup.
- UpdateBackup - Updates the expiration time of a p

[2020-03-25 11:07] amanda-tarafa opened #987 "Update Google Home meets .NET Containers dependencies."
We have taken a [major version bump on all client libraries](https://github.com/googleapis/google-cloud-dotnet/blob/master/docs/root/major-version.md) and it would be nice if [this application](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/applications/googlehome-meets-dotnetcontainers)'s dependencies were updated.
@meteatamel assigning to you since you created the applica

[2020-03-25 11:36] amanda-tarafa commented on #861
@SurferJeffAtGoogle assigning to you since you are the last person to have modified the offending sample.

[2020-03-25 11:38] amanda-tarafa commented on #864
@phanser83 Did you manage to get your issues solved by looking at the C# infinite streaming sample?

[2020-03-25 11:40] amanda-tarafa commented on #692
@peter-zheng-g ping on this. Can you please try and fix the broken test.

[2020-03-25 11:51] amanda-tarafa commented on #874
@kimyw3007 Sorry for the late response on this.
Are you still having trouble with this?

[2020-03-25 12:00] amanda-tarafa opened #988 "Check that all sample library dependencies have been updated and fix breakages."
After merging #952 which updated library dependencies for most sample projects, CI has been knowingly broken. The libraries have taken a major version bump, breaking changes included, and that is what has broken samples.
I'm working through this right now.

[2020-03-25 12:02] amanda-tarafa commented on #982
Closing now since your particular Dialogflow issue has been addressed and fixing the sample itself if being tracked in #988 .

[2020-03-25 12:02] #982 closed

[2020-03-25 12:04] amanda-tarafa commented on #861
Actually, I can do this now.

[2020-03-25 14:59] meteatamel commented on #987
Hi Amanda, I checked and the dependencies are already automatically updated. I setup and ran the sample and it still works, so I think we're good. I had to change the Dockerfile a little to get the sample working, and sent a pull request to have that change in the main repo. Please merge.

[2020-03-25 18:41] amanda-tarafa commented on #964
Blocked by #988

[2020-03-26 10:12] amanda-tarafa opened #990 "Bigtable: Please write method names in PascalCase and not in camelCase."
In PR #957 all new method names are camelCase and they should be PascalCase which is C# expected style. Please fix.

[2020-03-26 11:30] amanda-tarafa opened #992 "Bigtable: Snippets project should be updated to latest Bigtable client library."
All .NET client libraries have taken a [major version bump](https://github.com/googleapis/google-cloud-dotnet/blob/master/docs/root/major-version.md) recently, including Google.Cloud.Bigtable.V2, which includes breaking changes.
I'm currently updating most sample projects except for the ones that need significant rework because of the major version bump (#988 ).
[Bigtable.Snippets](https://github.

[2020-03-26 17:29] meredithslota commented on #861
Yay! This issue is OOSLO and I was just about try to find an owner, and here you are. :) Thank you!

[2020-03-28 23:30] chuksgpfr opened #993 "InvalidOperationException: The Application Default Credentials are not available."
How do i fix this. I want to set my authentication in my code and not on the machine.
I have checked almost every answer on stackoverflow and github, but none has a good explanation.

How do i pass the credentials to the create intent, it throws this error.

`//auth
GoogleCredential credential = GoogleCredential.FromFile(file);

            //var credential = GoogleCredential.FromStream(

[2020-03-29 10:11] chuksgpfr commented on #993
@amanda-tarafa any help?

[2020-03-29 10:37] amanda-tarafa commented on #993
Without looking at the stack trace, I'm guessing that you get the error on `var client = IntentsClient.Create();`.
The `<API>Client.Create()` method for API clients defined in Google.Cloud.* client libraries only creates the default client using default settings and default credentials. If you want to specify the credentianls yourself or other than the default settings then you need to use the `<A

[2020-03-29 10:49] chuksgpfr commented on #993
Works. Thanks @amanda-tarafa

But there's another issue of my training phrase entering just one place.

Like on my dialogflow console, the training phrase i added through code, shows in one box

[2020-03-29 10:53] amanda-tarafa commented on #993
I'll be closing this issue now since it has been fixed.
For a different proble please a create a new issue. And please provide a good explanation of what you are doing, what result you are expecting and what result you are actually seeing. A very small program exactly reproducing the problem would be best, else please provide as much information as possible including error messages, stack traces,

[2020-03-29 10:53] #993 closed

[2020-03-29 11:23] chuksgpfr opened #994 "Training Phrase array ends up as a single text in dialogflow console"
The training phrase ends up as a single phrase after running my code.

this is my code
           `string[] trainingPhrasesParts =
            {
                "Book a fligt",
                "check cheap flights"
            };

            var phraseParts = new List<Intent.Types.TrainingPhrase.Types.Part>();
            foreach (var part in trainingPhrasesParts)
            {
                ph

[2020-03-29 11:46] amanda-tarafa commented on #994
Please first note that the maintainers of this repo and of [googleapis/google-cloud-dotnet](https://github.com/googleapis/google-cloud-dotnet) are not experts on each individual API, just on the client libraries themselves.

That said, the result you are seing seems to be the expected result (see in the documentation for [TrainingPhrase](https://cloud.google.com/dialogflow/docs/reference/rpc/googl

[2020-03-29 11:46] #994 closed

[2020-03-30 08:54] chuksgpfr opened #995 "Dialogflow : ArgumentException: Wildcard resource ids must not contain / (Parameter 'value')"
I'm tryitn to create new entity with synonyms but im getting this error

ArgumentException: Wildcard resource ids must not contain / (Parameter 'value')

This is my code.

`

            EntityTypesClientBuilder builder = new EntityTypesClientBuilder
            {
                CredentialsPath = file
            };
            EntityTypesClient client = builder.Build();

            var entityTy

[2020-03-30 09:00] jskeet commented on #995
Transferring this to google-cloud-dotnet as I don't believe this is a samples issue.

[2020-03-30 09:55] amanda-tarafa commented on #995
You don't need to create a new EntityTypeName since you already have the one you need:

[code]
Also, maybe consider renaming the variable `entityTypeId` to `entityType` since the `CreateEntityType` method returns an `EntityType` instance and not just its ID.

[Here](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/dialogflow/api/DialogflowSamples) are some samples that will h

[2020-03-30 09:55] #995 closed

[2020-03-30 13:47] amanda-tarafa commented on #987
Thanks! Will merge shortly.

[2020-03-30 13:52] amanda-tarafa commented on #861
I'll get to it this week!

[2020-03-30 14:02] amanda-tarafa commented on #653
@gianghnd Sorry for the delay on this.
Are you still experiencing this issue?

[2020-03-30 14:31] amanda-tarafa commented on #988
Note to self: If by the time this is fixed, Dialogflow hasn't generated properly (googleapis/google-cloud-dotnet#4646) create a new issue to track that and update Dialoglfow dependencies when it has generated properly.

[2020-03-30 16:25] chuksgpfr opened #997 "UpdateIntent overrites old training phrase instead of updating"
The updateintent overrites old intents, see my code below.

`
                        trainingPhrase.Parts.AddRange(phraseParts);
                        intent.TrainingPhrases.Add(trainingPhrase);
                        var req = new UpdateIntentRequest();
                        req.Intent = intent;
                        client.UpdateIntent(req);
`

@amanda-tarafa

[2020-03-30 17:43] amanda-tarafa commented on #997
What exactly do you mean by "overwrite" and what do you expect "update" to do instead? Have you looked at the API documentation I linked in the previous issue and confirmed that this is not the expected behavior?
In general my advice would be that you first determine what you want to achieve, then read the API documentation and the client library reference docs to find out how to achieve it, and o

[2020-03-30 23:09] amanda-tarafa commented on #988
Note to self: IRM samples. (have checked internally)

[2020-03-31 09:19] amanda-tarafa commented on #987
Closed via #989

[2020-03-31 09:19] #987 closed

[2020-03-31 09:24] amanda-tarafa opened #999 "Log4Net Sample: Update sample to use latest libraries."

[2020-03-31 23:04] amanda-tarafa opened #1000 "IRM samples: Remove samples"
We have never released a package and only generated an alpha library.

Leftover from #988

[2020-04-01 00:30] amanda-tarafa commented on #988
#1000 Created.

[2020-04-01 16:51] amanda-tarafa opened #1002 "Video: AnalyzeLabels test is failing."
[This test](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/ff662994ce2224ce4838454fe5f5994f22e58a5d/video/api/Test/Tests.cs#L100) is failing. I've skipped it in #1001 but it should be fixed.

@SurferJeffAtGoogle Assigning to you since you wrote this sample and test.

[2020-04-01 17:17] Strykrol commented on #976
Ready for you @amanda-tarafa

[2020-04-01 17:48] amanda-tarafa opened #1003 "Dialogflow: Clean up samples mainly on resource name usage..."
... once googleapis/google-cloud-dotnet#4646 is fixed.

Leftover from #988.

[2020-04-01 17:50] amanda-tarafa commented on #988
Created #1003

[2020-04-01 17:58] amanda-tarafa opened #1004 "AppEngine Flex: Cleanup and update dependencies."
Leftover from #988 , there's a lot of work to do, possibly redo some of the applications.

[2020-04-01 21:04] amanda-tarafa commented on #1002
And also [TestObjectTracking](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/ff662994ce2224ce4838454fe5f5994f22e58a5d/video/api/Test/Tests.cs#L189)

[2020-04-01 22:03] SurferJeffAtGoogle commented on #1002
@amanda-tarafa  When did the test start failing?  The exception being thrown is:

Grpc.Core.RpcException : Status(StatusCode=InvalidArgument, Detail="Request contains an invalid argument.")

If a request that used to succeed starts failing with InvalidArgument, that's a breaking change in the API.

[2020-04-01 23:53] amanda-tarafa commented on #653
@gianghnd I will be closing since we haven't heard anything. Please leave a comment if you are still having trouble so we can reopen.

[2020-04-01 23:53] #653 closed

[2020-04-02 00:10] amanda-tarafa commented on #864
@phanser83 Closing this issue for now. If you are still experiencing problems, leave a comment and we can reopen. Thanks.

[2020-04-02 00:10] #864 closed

[2020-04-02 00:11] amanda-tarafa commented on #874
@kimyw3007 Closing this issue for now. If you are still experiencing problems, please leave a comment and we can reopen. Thanks.

[2020-04-02 00:11] #874 closed

[2020-04-02 00:22] amanda-tarafa commented on #997
I'll be closing this issue now since we haven't had more info. Please do leave a comment if there was a problem with the client library or the samples.

[2020-04-02 00:22] #997 closed

[2020-04-02 00:31] amanda-tarafa commented on #1002
I believe it might be a problem with the video that's being used. See similar in Java: GoogleCloudPlatform/java-docs-samples#2545

[2020-04-02 11:02] amanda-tarafa opened #1006 "Dlp: TestTriggers test is failing on CI"
Test is failing with this error:

I haven't been able to reproduce it on local. Skipping the test for now in #1001

@ace-n assigning to you since you were the last to significantly modify this test.
Let me know if I can help.

[2020-04-02 16:09] amanda-tarafa opened #1007 "Spanner: TestDataTypes timing out on CI"
After 10 minutes. (Locally it passes after around 2 minutes.)
I've skipped it in #1001 but it should be looked at.
One thing would be to separate out in single tests. At least we could isolate the culprit easier.

@skuruppu feel free to assign to someone from your team that can take care of it.

[2020-04-02 16:21] amanda-tarafa opened #1008 "Bigtable: TestListTables is timing out in CI"
After 10 minutes.
I've skipped it in #1001 but it should be looked at.

@billyjacobson assigning to you because you have commited to the Bigtable samples more recently.

[2020-04-02 19:24] ace-n commented on #1006
Hi Amanda,

I haven't worked on DLP for quite a long time.

You might want to ping @SurferJeffAtGoogle (`rennie@`, .NET DPE who's updated these in the past) or @realjordanna (`jchord@`, DLP TL) to see if they can help.

Thanks!

[2020-04-03 08:30] amanda-tarafa commented on #1006
Thanks Ace. I'll look for a more suitable person to assing this to.

[2020-04-03 08:35] amanda-tarafa commented on #1008
And TestRunQuickStart is timing out as well. I've skipped it also.

[2020-04-03 10:33] skuruppu commented on #1007
I hadn't noticed this flakiness since it seems to run fine locally. I didn't mange to dig into this today but I will take a look early next week.

[2020-04-03 10:37] amanda-tarafa commented on #1007
Yes, no rush, when you can. Admittely I've been noticing more timeouts than usual this past couple of weeks, not just Spanner, but other APIs as well.

[2020-04-03 11:26] amanda-tarafa opened #1010 "Logging: TestListEntries is timing out."
Even after 10 minutes. I've skipped it in #1001 .

I'll look at it.

[2020-04-03 13:41] amanda-tarafa commented on #1008
And TestListInstances

[2020-04-03 14:55] amanda-tarafa commented on #1008
And TestRunHelloWorld

[2020-04-03 20:44] #1000 closed

[2020-04-04 03:59] SimonKravis opened #1011 "Cannot build speech example"
Trying to build speech example using Visual Studio 2019  on Win 10 I get errors

SpeechClient.StreamingRecognizeStream' does not contain a definition for 'ResponseStream' in many places in Recognize.cs and InfiniteStreaming.cs

eg

 private SpeechClient.StreamingRecognizeStream _rpcStream;

 var response = _rpcStream.ResponseStream.Current;
                _serverResponseAvailableTask = _rpcStream

[2020-04-04 05:50] jskeet commented on #1011
We're in the middle of fixing up all the samples for latest dependencies. See [this commit](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1001/commits/33f4d29c98e9aa1bca3c969fdfba7c6ede10ab8a) for the changes to the Speech samples.

Alternativel, you could use the older version of Google.Cloud.Speech.V1 (version 1.3.1) and the older sample will work.

[2020-04-04 05:50] jskeet commented on #1011
(Closing as I believe these two options should completely address your issue.)

[2020-04-04 05:50] #1011 closed

[2020-04-06 09:45] amanda-tarafa opened #1013 "Move samples to .NET Core 3.1 and C# 8"

[2020-04-06 11:28] #988 closed

[2020-04-06 13:29] amanda-tarafa commented on #964
This is now unblocked, I'll get to it this week, right after a pressing issue that came up.

[2020-04-06 16:08] #861 closed

[2020-04-07 10:39] amanda-tarafa commented on #1002
I don't know, I'll check.

[2020-04-08 03:23] skuruppu commented on #1007
Yikes, it's been almost a week and I still haven't had a chance to get to this. @laljikanjareeya would you please be able to take a look at this test? Thanks so much.

[2020-04-08 09:05] amanda-tarafa commented on #1007
Thanks both.
@laljikanjareeya I wasn't able to reproduce locally. I think that separating out into single tests might help with finding out where it's really timing out.

[2020-04-08 23:51] #1007 closed

[2020-04-09 18:02] grayside opened #1018 "Cloud Run: Move samples directory to /run"
The directory/path/identifier for Cloud Run is `run`. For alignment with other sample repos and to facilitate common instructions across languages, please move the `cloud-run/` directory in this repo to `run/`.

[2020-04-09 18:24] jsimonweb commented on #1018
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1019

[2020-04-09 20:45] #1018 closed

[2020-04-15 06:51] laljikanjareeya commented on #992
@billyjacobson I have started working on this, let me know if you are already working on it.

[2020-04-16 12:19] sourav-paul opened #1023 "Using Cloud Firestore instead of EF & SQL for Identity."
For user authentication and authorization I want to use ASP.NET Core Identity. All default setups are with entity framework using SQL.

I want to use Firestore as my project is using it already.

Is there any helper package just to replace EF and keeping the Identity implementation similar with Firestore? Something that replaces `AddEntityFrameworkStores<AppDbContext>()` for Firestore.

Or will I

[2020-04-16 13:42] amanda-tarafa commented on #1023
What you are looking for is a Firestore based [Custom storage provider for ASP.NET Core Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity-custom-storage-providers?view=aspnetcore-3.1) and I'm pretty sure we don't maitain anything like that (@jskeet for final confirmation). But I believe you could write your own following the instructions in the link above.

[2020-04-16 13:46] jskeet commented on #1023
Indeed, I'm afraid we don't have that :(

[2020-04-16 13:53] amanda-tarafa commented on #1023
I'll be closing this issue now, since I believe we have answer your question. Feel free to leave a comment here if you believe otherwise.

Also, for Google APIs client libraries (including Google.Cloud.Firestore.V1) related issues, it is better if you post them at https://github.com/googleapis/google-cloud-dotnet.

Post in this repo we are in if you find issues with the samples themselves.

[2020-04-16 13:53] #1023 closed

[2020-04-16 18:05] billyjacobson commented on #992
Go ahead, thank you!

On Wed, Apr 15, 2020 at 2:51 AM Lalji Kanjareeya <notifications@github.com>
wrote:

--

*•  **Billy Jacobson*

*•*  Developer Programs Engineer,
*•  *Google Cloud Developer Relations

*•*  111 8th Ave, New York, NY 10011
<https://maps.google.com/?q=111+8th+Ave,+New+York,+NY+10011&entry=gmail&source=g>

[2020-04-20 13:10] amanda-tarafa commented on #1013
We are currently supporting .NET Core App 2.1, 2.2 and 3.1. Moving forward we'll only support 2.1 andd 3.1 which are the ones wich MS will keep support for in the long term.
For removing 2.2, we'll need to update some samples.

[2020-04-20 13:11] amanda-tarafa opened #1027 "Update F# AppEngine Flex samples to .NET Core 3.1 and reactivate tests."
We have updated the Docker image to support .NET Core 3.1. In the process we've had to remove support for .NET Core 1.1 which is not supported by MS anymore and can't be properly pulled into the Docker image.
This work was done as part of #1013

[2020-04-20 13:13] amanda-tarafa commented on #1027
Skipping building and testing of F# sample in #1026

[2020-04-23 11:17] welbertwpg opened #1034 "Cloud Speech-to-Text: Diarization doesn't work in C#"
Hi,
I've been tried to do Diarization with the C# lib, and I always get 0 for the SpeakerTag field.

[code]
I used a .wav mono file
Am I doing something wrong? Or is it really not working?

[2020-04-23 11:28] amanda-tarafa commented on #1034
The `LongRunningRecognize` operation is a long running operation, which mean that what you are doing is just starting the operation, but you won't get all results expected until the operation has finished.
Add the following line of code after the snippet you pasted above and the check for the expected results.

`operation = operation.PollUntilCompleted().ThrowOnAnyError();`

[2020-04-23 11:34] welbertwpg commented on #1034
I was doing the `PollUntilCompleted` before, and I get the transcription result. I just don't get the SpeakerTag information.

[2020-04-23 13:06] amanda-tarafa commented on #1034
A few more questions:

- Does this happen only with one audio file or with several files you have tried?
- According to do the Speech API docs, [here](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#recognitionconfig) and [here](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#wordinfo), for non streaming requests the `speaker_tag`

[2020-04-23 13:47] welbertwpg commented on #1034
I've tried with 5 different files.

Yes, I tried this.

I didn't see that, so it's impossible to get the information about all alternatives, and I was looking for the ones that didn't have the SpeakerTag information. This was the problem.

So, thank you for the help! :)

[2020-04-23 13:47] #1034 closed

[2020-04-23 19:08] anguillanneuf opened #1035 "Pub/Sub: update region tags to make code snippets runnable"
Please update C# samples to include import statements and make them runnable if a user copies the code. See other language examples: https://cloud.google.com/pubsub/docs/quickstart-client-libraries.

This shall fix [b/148978586](b/148978586) and related complaints.

[2020-04-24 12:56] #1010 closed

[2020-04-27 13:45] amanda-tarafa opened #1040 "IAP: Skipping tests because they have started faling without changes on our side."
I'm looking into it.

[2020-05-06 09:08] #985 closed

[2020-05-08 10:16] laljikanjareeya opened #1046 "Spanner: UpdateBackup test is failing"
`
Error: Grpc.Core.RpcException: 'Status(StatusCode=InvalidArgument, Detail="Invalid request for backup projects/project-id/instances/instance-id/backups/backup-id. `expire_time` is either missing, in the wrong format, or is not within the minimum and maximum expire times supported. `expire_time` must be a Unix Epoch Time (UTC time since 1970-01-01 00:00:00) with microseconds granularity, and be a

[2020-05-11 14:13] amanda-tarafa commented on #1040
Take a look at https://github.com/googleapis/google-api-dotnet-client/issues/1557 when fixing this. Might be related.

[2020-05-20 16:00] grant opened #1051 "Add eventsforcloudrun samples"
Hi @meteatamel,
We're starting to move our samples to language repos.

Can you make a PR to move to code here:
https://github.com/gcpevents/eventsforcloudrun/pull/1

Into a new folder `run/events`:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/run

[2020-05-25 05:33] laljikanjareeya opened #1052 "Pub/Sub: Add samples for dead letter queues feature"
Currently there are no dead letter queue (DLQ) samples for C#, and those will need to be added.

* pubsub_dead_letter_delivery_attempt
* pubsub_dead_letter_create_subscription
* pubsub_dead_letter_update_subscription
* pubsub_dead_letter_remove

[2020-05-26 14:38] meteatamel commented on #1051
Sent a PR: https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1053

[2020-05-26 14:38] meteatamel commented on #1051
Assigning to @grant to merge or assign to someone else who can merge

[2020-05-27 00:18] grant commented on #1051
Asked Jon for a review.

[2020-05-28 17:06] amanda-tarafa commented on #1051
@meteatamel This has been merged, right? Can we closed the issue?

[2020-05-28 17:24] grant commented on #1051
Thanks Mete!

[2020-05-28 17:24] #1051 closed

[2020-06-01 18:16] anguillanneuf opened #1056 "Pub/Sub: please add Pub/Sub DLQ samples"
Please add samples for

1. create a subscription with a dead letter policy
1. update a subscription's dead letter policy
1. remove a subscription's dead letter policy
1. receive messages that have a delivery attempts field

See existing [Java](https://github.com/googleapis/java-pubsub/tree/master/samples/snippets/src/main/java/pubsub), [Go](https://github.com/GoogleCloudPlatform/golang-samples/pul

[2020-06-02 02:26] laljikanjareeya commented on #1056
Duplicate #1052

[2020-06-02 02:26] #1056 closed

[2020-06-02 12:53] amanda-tarafa opened #1059 "[Language] Skip tests until fixed."
They are failing with a permission denied on a bucket being used for resources apparently.
Failures [here](https://source.cloud.google.com/results/invocations/53c7b406-c6e1-488b-9009-94611a20b0a8/targets/github%2Fdotnet-docs-samples%2Flanguage%2Fapi%2FAnalyzeTest%2FTestResults/tests).

I've deactivated the tests in #1061 .

[2020-06-02 12:57] amanda-tarafa opened #1060 "[Storage] Deactivate GoogleCloudSamples.StorageTest.TestDownloadObjectRequesterPays because of flakiness."
It's not clear why it's failing.
Have deactivate in PR #1061.

[2020-06-02 14:41] amanda-tarafa opened #1062 "[Spanner] Deactivate the QuickStart test, it keeps failing on Windows."
I've deactivated it in #1061 .
I've also added the JUnit logger dependency to the tests so that we can get more info.
So, I didn't need to add JUnit logger, it was already added, still we don't get good diagnostics info when the tests fail, might be because of the command runner.

[2020-06-03 01:12] skuruppu commented on #1062
Thanks for doing #1061 @amanda-tarafa. I'm not sure why the QuickStart started to fail.

@laljikanjareeya can I please ask you to take a look at debugging this?

[2020-06-03 10:52] skuruppu opened #1065 "[Spanner] Deactivate Backup tests"
The test times out so we're skipping this for now ([example](https://source.cloud.google.com/results/invocations/f255d775-e3ca-4231-b34d-8b70b669a0d7/targets/github%2Fdotnet-docs-samples%2Fspanner%2Fapi%2FSpannerTest/tests)). We should look into this and re-enable when we figure it out.

[2020-06-03 10:54] skuruppu commented on #1065
Test will be skipped in #1047.

[2020-06-03 11:12] amanda-tarafa commented on #1065
Thanks! Assigned to you but mostly so you can reassign. When I'm done with all the rest, if this is still around I will grab it.

[2020-06-03 12:58] amanda-tarafa opened #1066 "[Logging] Skip TestListEntries because it's flaky."
We don't get a lot of info, it's just timing out.

[2020-06-03 13:18] laljikanjareeya commented on #1065
And `TestQueryWithBytes` is also failing . I've skipped it also.

[2020-06-03 13:20] amanda-tarafa commented on #1066
I've skipped it in #1067

[2020-06-03 14:52] amanda-tarafa opened #1068 "[Monitoring] Skip some of the tests because they are doing cuncurrent modifications that fail."
Even thouhg in #1067 each test project was configured to not run tests in parallel, the different projects can still be being run in parallel and also we are running tests in Windows and Linux, which run roughly at the same time on presubmit. Several of the test projects are using the same fixture, and there is where we get "Too many concurrent edits to the project configuration". For fixing this

[2020-06-03 20:55] #1046 closed

[2020-06-04 13:17] #1008 closed

[2020-06-05 09:04] #924 closed

[2020-06-05 19:30] #1027 closed

[2020-06-08 16:44] anguillanneuf opened #1073 "Pub/Sub: audit samples"
Splitting #1050. @amanda-tarafa @laljikanjareeya

Requesting a few more missing samples for Cloud Pub/Sub:

## Add:
### Subscriber:
1. pubsub_subscriber_async_pull_custom_attributes: [examples](https://cloud.google.com/pubsub/docs/pull#pull-messages-with-custom-attributes)
1. pubsub_subscriber_error_listener: does C# have a listener method like [Java](https://cloud.google.com/pubsub/docs/pull#java

[2020-06-09 10:19] amanda-tarafa commented on #1073
@laljikanjareeya Assigned to you for after we have merged the other Pub/Sub PRs, and also depending on your availability. Ping me internally if you won't be able to get to this in the next month or so.

[2020-06-09 10:59] amanda-tarafa opened #1077 "IAP: Add AIP token verification sample"

[2020-06-09 11:09] amanda-tarafa opened #1078 "IAP: Rewrite samples to match new canonical (KMS samples)."
Mostly remove the command line runner bits.

[2020-06-09 16:50] #935 closed

[2020-06-09 21:40] pheonixblade9 commented on #510
This is still an issue. Please fix.

[2020-06-10 11:13] amanda-tarafa commented on #944
@mitulpanch Unfortunately we currently don't have the bandwidth to maintain and publish these samples so I'll be closing this issue for now. It will stay on our backlog and will be considered for the future.
In the meantime [here](https://googleapis.dev/dotnet/Google.Cloud.Memcache.V1Beta2/1.0.0-beta02/index.html)'s some documentation that should help with getting started.
And here the [client lib

[2020-06-10 11:13] #944 closed

[2020-06-10 17:44] amanda-tarafa opened #1080 "Reactivate linter."
But make it easier for contributors to find out about lint issues. Also provide a default configuration/environment for them to be able to submit without lint issues.
Consider: https://editorconfig.org/

(This was going to be done as part of revamping the pipeline, but it might be more urgent than that).

[2020-06-11 10:13] skuruppu commented on #1065
`GoogleCloudSamples.Spanner.SpannerTests.TestUpdateBackup` timed out in this [run](https://source.cloud.google.com/results/invocations/ca33fcee-ddc2-48cd-88a5-a6859f3ef242/targets/github%2Fdotnet-docs-samples%2Fspanner%2Fapi%2FSpannerTest/tests). I think we're going to have to skip pretty much all the backups tests. I'm hoping to look into this tomorrow.

[2020-06-11 11:57] amanda-tarafa commented on #1065
Yep, on nightly CI running, Spanner is still timing out from time to time. I'm fine with deactivating the problematic tests. On rewrite we can address whatever is making them fail I think.

[2020-06-11 14:50] amanda-tarafa commented on #1006
Closed via #1082

[2020-06-11 14:50] #1006 closed

[2020-06-15 14:27] #1040 closed

[2020-06-15 14:27] #1077 closed

[2020-06-15 14:27] #1078 closed

[2020-06-16 05:00] ssilb4 opened #1103 "Dialogflow Streaming Response doesnt have OutputAudio in C#"
I tried [Detect intent with audio output](https://cloud.google.com/dialogflow/docs/how/detect-intent-tts) sample.
It doesnt have c# code. so I tested it python. It works well.
So I tried it in c#. but response doesnt have outputAudio.

I just change [C# sample](https://cloud.google.com/dialogflow/docs/how/detect-intent-stream)

[code]

here is result:

[code]

In result, response.OutputAudio.Lengt

[2020-06-16 06:02] jskeet commented on #1103
I don't see you sending any requests in that code - you only fetch things from the stream. The `StreamingDetectIntentRequest` request is where you would specify an `OutputAuudioConfig`. Admittedly there seems to be one in the response, which is somewhat surprising.
I don't know whether there are language constraints involved - have you tried doing this with English, just as the language which is m

[2020-06-16 06:37] ssilb4 commented on #1103
I change it to english and here is entire source, (It is same sample source)

[code]

result is
[code]

It is not so different.

[2020-06-16 06:41] ssilb4 commented on #1103
I change it to english and here is entire source, (It is same with sample source)

[code]

result is
[code]

It is not so different.

[2020-06-16 06:54] jskeet commented on #1103
Your request contains an `InputAudioConfig`, but not an `OutputAudioConfig`.

From the docs:

I don't see that you're doing that anywhere. You should be using the `StreamingDetectIntentRequest.OutputAudioConfig` property.

[2020-06-16 06:59] laljikanjareeya opened #1104 "pub/sub: remove old samples once location update"
Remove old samples once location has been updated in this [PR](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1050)

[2020-06-16 08:00] ssilb4 commented on #1103
thanks. that is my fault.
I am sorry but after I add that OutputAudioConfig, It doesn't work too.

[code]

can you check it?

[2020-06-16 08:06] ssilb4 commented on #1103
![image](https://user-images.githubusercontent.com/19856500/84748510-b530a800-aff3-11ea-9f35-432152a4731f.png)

I set agent too.

[2020-06-16 08:07] ssilb4 commented on #1103
![image](https://user-images.githubusercontent.com/19856500/84748640-dee9cf00-aff3-11ea-99ca-f8ba6cf98d49.png)

I set agent too.

[2020-06-16 08:11] jskeet commented on #1103
That looks better, but as I said before, it would be simpler if you could try this with a *non-streaming* request (as per the samples on the page you referred to). Have you tried that? Even if it still doesn't work, you'll be able to provide a *much* shorter example. I'm unlikely to be able to test this for myself today, as testing Dialogflow requires creating an agent etc, which I don't have conf

[2020-06-16 08:20] ssilb4 commented on #1103
ok. I know that situation. unfortunately, there is no Detect intent with audio input file sample in C#.
Maybe I'll test it more or text version. thanks.

[2020-06-16 08:29] jskeet commented on #1103
You said at the start:

What I'm asking for is the C# equivalent of the Python code, where you say the Python code works and the C# code doesn't. Please change as little as possible - *just* convert the Python code to C# as closely as you can. If that doesn't work, we'll be in a much better situation to isolate the problem than if you've *also* changed whether it's streaming or not and whether the

[2020-06-17 02:36] ssilb4 commented on #1103
hmm... I tried Detect intent from texts. It works very well.
and I change that to audio file (no stream), It works well too.

I think problem is asyc or streaming.

but I don't know that.... :(

here is my audio file sample

[code]

here is result

[code]

[2020-06-17 05:19] jskeet commented on #1103
So could you clarify your initial comment in this issue then? When you said:

... you mean you were trying something actually fairly different? I read that comment as saying "I ported the Python code to C#, and it didn't work."

If it's a matter of "streaming intent detection doesn't provide audio output" then this may well not be a C# library issue at all.

[2020-06-17 05:46] jskeet commented on #1103
(Just to be clear, that doesn't mean we don't want to sort this out - it's just really useful to be clear from the start that this isn't "There's a sample which works for Python but the equivalent doesn't work for C#.")

I'll ask internally to find out about streaming and audio output.

[2020-06-17 06:47] ssilb4 commented on #1103
sorry. I was confusing.

Because there it no sample in C#, I just tested "detect intent with texttospeech" in python.
(now I think, It is not stream.)
then, after I tested it, I knew that "detect intent with texttospeech" is just to extract outputAudio in response.
(It is not porting the python code to C#, just get idea.)
So I tried to extract outputAudio in C#, but It didn't work.

now,

\ | C# |

[2020-06-17 06:50] jskeet commented on #1103
So just to clarify your table, "O" means "working" and "X" means "not working". I'm pretty confident about that - this is more for anyone else reading.

[2020-06-17 06:51] ssilb4 commented on #1103
ok.

and I tested stream in python too.

\ | C# | python
-|-|-
no stream | working | working
stream | not working | working

[2020-06-17 06:55] jskeet commented on #1103
Okay, that's *definitely* interesting and surprising. I'll try to find time to reproduce this for myself, although as I mentioned earlier it's likely to take a little while.

[2020-06-17 07:14] ssilb4 commented on #1103
thanks.

I look into response. but I can't find anything special.
just tiny one, no stream is different from stream in WebhookStatus.

(C#) | text input | audio file input | stream audio file | stream using mic (my custom)
-|-|-|-|-
WebhookStatus |   |   | { } |  { }
OutputAudio length | 79860 | 72422|  0 |  0

WebhookStatus is only "blank" in no stream, but "blank with brace" in stream.

I don't

[2020-06-17 08:01] jskeet commented on #1103
Hmm. I've just managed to get an audio response first time, even with streaming intents.

My intent is very simple - a single training phrase of "run the test intent" with a response of "this is a response".

Here's my code to test it:

[code]

That comes back with two responses - only the *second* one contains the output audio, although the first response does contain the output audio config (con

[2020-06-17 08:38] ssilb4 commented on #1103
hmm.. It works well to me. but I think it use text.

and after I change that source using audio file, it works well.

source:
[code]

I guess difference is below portion

[code]

what is problem... Task.Run? , MoveNextAsync?

Anyway thanks.
Maybe I'll check more.

[2020-06-17 08:44] jskeet commented on #1103
Hmm... I wonder whether it's due to this:

[code]

I suspect the service is interpreting that as "I'm done" - when you haven't actually received the response with the audio (which takes longer to generate).

Try removing that line and see what happens...

[2020-06-17 08:47] jskeet commented on #1103
Ah! I think I've got it - you're checking `if (queryResult != null)`, but in the response that contains the output audio, there *is* no query result - it's just the output audio. Try getting rid of those checks and instead use `if (response.OutputAudio.Length > 0)`.

[2020-06-17 23:50] ssilb4 commented on #1103
yes! if (queryResult != null) is problem.

but after I change "if (queryResult != null)" to "if(response.OutputAudio.Length > 0)", It occur error
"Object reference not set to an instance of an object."

so I change to use two if sentence
[code]

maybe in async, response has multiple types (minimum 2), so I need 2 if sentence.

thanks!

[2020-06-17 23:50] #1103 closed

[2020-06-18 00:20] ssilb4 commented on #1103
btw, can I PR [detect intent audio](https://cloud.google.com/dialogflow/docs/how/detect-intent-audio) and [detect intent tts](https://cloud.google.com/dialogflow/docs/how/detect-intent-tts) sample in c#?

[2020-06-18 05:35] jskeet commented on #1103
You should certainly check for `response.QueryResult` and `response.OutputAudio` separately, as each can be null independently.

I'm not sure what your final comment means - are you offering to write samples, or requesting that samples are written? Either way, @amanda-tarafa is probably more relevant than me to that.

[2020-06-18 08:53] amanda-tarafa commented on #1103
@ssilb4 After you submitted #1101 I've been chatting internally to all parties involved in maintaining and publishing in docs the Dialogflow samples. We are currently all working in higher priority items and don't have the availability to take care of this. I will remember to ask you once we can pay more attention to Dialogflow, in case you still want to contribute, it'll be very welcomed.
For the

[2020-06-19 00:57] ssilb4 commented on #1103
@amanda-tarafa sorry.. I don't understand what you say exactly.  I want to write code and pull request for those samples. I am confused if it is ok or not.

[2020-06-19 08:56] amanda-tarafa commented on #1103
@ssilb4 It's not OK right now because we don't have the time to review your PR and publish the samples. We have other priorities right now.
I will write to you in the future when we can accept your PR.
Again thanks!

[2020-06-19 14:46] meteatamel opened #1107 "Update README.md of run folder to include instructions for helloworld sample"
In line with other languages, update Update README.md of **run** folder to include instructions for how to deploy helloworld sample

[2020-06-22 03:29] laljikanjareeya opened #1110 "spanner: cleanup old databases and backups before starting new test cycle"
Here is the [Test Result](https://source.cloud.google.com/results/invocations/19dac484-be94-48e3-8f56-8bff0b5013d1/targets/github%2Fdotnet-docs-samples%2Fspanner%2Fapi%2FSpannerTest%2FTestResults/tests) instance reached  the maximum database limit (100).

//cc
@skuruppu

[2020-06-22 13:46] meteatamel opened #1112 "Events for Cloud Run – Pub/Sub tutorial"
Add a similar tutorial to Python samples: https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/run/events-pubsub

[2020-06-23 10:17] meteatamel opened #1113 "Events for Cloud Run – GCS tutorial"
Add a similar tutorial to Python samples: https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/run/events-gcs

[2020-06-24 16:30] #1035 closed

[2020-06-24 16:56] #1107 closed

[2020-06-24 16:56] #1113 closed

[2020-06-24 17:07] amanda-tarafa commented on #1112
Closed via #1108

[2020-06-24 17:07] #1112 closed

[2020-06-26 14:09] meteatamel opened #1115 "Events for Cloud Run for Anthos – GCS and PubSub tutorial"
Port the Events for Cloud Run samples for Anthos

[2020-06-26 14:14] jskeet commented on #1115
As a heads-up, when I've released the first drop of libraries for https://github.com/googleapis/google-cloudevents-dotnet, we might want to start using that for the tutorials.

[2020-06-26 14:16] meteatamel commented on #1115
Nice. We can definitely start using once it's out.

[2020-06-26 14:17] jskeet commented on #1115
I'm hoping it'll be within the next couple of hours :)

[2020-07-06 15:10] ALMLAMBO opened #1122 "Cannot decrypt"
Hi,

I am doing this tutorial from google cloud docs: [https://cloud.google.com/kms/docs/encrypt-decrypt](https://cloud.google.com/kms/docs/encrypt-decrypt) and encryption is ok but when I start decrypting, it throws this exception:
[code]
This is my code for decryption:

[code]
This is done on C#. How can I decrypt successfully?

[2020-07-06 15:14] amanda-tarafa commented on #1122
@sethvargo I've assigned to you since you'll probably have a better context than I for this one.

[2020-07-06 19:38] sethvargo commented on #1122
From the same, it looks like you're decrypting the empty string? Can you share more about how you generated your ciphertext?

[2020-07-06 19:42] ALMLAMBO commented on #1122
string message = "This is a message";

[2020-07-06 19:51] jskeet commented on #1122
But are you definitely decrypting the right value? This code looks odd:

[code]

Can you show us a short but *complete* example?

[2020-07-06 20:46] ALMLAMBO commented on #1122
[code]

[2020-07-06 20:51] jskeet commented on #1122
That's not going to work, because "This is a message" isn't encrypted data.

The `ByteString` you put into `Ciphertext` needs to be the result from a previous `Encrypt` operation.

[2020-07-06 21:58] ALMLAMBO commented on #1122
Now it throws this exception:
[code]

[2020-07-06 21:59] ALMLAMBO commented on #1122
Thanks a lot!

[2020-07-07 05:18] jskeet commented on #1122
Closing as I assume from the last comment that this is now working.

[2020-07-07 05:18] #1122 closed

[2020-07-07 08:44] ALMLAMBO opened #1124 "Cannot decrypt asymmetric"
Hi,

I am doing this tutorial from google cloud docs: [https://cloud.google.com/kms/docs/encrypt-decrypt-rsa](https://cloud.google.com/kms/docs/encrypt-decrypt-rsa) and I cannot decrypt. It throws this exception:

[code]

This is the code for decrypting:
[code]

How can I fix it?

[2020-07-07 08:58] jskeet commented on #1124
Please show a *complete* example (literally a console application we can copy/paste/compile/run), that does both encryption and decryption. At the moment we can't see how you're initializing `cipherText`.

[2020-07-07 09:04] ALMLAMBO commented on #1124
[code]

[2020-07-07 09:26] jskeet commented on #1124
Okay, I've just had this working with a brand new key - but I did need to change the padding from `RSAEncryptionPadding.OaepSHA512` to `RSAEncryptionPadding.OaepSHA256` because the key I'd just created used a SHA-256 digest.

Please check the "algorithm" part of the key in KMS. Mine shows: "3072 bit RSA key. OAEP Padding - SHA256 Digest". The second argument to the `rsa.Encrypt` call has to match

[2020-07-07 20:45] ALMLAMBO commented on #1124
[code]

[2020-07-07 21:12] jskeet commented on #1124
I don't need to see your key name - I won't have access to it anyway. But as I said before, the algorithm of the key is very important.

[2020-07-07 21:29] ALMLAMBO commented on #1124
The algorithm is 4096 bit RSA key  OAEP Padding - SHA512 Digest.

[2020-07-07 21:32] jskeet commented on #1124
Okay, I'll try a key with that algorithm tomorrow.

[2020-07-08 06:13] jskeet commented on #1124
Okay, I've just managed to decrypt with the algorithm you've specified, using `rsa.Encrypt(plainText, RSAEncryptionPadding.OaepSHA512);` as the encryption part. Does your key definitely have a "purpose" of "asymmetric decrypt"? (And did you try it with exactly the code I specified, but using SHA512 instead of SHA256?)

[2020-07-08 08:14] ALMLAMBO commented on #1124
Thanks a lot. The problem was that I was passing the wrong key Id. Now is encrypting and decrypting successfully.

[2020-07-08 08:30] #1124 closed

[2020-07-08 22:07] ALMLAMBO opened #1126 "Secret version"
Hi,
I want to ask how can I create a secret version programmatically using C#?

[2020-07-08 23:09] anguillanneuf commented on #1104
@laljikanjareeya Old samples are safe to be removed now. Thanks!

[2020-07-08 23:11] anguillanneuf opened #1127 "Pub/Sub: add subscription detachment sample"
Please add a sample using the "pubsub_detach_subscription" region tag. Here's an example in Java:

[code]

@laljikanjareeya Is it okay for me to assign it to you?

[2020-07-09 05:47] jskeet commented on #1126
I'm afraid you'll need to be more specific. What exactly do you mean by "a secret version"?

[2020-07-09 05:49] jskeet commented on #1126
Also note that if you're not asking a question related to a specific *sample*, it would better to ask on the repository where the library you're using is based. For example, if this is a question about a `Google.Cloud.Xyz` library, please use https://github.com/googleapis/google-cloud-dotnet

[2020-07-09 09:46] laljikanjareeya commented on #1104
@anguillanneuf Thank for the update!!

[2020-07-09 15:48] amanda-tarafa opened #1129 "Dialogflow: Add mega agents sample."
Just routing googleapis/google-cloud-dotnet/issues/5156 here, where it belongs. (It can't be actually transfered because the repos are under different orgs.)

FYI: @juliolitwin

[2020-07-10 12:51] #1110 closed

[2020-07-13 13:03] #1104 closed

[2020-07-13 16:18] #1115 closed

[2020-07-15 04:12] laljikanjareeya opened #1131 "storage: Service account does not exist."
In Recent All the PR is failing because of below service account:
[code]
@amanda-tarafa  any Idea on this? I think we should store this on environment variable.

[2020-07-16 17:01] amanda-tarafa commented on #1131
I'll take a look next week, this is definetely unexpected.

[2020-07-17 08:20] amanda-tarafa commented on #1131
Any particular reason we are not using the normal service account for storage? Can you try with that?
@jkwlui I believe you are having the same issue on your latest PR. Same question for you, why don't use the service account credential that we already have on the env variable and use for everything else?

[2020-07-17 08:25] amanda-tarafa commented on #1131
Ah, I see that @jkwlui PR's is for testing IAM so you need a different account, @laljikanjareeya is the the same for the refactor PR?
If so, you can use the same account @jkwlui used in #1134 . I'll add a TODO for myself to add that to an environment variable.

[2020-07-17 19:31] jkwlui commented on #1131
Alright, I've cherry-picked the fix for service account to #1135.

[2020-07-20 01:45] jimmyz500 commented on #983
@sourav-paul how did you enable the project default app engine? I am having the same issue, thanks.

[2020-07-20 01:56] sourav-paul commented on #983
From the left side menu reach the compute section, where VMs, App Engine, Cloud Run etc is located and select app engine. You will be redirected to the app engine page from there.

[2020-07-20 02:10] jimmyz500 commented on #983
Thanks for the quick response, when I go to the App Engine section, it just says Welcome to App Engine with a Get Started link.  So I am thinking it is enabled? For you it was actually disabled?

[2020-07-20 02:12] sourav-paul commented on #983
Have you selected a Firestore as native database yet?

[2020-07-20 02:24] jimmyz500 commented on #983
No, I get "This project uses another database service" and takes me to Datastore, I then get "Since your database is empty, you can still switch to Cloud Firestore in Native mode to get more features."
and finally:
"Unable to switch to Native mode
Your database mode couldn't be switched because you already added and deleted data at some point. You can always create a new project to use Cloud Fires

[2020-07-20 02:31] sourav-paul commented on #983
Have you edited data in Datastore in this project?

If yes, then you can't switch to Firestore anymore as you can only use one of Firestore and Datastore in a a project.

My case was, I selected native Firestore. Then disabled an app engine related to Firestore which is needed to run Firestore. Then I had to enable it back.

[2020-07-20 02:34] jimmyz500 commented on #983
ok, got you, thanks for the help!

[2020-07-20 10:01] amanda-tarafa commented on #1126
@ALMLAMBO I'll be closing this issue now since we need more information from you to be able to help you. Do add a comment with the information requested by @jskeet and we can reopen.

[2020-07-20 10:01] #1126 closed

[2020-07-21 05:09] laljikanjareeya opened #1136 "Spanner: samples should follow the samples guide"
All the sample should follow the samples guide, this will also remove the command line argument.

[2020-07-21 05:16] laljikanjareeya commented on #1131
@amanda-tarafa  Yes this is same for refactor PR and I will update the same thing in [Storage Refactor Sample](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/973) PR.

[2020-07-22 10:13] #1131 closed

[2020-07-22 14:49] amanda-tarafa opened #1141 "Asset: BatchGetAssetsHistoryTest which fails on Windows."
@yuyifan-google In #1140 I've fixed an error that we had on the script that executes tests and that was printing RemoteException for the Asset test failure.
Now we can see the [real failure](https://source.cloud.google.com/results/invocations/fdd550af-917d-4692-be1a-486d5e4c0680/targets/github%2Fdotnet-docs-samples%2Fasset%2Fapi%2FAsset.Samples.Tests%2FTestResults/tests): Error: Grpc.Core.RpcExcep

[2020-07-22 15:17] andrescrd opened #1142 "storage: ListObjects is empty"
I am trying to get the list of objects in my bucket, sometimes it is satisfactory, but sometimes the list is empty.
I am using the example code.

var storage = StorageClient.Create();
foreach (var storageObject in storage.ListObjects(bucketName, prefix))
{
   Console.WriteLine(storageObject.Name);
}

Any Idea on this?

[2020-07-22 15:23] jskeet commented on #1142
(For future issues about Google.Cloud.Storage.V1 that aren't specifically about samples, but just about how the API works, please file issues in https://github.com/googleapis/google-cloud-dotnet)

That will happen if no objects in the bucket match the specified prefix. If you have concrete examples of the actual object names and the prefix you're passing, please give us that information so that we

[2020-07-23 09:45] amanda-tarafa commented on #692
Closing in favour of #1141 now that tests have been migrated to the new canonical.

[2020-07-23 09:45] #692 closed

[2020-07-24 11:32] #1052 closed

[2020-07-24 23:22] JesseLovelace opened #1147 "Implement missing samples"
Per our sample gap update project, please implement the following missing samples. Each sample listed will be a link to the Java implementation of the sample which can be used as a reference .

[storage_add_bucket_label](https://cloud.google.com/storage/docs/using-bucket-labels#storage-add-bucket-label-java)
[storage_remove_bucket_label](https://cloud.google.com/storage/docs/using-bucket-labels#st

[2020-08-13 12:27] CalinBunea opened #1152 "Upload object stupid implementation"
Hello,
Sorry about the title but I'm really pissed off. I would expect from a company like Google to have smart, open minded people working on their API with smart product managers.
In a context of Storage API functionality, how did you guys thought to offer a method which uploads a blob by using a Stream as input? Did you assumed that people will always upload a blob from local disk files or what

[2020-08-14 06:29] CalinBunea commented on #1152
Added a link to a quick implementation I did for a FIFOStream with ring buffer.
[https://drive.google.com/file/d/1XZauvmmfyR3JdY15XBvDdbDDoTGubvvl/view](url)

[2020-08-14 09:25] #1152 closed

[2020-08-18 10:37] amanda-tarafa commented on #1142
@andrescrd I'll be closing this issue now, since we can't help more without more info. Do please add a comment with the details we requested if you continue to have trouble.

[2020-08-18 10:37] #1142 closed

[2020-08-18 20:55] JustinBeckwith commented on #1152
Greetings @CalinBunea - sorry to hear you're having trouble.   I went ahead and cleaned up some of the less-than-awesome language in the original issue.  In the future - please try to remember that we're all humans on the other side of the GitHub void here :) If you have any questions, I'll refer you to our code of conduct:
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/COD

[2020-08-19 15:57] grant opened #1155 "Unrelated CI Failures"
For https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1154, I'm seeing unrelated CI failures:

[code]

I'd expect these tests to not fail so we can merge the PR.

[2020-08-19 16:13] amanda-tarafa commented on #1155
@grant I'm closing this issue because some of these failures are being tracked by their own issues and some others are known and are being /will be fixed either by rewriting the samples or by addressing the failures themselves. The general flakiness on this repo is known and resolving it is part of an ongoing effort. We can discuss more internally if you wish.

In this case, the process is for one

[2020-08-19 16:13] #1155 closed

[2020-08-19 16:18] grant commented on #1155
OK, sounds good.

[2020-08-24 14:58] grant opened #1156 "run/events: Use Unmarshal Types Rather Than dynamic"
## Actual

Currently in our run/events samples, we don't use types for "unmarshaling" our JSON payload:

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/run

i.e.

[code]

## Expected

We should use our type library to not have dynamic types. Not sure exactly how it would look in .NET

[code]

Type Library:

https://github.com/googleapis/google-cloudevents-dotnet/tree/master

[2020-08-24 15:02] jskeet commented on #1156
The first thing would be to use the CloudEvents SDK to convert the HttpRequestMessage to a CloudEvent, then use

[code]

[2020-08-25 08:55] meteatamel commented on #1156
Note that my PR only makes PubSub sample to use the strong event type. The Storage sample only reads CloudEvent headers and I think we want to keep it that way, so it can be used both in Managed and Anthos versions of eventing.

[2020-08-25 13:34] amanda-tarafa opened #1159 "[DLP]: Fix and reactivate TestInspectStringMultipleRules_PatientRule."
It has been failing since 2020-08-12. The following assert fails ([in this file](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/bce236941d67d926b23683aedf024ce006038331/dlp/api/Snippets.Tests/InspectStringMultipleRulesTests.cs#L30)).

`Assert.Contains(response.Result.Findings, f => f.Likelihood == Likelihood.VeryLikely);`

I've debugged and the Findings collection is empty.

[2020-08-25 13:42] amanda-tarafa commented on #1066
I've skipped all of Login tests, they constantly time out on Linux and often time out on Windows. These need a good review/rewrite.

[2020-08-25 14:26] amanda-tarafa opened #1160 "[Translate]: Fix and reactivate some tests that have started failing with PERMISSION_DENIED"
Failing tests are:

- BatchTranslateTests.GoogleCloudSamples.BatchTranslateTests.BatchTranslateTextTest
- BatchTranslateWithGlossaryAndModelTests.GoogleCloudSamples.BatchTranslateWithGlossaryAndModelTests.BatchTranslateTextWithGlossaryAndModelTest
- BatchTranslateWithGlossaryTests.GoogleCloudSamples.BatchTranslateWithGlossaryTests.BatchTranslateTextWithGlossaryTest
- BatchTranslateWithModelTests.G

[2020-08-25 15:04] amanda-tarafa opened #1162 "[Firestore]: Fix and reactivate flaky tests."
- FirestoreTests.GoogleCloudSamples.FirestoreTests.ListenMultipleTest
- FirestoreTests.GoogleCloudSamples.FirestoreTests.ListenDocumentTest

Build result [here](https://source.cloud.google.com/results/invocations/2d685bfb-f67c-48aa-9bb2-927b6f120d6f/targets/github%2Fdotnet-docs-samples%2Ffirestore%2Fapi%2FFirestoreTest%2FTestResults/tests;group=GoogleCloudSamples.FirestoreTests;test=GoogleCloudSam

[2020-08-25 15:51] amanda-tarafa opened #1163 "[IAM]: Fix and reactivate Quickstart test."
- QuickStartTest.GoogleCloudSamples.QuickStartTest.TestQuickStart

Build log [here](https://source.cloud.google.com/results/invocations/b9858a5c-a195-4cc3-a730-a003e0771ba7/targets/github%2Fdotnet-docs-samples%2Fiam%2Fapi%2FQuickStartV2Test%2FTestResults/tests)

[2020-09-01 10:17] #1159 closed

[2020-09-02 06:31] laljikanjareeya opened #1169 "[Datastore]: Add code samples for Datastore Admin API"
Add code samples for Datastore Admin API
[Generation configurations PR](https://github.com/googleapis/google-cloud-dotnet/pull/5280)

Known region tags:

- [x] datastore_admin_client_create
- [x] datastore_admin_entities_export
- [x] datastore_admin_entities_import
- [x] datastore_admin_index_get
- [x] datastore_admin_index_list

[2020-09-08 11:51] #1156 closed

[2020-09-08 12:00] amanda-tarafa opened #1173 "[Spanner]: Consider adding a test for CreateInstance."
See thread in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1138#discussion_r484849815

[2020-09-08 12:05] amanda-tarafa opened #1174 "[Spanner]: Consider using the creation_date field for detecting stale databases in tests."
See thread in https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1138#discussion_r484849022

[2020-09-09 00:56] yesman236 opened #1176 "Hell.sh.net"

[2020-09-09 06:04] jskeet commented on #1176
Deleting as spam.

[2020-09-09 06:04] #1176 closed

[2020-09-09 08:57] yesman236 opened #1177 "![1](https://user-images.githubusercontent.com/26163841/92417897-65362d00-f16d-11ea-8a6f-1a8963c21599.jpg)"
![1](https://user-images.githubusercontent.com/26163841/92417897-65362d00-f16d-11ea-8a6f-1a8963c21599.jpg)

__Originally posted by @Arhell in https://github.com/dotnet-foundation/website/issues/332__

[2020-09-09 08:59] jskeet commented on #1177
Closing and reporting user for spam (two spurious issues in one day).

[2020-09-09 08:59] #1177 closed

[2020-09-12 04:31] mitulpanch opened #1183 "FireStore - Collection group queries Support"
Collection group queries support is missing as it is available in other libraries
https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query

[2020-09-12 04:35] mitulpanch commented on #1183
https://github.com/googleapis/google-cloud-dotnet/issues/4907

this says it is already available for .net

[2020-09-12 05:30] jskeet commented on #1183
As you can see from that issue, the feature is already supported - use `FirestoreDb.CollectionGroup`. Yes, the *sample* is still missing, but there's an internal issue for that already - we don't need an issue in *this* repository.

(I've been writing Functions Framework samples recently, so I should be able to write this Firestore sample next week.)

[2020-09-14 08:53] jskeet commented on #1183
Reopening as it *is* an issue for this repo - that's the downside of trying to handle issues on a mobile over the weekend.

It turns out that when I added samples for the previous issue, I missed the last one. Hoping to get it done today.

[2020-09-14 19:16] anguillanneuf commented on #1127
Friendly ping.

[2020-09-15 07:18] #1183 closed

[2020-09-15 07:26] jskeet commented on #1183
The sample is now merged, which is why this issue is fixed - but it won't show up in the public docs until we've made an internal change as well. So @mitulpanch please refer to the linked PR for now.

[2020-09-16 10:19] #1127 closed

[2020-09-16 10:35] amanda-tarafa opened #1189 "[Spanner]: Instance Database limit (100) reached easily."
Alternatives:

- Keep decrementing the time to consider a DB stale.
  - Currently at 48hrs which already doesn't give us time to check on weekend failures.
  - If there's a lot of activity on the repo, and since all tests are executed on presubmit, we can always reach limit even if we delete tha databases inmediately after running the tests, we only need a set number of presubmit checks executing

[2020-09-17 03:26] skuruppu commented on #1189
@laljikanjareeya do you now why we might be creating so many databases? Is it that we're creating a database per test?

Either that, or the tests are run too many times a day since they're run for all PRs.

I think in Node.js, we create instances each run (it doesn't take very long, maybe a couple of seconds). Then instances are deleted at the end of the test. If the test crashes before the resour

[2020-09-17 07:23] jskeet commented on #1183
The documentation is now published: https://firebase.google.com/docs/firestore/query-data/queries#c_12

[2020-09-17 09:48] amanda-tarafa commented on #1189
Thanks for #1190 @laljikanjareeya, all the old DBs are now gone and we have less than 10 now.
Maybe let's keep things as are for a week and see if we see the resource exhasuted failures again. If we don't see them, it was just because of the old DBs. If wee see it, then we'll have to create new instances.
I'll leave this issue open so that I remember to check for failures in presubmits and CI by t

[2020-09-17 12:15] laljikanjareeya commented on #1189
We are creating only two database in test and one is for backup that we never delete.

CI Project there were more than 50 old databases and they never deleted based on current logic that we implemented, I have submitted a [PR](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1190) to delete old databases.

In Node.js we also use `SPANNERTEST_INSTANCE` environment variable for instan

[2020-09-18 10:17] amanda-tarafa commented on #1189
This should have been addressed by #1190 and #1191. Thanks @laljikanjareeya .

[2020-09-18 10:17] #1189 closed

[2020-09-25 16:03] grant opened #1195 "Move run/events-* to eventarc/"
The Events for Cloud Run product/API is not separate from Run.

Given that, we should move the `run/events-*` samples to `eventarc/` and change the README and region tags appropriately.

.NET samples:

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/run

Example:

https://github.com/GoogleCloudPlatform/nodejs-docs-samples/tree/master/eventarc

---

We should leave the README

[2020-09-29 09:06] #1195 closed

[2020-09-29 12:45] jpharaoh-google opened #1199 "Sample cloud-sql/mysql does not handle concurrent requests correctly"
It looks like a single database connection is registered as a singleton, which will then be shared by all threads.

Sample error messages:
- Connection timed out
- Unable to read data from the transport connection: Connection timed out.
- Reading from the stream has failed.
- Fatal error encountered attempting to read the resultset.
- Fatal error encountered during command execution.
- Object refe

[2020-09-29 14:06] amanda-tarafa commented on #1199
Not sure that samples are intended to be used/run in a concurrent manner.
@shubha-rajan @kurtisvg ?

[2020-09-29 16:19] kurtisvg commented on #1199
These samples should be abled to be used in a concurrent manner.

My assumption was that the "connection" was actually a pool, but checking out the [ADO.NET connection pooling documentation](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling) it doesn't look like this is actually the case. Instead, it looks like ADO.NET pools the connections implicitly when

[2020-09-30 10:55] #930 closed

[2020-10-09 19:14] tmatsuo opened #1204 "chore: snippet-bot full scan"
## snippet-bot scan result
Life is too short to manually check unmatched region tags.
Here is the result:
Great job! No unmatching region tags found!

---
Report generated by [snippet-bot](https://github.com/apps/snippet-bot).
If you find problems with this result, please file an issue at:
https://github.com/googleapis/repo-automation-bots/issues.

[2020-10-09 19:27] tmatsuo commented on #1204
@amanda-tarafa FYI

[2020-10-09 19:27] #1204 closed

[2020-10-23 03:32] #1073 closed

[2020-10-23 19:37] jaimestuardo opened #1210 "Transcript is returned repeated when there is a pause in the Microphone"
Hello,

I am using your InfiniteStreaming class and it works, but, I realized that alternatives return the same text until a pause in the microphone is detected.

For example, these alteratives were printed in console window:

`hi Bill you name Susan canes the power` (4 times)
`hi Bill you name Susan canes the power of introverts` (4 times)
`hi Bill you name Susan canes the power of introverts as`

[2020-10-23 20:08] jskeet commented on #1210
I'll look into this on Monday.

[2020-10-26 09:39] jskeet commented on #1210
I'm not seeing this behavior with the sample as it's written. Interim results are provided by the API (because we specifically set `InterimResults=true` in the request) but the code doesn't print those - there's specifically a bit that has:

[code]

Yes, if you look at the `Alternatives` property, you'll see those interim results - but if you don't want to take any notice of them, just ignore them

[2020-11-03 04:46] simonz130 commented on #604
Closing this as it's not feasible. The code compiles but it's so old (that's the point of the demo) so that we can't easily test it.

[2020-11-03 04:46] #604 closed

[2020-11-19 13:48] jskeet commented on #1210
Closing given the lack of feedback.

[2020-11-19 13:48] #1210 closed

[2020-11-19 16:59] amanda-tarafa commented on #928
Closed via #1215

[2020-11-19 16:59] #928 closed

[2020-11-24 13:00] amanda-tarafa opened #1219 "[Leaderboard]: Tests are flaky"
See [error log](https://source.cloud.google.com/results/invocations/48d2b826-c852-4985-8abe-43cd977c4e21/targets/github%2Fdotnet-docs-samples%2Fapplications%2Fleaderboard%2FLeaderboardTest%2FTestResults/tests) as seen on #1218.

[2020-11-24 13:06] amanda-tarafa opened #1220 "[Cloud-SQL]: DB initilization should happen only once at application startup and not at connection acquisition."
On the thre cloud-sql samples, the DB is being initializes (attempted to) whenever a connection is requested. Before #1218 the connection was a singleton so this wasn't the biggest deal, but now a new connection is created  per request, so the DB should be initialized separate from the connection.

@jsimonweb assigning to you since we chatted about this but feel free to assign to someone else. Tha

[2020-11-26 15:44] amanda-tarafa commented on #1219
Closed via #1222

[2020-11-26 15:45] #1219 closed

[2020-11-26 16:24] #1169 closed

[2020-11-26 17:11] #1199 closed

[2020-11-30 23:04] kurtisvg commented on #1220
Hijacking this issue slightly, as I don't think that the changes in PR #1218 are showcasing the correct way to do connection pooling. While these changes now work with multiple requests, they also end up checking out a connection for the entire length of the request. We want to avoid this - instead we only want to borrow a connection from the pool while being used, and return it immediately after.

[2020-12-01 11:37] amanda-tarafa commented on #1220
@kurtisvg The `using` pattern is just syntax sugar to guarantee that the object is disposed of at the end of the `using` block. When using dependency injection as we are doing in these examples (`services.AddScoped...`) the dependency injection mechanism [guarantees](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-3.1#disposal-of-services) that the ob

[2020-12-01 17:05] kurtisvg commented on #1220
While I think we could probably bikeshed over the performance impacts of correct scoping for the connection objects for _this_ specific app, the point of the sample is to provide an example for users to be able to learn from. If a user is using this as the basis for their application and employ a similar pattern in their app, they may have requests that don't need a connection or non-trivial calcu

[2020-12-02 10:24] amanda-tarafa commented on #1220
I would argue very strongly against using a sample as the basis for an application and a Google sample for learning .NET (but that's another discussion ;) ). But if that were the case, if the sample is using the using pattern for the connections, then users that would benefit from the dependency injenction pattern would be missing out. Which goes directly to my point:

1. Both patterns are standar

[2020-12-04 21:42] kurtisvg commented on #1220
We'll have to agree to disagree here - I think taking sample applications and learning from them is a totally valid and very common use case, especially for full sample applications. Personally, it fits my style of learning to have a complete example to take and slowly change until it does what I want. Specifically for this sample, the only goal isn't just to show folks "how to connect" but it's "

[2020-12-08 17:12] amanda-tarafa commented on #1220
@kurtisvg I'm sorry, but it really does not work how you are describing. Attached you can find an app that demonstrates how scoping per request works in the context of ASP.NET Core dependency injection. The app defines a `DummyService` that only counts the instances of it that are created. The type `DummyService` is registered as scoped for dependency injection. There's one controller with two act

[2020-12-08 19:31] kurtisvg commented on #1220
@amanda-tarafa So I'll admit to discussing this conversation with one hand tied behind me back since I have an extremely limited experience with .NET. Please bear with me, as I want to make sure I full comprehend your side of the conversation here, because it doesn't seem to match with what I've seen in the docs and in other places.

In the example you added, the service is specifically specified

[2020-12-10 10:18] skuruppu commented on #1136
@laljikanjareeya thanks for all your work on the samples. What are your next steps?

[2020-12-10 11:40] laljikanjareeya commented on #1136
@skuruppu still few samples are pending one more PR to come.

[2020-12-10 14:54] amanda-tarafa commented on #1136
+1 @laljikanjareeya, and on the repo in general, thanks!!!

[2020-12-10 15:40] amanda-tarafa commented on #1065
@skuruppu , @laljikanjareeya Can't remember if this issue is still relevant. Ain't the backups being done just once now after the rewrite of some of the samples? It's fine if there's still some looese ends related to this, we can keep open until everything is addressed.

[2020-12-10 15:41] amanda-tarafa commented on #1062
@skuruppu @laljikanjareeya , has this already been addressed as part of the samples that have been rewritten? Just checking in case we can close the issue.

[2020-12-10 15:45] amanda-tarafa commented on #1147
@laljikanjareeya just to confirm this need to be added still? No rush on my part, just trying to clean up old issues.

[2020-12-10 15:46] amanda-tarafa commented on #1060
@laljikanjareeya I'm pretty sure this was addressed on the rewrite. Can we close?

[2020-12-11 08:42] laljikanjareeya commented on #1060
Yup.

[2020-12-11 08:42] #1060 closed

[2020-12-11 08:46] laljikanjareeya commented on #1065
We are not deleting backup every time test runs, This will not be an issue but still backup sample is pending to add(will add in part 4) so let keep this open for while.

[2020-12-11 08:51] laljikanjareeya commented on #1062
QuickStart sample is pending to add based on our new  convention(will be done into Part 4).

[2020-12-11 16:54] amanda-tarafa commented on #1220
Yes, but that's why on the controller constructor you only inject services that are going to be used by all actions (as it's the case of these samples). And on each action you inject services that are going to be used by that action only (as is the case of my app). You can have all combinations. This is the standard way of using DI in ASP.NET.

Requested here does not specifically refers to instan

[2020-12-12 00:53] alequeiroz opened #1230 "Exception erros"
Following the tutorial at [i](https://firebase.google.com/docs/firestore/quickstart#c) get:
![image](https://user-images.githubusercontent.com/15961938/101967741-973aad80-3bfa-11eb-8394-83ad9252f9ec.png)
with the code:
![image](https://user-images.githubusercontent.com/15961938/101967779-ccdf9680-3bfa-11eb-97f5-969f5f657d0d.png)
after chaging tutorials and following the same examples as in i get:

[2020-12-12 12:05] #1230 closed

[2020-12-14 18:21] kurtisvg commented on #1220
I'll defer to your expertise here - that interpretation seems reasonable and makes sense to me.

I disagree that this is a realistic scenario - the number of checkouts/releases is generally the same, only with smaller scope (with the exception being if the original interpretation as checking-out/releasing a connection for multiple contiguous database operations, which I don't think was the intent

[2020-12-15 12:59] amanda-tarafa opened #1232 "[Cloud-SQL]: Explicitly open and close the DB connection on the action methods."
This should be done for all three samples, MySql, MS SQL and Postgres.

See discussion in #1220

[2020-12-15 13:04] amanda-tarafa commented on #1220
This is what I was referring to actually, the person did say "every single time", but regardless of what they meant, it seems that we are in agreement here.

My comment here is simple, there's no inevitability to using a pattern or anything else for that matter. You could say the developer chooses the pattern and not the other way around.

I've created a separete issue #1232 to track changing the

[2020-12-15 23:11] anguillanneuf opened #1234 "[Pub/Sub]: add sample for decoding and verifying JWT from Pub/Sub"
Please add a sample in [this](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/appengine/flexible/Pubsub) directory and show how to decode and verify a JWT included in the header of a Pub/Sub push message (when authenticated push is enabled). The other language (Go, Node.js, Java, Python) samples already [exist](https://cloud.google.com/pubsub/docs/push#authentication_and_aut

[2020-12-24 06:46] laljikanjareeya commented on #1147
I think @GauravQ is working on same.

[2020-12-24 07:35] laljikanjareeya commented on #1147
Just confirm with @GauravQ  he is busy with other stuff, I will make PR in early January.

[2021-01-12 19:15] pranav700 opened #1239 "Error on app engine deploy"
Hello , I was trying with "Hello World" app for .net core and is failing at last step when trying to deploy to app engine flex with below error.

Updating service [default] (this may take several minutes)...failed.
ERROR: (gcloud.app.deploy) Error Response: [13] An internal error occurred.

I cant find anything in logging too. please can you let me know what wrong I am doing here as I just cloned

[2021-01-12 20:05] amanda-tarafa commented on #1239
I'll take a look tomorrow and let you know.

[2021-01-12 20:07] amanda-tarafa commented on #1239
Just for extra information, can you add the link with the instructions you are following to deploy? Or a description of exactly how you are trying to deploy. Thanks

[2021-01-12 20:26] pranav700 commented on #1239
sure,
1. so I cloned the "Hello World" repo from github
2.  Open it in Visual studio and change the "Copy to Output Directory" Property to Copy if Newer.
3. Build the solution in release mode
4. Open google sdk cmd and change directory to HelloWorld\bin\Release\netcoreapp2.1
5. lastly, gcloud app deploy

Also I tried "Publish to Google Cloud" plugin in VS and it failed too with same error

[code]

[2021-01-12 22:07] amanda-tarafa commented on #1239
Thanks for the info. I'll try to reproduce tomorrow and report back here with my findings.

[2021-01-13 16:05] amanda-tarafa commented on #1239
I just successfully deployed the [HelloWorld for App Engine](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/master/appengine/flexible/HelloWorld) app and was able to access it with my browser.

Can I double check that you have followed the instructions on the [README](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/appengine/flexible/HelloWorld/README.md) fi

[2021-01-13 16:19] amanda-tarafa commented on #1239
Can I ask also, in which region you are running? We've seen similar problems a couple of times (https://github.com/googleapis/google-cloud-dotnet/issues/4903) in regions that are running low on resources. In that case, changing to a different region might be a temporary workaround.

[2021-01-13 16:25] pranav700 commented on #1239
Thanks for the response. I'll definitely try again this evening. The region I was pointing to is europe-west2.

[2021-01-13 16:31] pranav700 commented on #1239
I just read the other thread, and will try with different region too

[2021-01-13 16:32] pranav700 commented on #1239
I just read the other thread, and will try with different region too

[2021-01-13 17:11] pranav700 commented on #1239
So I just tried it again, I was able to deploy successfully for us-central1 but europe-west2 is still failing.  Hope the issue gets fixed soon. Thanks for your help

[2021-01-13 17:17] amanda-tarafa commented on #1239
Thanks for getting back to us. I'll be closing this issue now because there's no problem with the sample itself which is what we can help with.

[2021-01-13 17:17] #1239 closed

[2021-01-16 19:01] josephws opened #1241 "[Product search]: passing maxresults parameter with C#"
I cannot find the a way to pass the maxresults parameter in google vision api product search C# sample code.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/vision/api/ProductSearch/ProductSearch.cs

Please advise.

[2021-01-16 19:15] jskeet commented on #1241
I don't believe we have a way of easily doing that via the convenience `DetectSimilarProducts` method - instead you'd have to call `Annotate`, passing in an `AnnotateImageRequest` with a `Feature` that specifies that you want product search, along with the max results etc.

Untested:

[code]

[2021-02-02 10:14] olavloite opened #1251 "[Spanner] CreateDatabase sample should batch all DDL statements"
The current `CreateDatabase` sample for Cloud Spanner executes three separate DDL statements to create a database with 2 tables. It is [generally advisable to batch DDL statements](https://cloud.google.com/spanner/docs/schema-updates#best-practices) together, both to speed up the execution of the DDL statements and to reduce the number of DDL statements that is sent to Spanner.

The [create databa

[2021-02-05 09:33] #1251 closed

[2021-02-05 14:54] #1220 closed

[2021-02-05 14:54] #1232 closed

[2021-02-08 12:11] olavloite opened #1254 "[Spanner]: spanner_create_table_with_datatypes misses NUMERIC column"
The `spanner_create_table_with_datatypes` sample does not include a `NUMERIC` column. The sample table should include a `Revenue NUMERIC` column.

[2021-02-09 12:16] amanda-tarafa opened #1257 "Make CI support .NET 6"
Some products, like KMS, would benefit from .NET 5 dependant samples.

FYI @sethvargo

[2021-02-11 20:04] munkhuushmgl commented on #947
Looks like limit is already increased up to 120.
I will re-enable tests and investigate them further.
![image](https://user-images.githubusercontent.com/45373284/107692207-4f1f2200-6c61-11eb-8d8a-effdda1f2b21.png)

[2021-02-13 16:03] heeshala opened #1260 "Firestore reading array value"
How is it possible to read the array index value using C# code ?

I was able to get string data types using [FirestoreProperty] public string name{ get; set; }

but  [FirestoreProperty] public string[] arr{ get; set; }

do not work

[2021-02-13 16:08] jskeet commented on #1260
Please could you refile this in https://github.com/googleapis/google-cloud-dotnet? (I can't transfer between the different organizations, I'm afraid.)

I would *expect* this to work out of the box - when you file the new issue, please could you clarify what "do not work" means? Are you reading or writing data? Is an exception thrown?

(I'll close this issue now, in anticipation of the new one.)

[2021-02-13 16:08] #1260 closed

[2021-02-16 16:15] #1254 closed

[2021-02-17 16:24] #947 closed

[2021-02-19 10:24] amanda-tarafa opened #1262 "Spanner: Tests failing because of backup PITR"
Sample failures [here](https://source.cloud.google.com/results/invocations/575b363e-34b8-4655-aff3-cf969b13cdd7/targets/github%2Fdotnet-docs-samples%2Fspanner%2Fapi%2FSpanner.Samples.Tests%2FTestResults/tests). Seems like the version time is "in the future".

[2021-02-19 10:38] skuruppu commented on #1262
Hmmm that's interesting. We say create a backup at version_time = now. But I guess the clocks are not in sync so this can happen.

I don't have any great ideas on what time to set this to. We would ideally set the time in the past but we can't make any guarantees about when the database was created for the test.

[2021-02-19 10:58] olavloite commented on #1262
A `create_time` [property](https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.admin.database.v1#database) was added to `Database` not so long ago, so I guess we can use that to set the `version_time`.

[2021-02-19 11:03] amanda-tarafa commented on #1262
It ominously says "if exists" :)

I think the problem is with Spanner not localizing dates (or this is what I remember from a fix from @olavloite in the libraries)? So maybe instead of using UTC, use the local date for the backup? I think the date is in the future because it's UTC, but it's treated as local in Spanner which is (for some) in the future? Not sure though if I'm remembering correctly.

[2021-02-19 12:00] olavloite commented on #1262
Yup, that's 'very informative' ;-).
As far as I know, the 'if exists' boils down to: If the database was created after this field was made (publicly) available, it will be populated. So for test databases that are created now and in the future, we should be safe.

The other problem with UTC vs. local dates was in the hand-written client where parameters were bound to a statement. This seems to be

[2021-02-19 12:26] jskeet commented on #1262
I don't think this is a time zone issue - I think it's just clock skew. That's a problem with the sample - we shouldn't be encouraging users to specify "the current instant" when creating the backup, because it can so easily go wrong.

I think there are two use cases:

- "Create a backup with the current data" - don't specify the `VersionTime` property
- "Create a backup for a known-good timestamp

[2021-02-19 17:11] olavloite commented on #1262
I agree with the above. Having a simple sample for `CreateBackup` that does not take a `VersionTime` and a separate sample for creating a backup with a (valid) version time makes sense. It is however not in line with the current specs for the samples (and also not with the samples for the other client languages). @skuruppu What are your thoughts on this? Is this something that we should change for

[2021-02-22 04:05] skuruppu commented on #1262
It is a little bit unfortunate that we had to modify the existing `CreateBackup` sample but it was done for a good reason. As you've probably noticed, creating a backup can take some time, often leading to tests timing out and being flaky. So instead of introducing another code sample, we decided to modify the existing sample.

I think the choice you made in #1263 is reasonable. It's also reasonab

[2021-02-22 04:11] thiagotnunes commented on #1262
Added my thoughts to the fix https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1263. I think we should use the database `earliest version time` instead.

[2021-02-22 09:58] #1262 closed

[2021-02-24 09:17] amanda-tarafa opened #1266 "Diagnostics: Make the setting up sample use a sized buffer instead of no buffer."
Code [here](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/cc1a204b2dae56fe69c55b720b878898dedbf757/appengine/flexible/Stackdriver/Startup.cs#L63).
Shown [here](https://cloud.google.com/trace/docs/setup/aspnetcore#configuring_the_client_library).

- No buffer may lead to latency issues if many requests are traced.
- TimedBuffer won't work with Google Cloud Run and other  auto-scal

[2021-02-24 21:36] bfrey1 opened #1267 "[Pub/Sub]: Error - Wildcard resource ids must not contain / (Parameter 'value') using PullMessagesAsync"
Hi!

The following innocent code snippet keeps breaking when trying to pull the published messages:
[code]

Throws the following error:
[code]

Perhaps the issue lies in me using .net 5?
[code]

Any help is much appreciated! :)

[2021-02-24 21:39] jskeet commented on #1267
What is the value of `subscriptionId`? I strongly suspect that's the problem - I suspect you're passing in a full resource name there, instead of just the subscription ID.

[2021-02-24 22:55] bfrey1 commented on #1267
@jskeet : Thanks, you're right... such an easy fix. Did not put that together with error message, though in hindsight seems plausible.

[2021-02-24 22:55] #1267 closed

[2021-03-01 11:25] amanda-tarafa opened #1271 "Spanner: Tests faling with duplicate column name."
Affecting all Spanner tests since this is happening in the fixture: Error: Google.Cloud.Spanner.Data.SpannerException : Duplicate column name Albums.MarketingBudget.

See sample [CI output](https://source.cloud.google.com/results/invocations/00fb02fd-8e97-40af-b459-c95f324ef2dd/targets/github%2Fdotnet-docs-samples%2Fspanner%2Fapi%2FSpanner.Samples.Tests%2FTestResults/tests).

[2021-03-01 11:29] amanda-tarafa opened #1272 "Storage: HMAC tests not cleaning up after themselves. HMAC keys limit reached."
Seems like HMAC tests are not properly deleting HMAC keys and we have reached limit. All HMAC keys related tests are failing.

Sample [CI output](https://source.cloud.google.com/results/invocations/00fb02fd-8e97-40af-b459-c95f324ef2dd/targets/github%2Fdotnet-docs-samples%2Fstorage%2Fapi%2FStorage.Samples.Tests%2FTestResults/tests).

[2021-03-01 11:38] amanda-tarafa opened #1273 "Asset: Quickstart tests sometimes timing out"
Sample [CI output](https://source.cloud.google.com/results/invocations/8273bb2e-f90b-4617-92b3-6aaf17a0279c/targets/github%2Fdotnet-docs-samples%2Fasset%2Fquickstart%2FExportAssetsTest/tests)

This might just be a matter of increasing timeouts.

[2021-03-01 11:48] amanda-tarafa opened #1274 "CI: On occasion the build failes even if all tests are green"
See [CI sample output](https://source.cloud.google.com/results/invocations/c972130c-5eec-4fbd-9918-fa74d23bcc60/targets;collapsed=/cloud-devrel%2Fdotnet-docs-samples%2Flinux%2Fpresubmit/log).

I need to look into this in detail. There seems to be some permissions missing when moving test output files at the end of the build. This might very well have to do with a Kokoro glitch than with our own co

[2021-03-01 12:36] #1273 closed

[2021-03-02 09:50] amanda-tarafa opened #1277 "Vision: Product search quota is reached sometimes"
This causes flakyness. [CI output sample](https://source.cloud.google.com/results/invocations/78a1c1ab-5a79-482c-aeba-3b6f88ed5eb1/targets/github%2Fdotnet-docs-samples%2Fvision%2Fapi%2FVisionTest%2FTestResults/tests).

[2021-03-02 10:04] amanda-tarafa opened #1278 "CI: On ocassion Google.Cloud* packages cannot be found."
CI sample [output](https://source.cloud.google.com/results/invocations/07e66c49-eaa9-4c8d-96ad-db51cbaa0bd8/targets/github%2Fdotnet-docs-samples%2Fasset%2Fquickstart%2FExportAssetsTest/tests).

I've seen it for several different libraries. It seems when it happens that packages are only being resolved from offline sources. Wonder if the machine looses connectivity from time to time. If that's the

[2021-03-02 15:24] amanda-tarafa commented on #1278
Another example of this with the [Transalate library](https://source.cloud.google.com/results/invocations/396e58ff-c11b-457a-9563-224671c6f12d/targets/github%2Fdotnet-docs-samples%2Ftranslate%2Fapi%2FTests/tests).

[2021-03-02 22:52] skuruppu commented on #1271
I think this was a flake. I haven't seen the same failure after this instance. For example in [this](https://fusion2.corp.google.com/invocations/8d0a78ba-07ea-4b0f-8bf4-8461bc73e3fd/targets/cloud-devrel%2Fdotnet-docs-samples%2Flinux%2Fpresubmit2;config=default/log) which ran after the CI test above.

In a normal run of the tests the output looks like this:
[code]

In this failed case, the output l

[2021-03-02 22:53] skuruppu commented on #1271
I'm not sure that there is anything to fix here but @amanda-tarafa let me know your thoughts.

[2021-03-04 10:33] amanda-tarafa commented on #1271
Yep, it's a flake for sure, I think I saw it once before but no more than that. I also took a brief look and couldn't make out how it would happaned. I thought it might have been the tests running at the same time on Linux and Windows, but then the failure would have been on database creation, not here. And we are not running the old tests either.
Maybe catch that exception, check that the error c

[2021-03-04 19:05] anguillanneuf opened #1279 "Pub/Sub: add schema samples"
Assigned to @kamalaboulhosn with internal tracking bugs.
Please assign @amanda-tarafa for review.

- [x] create avro schema
- [x] create proto schema
- [x] get schema
- [x] list schemas
- [x] delete scheam
- [x] create topic with schema
- [x] publish avro records
- [x] publish proto messages
- [x] subscribe with avro schema
- [x] subscribe with proto schema

See [Java](https://github.com/googleapi

[2021-03-11 02:51] EatonZ opened #1281 "KMS EC .NET 5 sample update"
Since .NET 5 has been released for some time now, [this example](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/kms/api/Kms.Samples/VerifyAsymmetricEc.cs), as per the comments, can now be updated.

[2021-03-11 09:17] amanda-tarafa commented on #1281
There's some CI work we need to do first. See #1257 to track that. I'll get to it as soon as possible. In the meantime this can be considered blocked.

[2021-03-15 10:30] amanda-tarafa commented on #1241
Closing as a solution was proposed and we haven't received feedback.

[2021-03-15 10:30] #1241 closed

[2021-03-16 19:57] PaulMazzuca opened #1282 "Logging to GKE fails to set container_name label"
I am finding that when I log in GKE using option 1 (https://cloud.google.com/logging/docs/integrate/dotnet) the resource.label.container_name field is empty.  This seems odd especially given that the pod_name, cluster_name and location are present. In other logging frameworks by Google such as the Python and Java one's the conatiner_name is set. This is causing issues with log analysis since we ca

[2021-03-16 21:41] amanda-tarafa commented on #1282
Yes we know about this and we are tracking here https://github.com/googleapis/gax-dotnet/issues/432. I'll close this one now but feel free to follow the one I've linked. Thanks

[2021-03-16 21:41] #1282 closed

[2021-03-16 21:43] #1277 closed

[2021-03-19 09:10] amanda-tarafa commented on #1278
Another example with [Asset](https://source.cloud.google.com/results/invocations/37e8c6d0-73d0-4d84-800c-1ed57eecc6dd/targets/github%2Fdotnet-docs-samples%2Fasset%2Fquickstart%2FExportAssetsTest/tests).

[2021-03-22 10:49] amanda-tarafa commented on #1278
[Asset](https://source.cloud.google.com/results/invocations/31dd34df-5b96-4977-b74b-e0df2c837eed/targets/github%2Fdotnet-docs-samples%2Fasset%2Fquickstart%2FExportAssetsTest/tests) again.

[2021-03-22 11:00] #1062 closed

[2021-03-22 11:00] #1065 closed

[2021-03-22 11:00] #1173 closed

[2021-03-23 11:15] amanda-tarafa opened #1286 "Clouddemo: Failed to build, but only transiently."
See CI logs [here](https://source.cloud.google.com/results/invocations/73312485-45fb-41eb-b505-bd2bc8c09b77/targets/github%2Fdotnet-docs-samples%2Fapplications%2Fclouddemo%2Fnetcore/tests). Not much information there unfortunatelly.
Might be another manifestation of #1278

@jpassing I understand this might be just a one-of. But it would be great if you could take a quick look.
I'm also creating th

[2021-03-23 11:19] amanda-tarafa commented on #1278
[Vision](https://source.cloud.google.com/results/invocations/a1fcbb86-86de-43e0-9d90-ff36536f9ac2/targets/github%2Fdotnet-docs-samples%2Fvision%2Fapi%2FVisionTest/tests) and [Asset](https://source.cloud.google.com/results/invocations/51075306-1922-43ba-a6fd-d5fcebb4d116/targets/github%2Fdotnet-docs-samples%2Fasset%2Fquickstart%2FExportAssetsTest/tests)

[2021-03-23 11:32] jpassing commented on #1286
`FAILED with exit code 139` looks like a segfault -- have we changed CLR versions recently?

[2021-03-23 11:37] amanda-tarafa commented on #1286
No, we haven't made any changes to CI.
Also, it just failed once, yesterday, in one of the presubmits, but it's been fine on the rest of the presubmits and the nightly runs, so it's very probably just transient.
Mainly wanted to track it in case it happens again.
I'll be closing now as one-of and I'll reopen if I see it again.
Thanks

[2021-03-23 11:37] #1286 closed

[2021-03-24 12:19] amanda-tarafa opened #1289 "Appengine/Flexible/F#: Modify one test depends on an image that's on the Vision folder."
This means that we cannot cleanup Vision unsuported samples (#1283) without affecting the Appengine/Flexible/F# tests.
We should copy the image locally to the F# folder.

[2021-03-24 15:37] amanda-tarafa opened #1291 "Datastore: Some tests are failing."
This seems to be a couple of flakes, but still worth to take a look at.
CI output [here](https://source.cloud.google.com/results/invocations/ee5145da-a55b-44c5-8e80-9d601e571271/targets/github%2Fdotnet-docs-samples%2Fdatastore%2Fapi%2FTaskListTest%2FTestResults/tests;group=GoogleCloudSamples.DatastoreTest;test=GoogleCloudSamples.DatastoreTest.TestCursorPaging;row=2).

[2021-03-24 15:40] #1289 closed

[2021-03-25 14:06] amanda-tarafa opened #1295 "Asset: SearchAllResourcesTest is flaky"
[CI output](https://source.cloud.google.com/results/invocations/28b5f8c4-5d00-4ff5-88ca-c163f7efa4c8/targets/github%2Fdotnet-docs-samples%2Fasset%2Fapi%2FAsset.Samples.Tests%2FTestResults/tests).

[2021-03-25 14:21] amanda-tarafa commented on #1278
[Vision](https://source.cloud.google.com/results/invocations/b8700b79-7864-4021-8ef3-6e660e175436/targets/github%2Fdotnet-docs-samples%2Fvision%2Fapi%2FVisionTest/tests)

[2021-03-25 14:23] amanda-tarafa commented on #1291
Slightly different failures [here](https://source.cloud.google.com/results/invocations/ed1f2aab-5cc7-4762-9cc8-c47f44139bf4/targets/github%2Fdotnet-docs-samples%2Fdatastore%2Fapi%2FTaskListTest%2FTestResults/tests;group=GoogleCloudSamples.DatastoreTest;test=GoogleCloudSamples.DatastoreTest.TestLimit;row=1).

[2021-03-25 15:07] amanda-tarafa commented on #1002
Made obsolote by #1293

[2021-03-25 15:07] #1002 closed

[2021-03-25 16:51] amanda-tarafa commented on #1272
Actually all the tests are cleaning up after themselves. This seems to be because of sporadic failures over time in deleting the keys, and they have build up. I will clear the existing keys but keep this issue open for a while to see how soon we see it build back up.

[2021-03-25 17:08] amanda-tarafa commented on #1272
I just deleted all HMAC keys. Let's give it a couple of weeks and see how soon it builds of egain.

[2021-04-01 10:00] amanda-tarafa opened #1299 "CI: Shard Spanner on it's own for test running."
So that we can run backup related tests.

[2021-04-01 10:12] amanda-tarafa opened #1300 "Spanner: Unskip encrypted backup related tests"
And also have proper normal backup related tests that create a backup each time, etc.

This issue is blocked on #1299 .

[2021-04-01 10:56] amanda-tarafa commented on #1291
Another [instance](https://source.cloud.google.com/results/invocations/352c9efe-ca0f-4176-aac5-a130183f03c8/targets/github%2Fdotnet-docs-samples%2Fdatastore%2Fapi%2FTaskListTest%2FTestResults/tests) of this.

[2021-04-01 10:58] amanda-tarafa commented on #1295
And [SearchAllResources](https://source.cloud.google.com/results/invocations/91f689ab-cafc-4298-ab85-a1daefcd7f1b/targets/github%2Fdotnet-docs-samples%2Fasset%2Fapi%2FAsset.Samples.Tests%2FTestResults/tests) as well.

[2021-04-01 11:01] amanda-tarafa commented on #1003
Made obsolete by #1287

[2021-04-01 11:01] #1003 closed

[2021-04-01 11:06] amanda-tarafa commented on #1129
Existing Dialogflow samples have been removed (#1287) because thay are currently unsuported, so it's unlikely that we'll be adding new ones soon.
Eventually new relevant samples will be added, but for now I'll close this issue.

[2021-04-01 11:06] #1129 closed

[2021-04-01 11:11] amanda-tarafa commented on #1295
[Again](https://source.cloud.google.com/results/invocations/90983db9-b361-451a-9ee1-db87c16b3488/targets/github%2Fdotnet-docs-samples%2Fasset%2Fapi%2FAsset.Samples.Tests%2FTestResults/tests)

[2021-04-01 11:12] amanda-tarafa commented on #1291
[Again](https://source.cloud.google.com/results/invocations/af36fccf-6548-4689-a253-9737b7a5e320/targets/github%2Fdotnet-docs-samples%2Fdatastore%2Fapi%2FTaskListTest%2FTestResults/tests)

[2021-04-01 11:15] amanda-tarafa commented on #1160
Made obsolote by #1288

[2021-04-01 11:16] #1160 closed

[2021-04-01 12:02] amanda-tarafa commented on #1059
Made obsolete by #1296