[2021-04-01 12:02] #1059 closed

[2021-04-07 13:57] laljikanjareeya commented on #1271
Definitely this seem like flaky and not able to reproduce it locally. I have loop it for 50 time to create database and add column but it's working fine.

Based on `SpannerFixture` I just copy the sample and created below program:

[code]

[2021-04-07 17:14] amanda-tarafa commented on #1272
And we have now [an error](https://source.cloud.google.com/results/invocations/24ac2550-b9b4-4959-b545-9a657e227787/targets/github%2Fdotnet-docs-samples%2Fstorage%2Fapi%2FStorage.Samples.Tests%2FTestResults/tests) which seems because we are trying to clean an HMAC key that was already delete.

[2021-04-07 17:29] amanda-tarafa commented on #1271
I'll close this one for now as not reproduceable. I'll reopen if I see it again.

[2021-04-07 17:29] #1271 closed

[2021-04-08 18:51] koderi-dp opened #1305 "c# Speech to text samples"
Hi,

I see that all of c# speech to text samples are removed from here and from
https://cloud.google.com/speech-to-text/docs/endless-streaming-tutorial

will there be new samples or this is end for C# support :)

Thanks

[2021-04-09 08:12] amanda-tarafa commented on #1305
FYI @telpirion for you to answer or forward to someone who can. Thanks.

[2021-04-10 18:56] MoneyMan573 opened #1308 "<!-- probot comment [9602930]-->"
Here is the summary of possible violations 😱<details>
  <summary>There is a possible violation for not having product prefix.</summary>

  - [quickstart/README/main.yml:16](https://github.com/MoneyMan573/dotnet-docs-samples/blob/26fce79afc90e8917b7e1e5fd0178da4dc9a772e/quickstart/README/main.yml#L16), tag `all`

</details>

**The end of the violation section. All the stuff below is FYI purposes on

[2021-04-10 19:05] MoneyMan573 opened #1309 "New Version 1.1"
[code]

[2021-04-11 08:49] amanda-tarafa commented on #1308
Closing as the PR that produced this has been closed as spam.

[2021-04-11 08:49] #1308 closed

[2021-04-11 08:51] amanda-tarafa commented on #1309
Closin as this author has been spamming this repo. @jskeet has reported the author to github.

[2021-04-11 08:51] #1309 closed

[2021-04-12 16:10] telpirion commented on #1305
Hello @koderi-dp,

C# is still a supported language with a client library--see the [Google.Cloud.Speech package on Nuget](https://www.nuget.org/packages/Google.Cloud.Speech.V1/). Samples have been removed due to maintenance concerns.

[2021-04-12 16:10] #1305 closed

[2021-04-12 16:16] amanda-tarafa commented on #1272
We've reached limit [again](https://source.cloud.google.com/results/invocations/4d68d111-4399-4c1f-8037-daf4c2eadec9/targets/github%2Fdotnet-docs-samples%2Fstorage%2Fapi%2FStorage.Samples.Tests%2FTestResults/tests).

[2021-04-12 16:19] amanda-tarafa opened #1311 "Cloud-SQL: SQL server tests are flaky."
I've seen [this](https://source.cloud.google.com/results/invocations/05c02d3e-9bd9-4630-ab0d-e3b384ffdcdd/targets/github%2Fdotnet-docs-samples%2Fcloud-sql%2Fsql-server%2FSqlServer/tests) a couple of times now.

[2021-04-12 16:20] dp-code101 commented on #1305
Don't undrestand why are you closing this ticket, so we have package available but without any example how to use it, are you planing to have examples for c# or answer is "mainteance concerns"?

[2021-04-12 16:27] telpirion commented on #1305
The reference documentation is still available for the [package](http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Speech.V1/index.html), which should help you with usage. The [product documentation](https://cloud.google.com/speech-to-text/docs/) is also available.

[2021-04-12 16:37] dp-code101 commented on #1305
This is product documentation
![6D1F9CC4-E59D-4E36-8D9F-FC8DE8A6E784](https://user-images.githubusercontent.com/81353820/114429612-dafbee80-9bbd-11eb-8bcb-061940d31dd1.png)

dont see c# there, for package documentation is 2 code blocks and hot to install package

[2021-05-24 17:45] telpirion commented on #1305
If your concern is with the product documentation, you should log an an issue there.

[2021-05-24 18:48] koderi-dp commented on #1305
@telpirion thanks, you were very helpful.

[2021-07-07 14:18] amanda-tarafa opened #1332 "Spanner: CreateInstanceTest is flaky"
[code]

[2021-07-07 14:20] #1136 closed

[2021-07-07 23:41] skuruppu commented on #1332
@laljikanjareeya if you could take a look, that would be great. I wonder if we just need to put this in a retry loop.

[2021-07-08 05:27] laljikanjareeya commented on #1332
Do you want to put a custom retry setting in the create instance sample?

[2021-07-08 10:13] amanda-tarafa commented on #1311
@kurtisvg, @shubha-rajan Could you take a look, some of these are now always failing. Thanks.

[2021-07-08 10:15] amanda-tarafa commented on #1272
@tritone Assigning to you as well. There's some issue with the HMAC cleanup, it's there, but it might not be working always. HMAC keys are filling up quite quickly.

Assigning to you as well so that the first one of us with badnwidth can take a look. Thanks

[2021-07-08 10:44] skuruppu commented on #1332
No, not quite, I was hoping we can do so in the test. Would that be possible?

[2021-07-08 10:49] laljikanjareeya commented on #1332
we can not do it in test because we are pulling operation until completed(`PollUntilCompleted()`) in sample.

[2021-07-08 19:50] kurtisvg commented on #1311
Here's the error message:
[code]

My guess is that this is probably another example of "required SSL" being flipped on. We'll probably need to update the sample. @jsimonweb can you please take a look?

[2021-07-14 06:33] zoercai commented on #1332
🚨 friendly triager ping @skuruppu @laljikanjareeya

[2021-07-14 07:27] olavloite commented on #1332
@laljikanjareeya I think we can safely retry the entire test call in the test method itself, without having to change the sample. See #1337

[2021-07-14 17:03] tritone commented on #1272
I did a little bit of investigation around this.

I see the code to clean up the test keys is [here](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/2b8c5d9fc13250621793453106c76b386e948498/storage/api/Storage.Samples.Tests/BucketFixture.cs#L121) and called in tests for example [here](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/storage/api/Storage.Samples

[2021-07-15 16:33] amanda-tarafa opened #1338 "BigQueryTest.TestListTables fails sometimes with a Json parsing error"
It might be the server returning some invalid Json in some instances.

Failure can be seen [here](https://source.cloud.google.com/results/invocations/41ad3d5f-766f-45bf-af91-e8d2c0e5855b/log).

[2021-07-15 16:39] #1311 closed

[2021-07-15 16:50] #1332 closed

[2021-07-17 18:02] morphx666 commented on #1305
You can always browse an older commit and get the samples from there.

[2021-07-20 09:58] amanda-tarafa opened #1340 "Spanner: Setting the optimizer statistics package make tests fail sometimes."
For example:

[xUnit.net 00:04:20.10]     CreateConnectionWithQueryOptionsAsyncTest.TestCreateConnectionWithQueryOptions [FAIL]
  ! CreateBackupWithEncryptionKeyAsyncTest.TestCreatBackupWithEncryptionKeyAsync [1ms]
  X CreateConnectionWithQueryOptionsAsyncTest.TestCreateConnectionWithQueryOptions [53ms]
  Error Message:
   Google.Cloud.Spanner.Data.SpannerException : An invalid argument was sent t

[2021-07-20 11:00] skuruppu opened #1341 "tests: delete stale instances"
We introduced a code sample for creating an instance with [processing units](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/commit/ad91ad6e3249620b038b83ae7d1faa74ac66e08e#diff-3451c37ceaa172ce91470fb9900bc234ae60eb25739b1ec0a6059d33fe9eb8fb), which also included cleaning up the instance at the end of the test. But if the tests fail, then the instance cleanup code may not get triggered

[2021-07-20 13:18] #1340 closed

[2021-07-20 23:44] skuruppu commented on #1341
@laljikanjareeya you probably already thought about this but we need to make sure that we don't delete `my-instance` which is used for running all the other tests.

[2021-07-22 10:09] #1341 closed

[2021-07-22 14:38] amanda-tarafa commented on #1272
Reopening, there's a flake leftover, I'll look into it:

[code]

[2021-07-22 15:36] amanda-tarafa commented on #1272
It seems that, even though the key has been successfully created, in some cases it is not inmediately available. @tritone is there a way to confirm this? Because if this is the case, we should add a sleep on samples, not just on tests, since this would be something that clients themselves will encounter.

[2021-07-22 21:34] mjr2001us commented on #434
Warning	NU1701	Package 'Antlr 3.4.1.9004' was restored using '.NETFramework,Version=v4.6.1 in MVC5 ,netcore

[2021-07-30 14:40] amanda-tarafa opened #1367 "Storage: HMAC key not inmediately available after creation?"
It seems that, even though the key has been successfully created, in some cases it is not inmediately available. @tritone is there a way to confirm this? Because if this is the case, we should add a sleep on samples, not just on tests, since this would be something that clients themselves will encounter.

[2021-07-30 14:41] amanda-tarafa commented on #1272
Closing in favour of #1367. After #1339, we are not reaching quota anymore. But we see an ocasional flake as described in #1367

[2021-07-30 14:41] #1272 closed

[2021-08-02 22:22] jsimonweb opened #1385 "Cloud SQL samples should initialize DB before web app startup"
The Cloud SQL sample app for Postgres, MySQL and SQL Server currently call the method to initialize the database (to create "votes" table) after the call to startup the sample web app, resulting in flakiness/errors like the following:

[From Cloud Console Logging]
{
  "textPayload": "    MessageText: relation \"votes\" does not exist",
...
}

[2021-08-04 14:28] #1385 closed

[2021-08-04 22:29] tritone commented on #1367
@amanda-tarafa thanks for raising this issue.

We do note in the docs that users should wait [up to 3 min](https://cloud.google.com/storage/docs/authentication/managing-hmackeys) for changes to keys to propagate. Looks like this doc used to have a note that creation used to take up to 15s to go into effect as well (see internal cl/305900878), I'm not really sure why this was removed-- maybe we sho

[2021-08-06 09:31] amanda-tarafa commented on #1279
@anguillanneuf Can you check whether this was fully addressed by #1322 . I think it was but you may know better. Thanks!

[2021-08-06 10:24] amanda-tarafa commented on #992
#1121 is addressing this

[2021-08-06 10:25] amanda-tarafa commented on #990
#1121 is addressing this

[2021-08-06 10:53] amanda-tarafa opened #1425 "Spanner: Refactor the test fixture."
The existing test fixture is getting unmanageable in both the amount of time it takes to initialize, and the amount of unrelated code it's holding. Also, some decisions that were made at the beginning os Spanner test rewritting might have not been the best, in hindsight, and may be reconsider now.

The general proposal is to have several specialized fixtures, maybe all deriving from a base class.

[2021-08-06 11:09] amanda-tarafa commented on #1425
Some aspects that we might want to discuss (that I can think off right now)

- Resource deletion approach.
- Fixed resources (that we reuse for all tests run) vs. temporary resources.
- Test execution ordering.
- Frontier in which to split the current fixture.

My thoughts on these:

Resource deletion: Keeping resources after tests are done allows using them for diagnosing purposes when tests fail

[2021-08-06 11:17] amanda-tarafa opened #1426 "Swagger: Modernize application and update dependencies"
This sample code seems to be really outdated. Code changes are needed to bring it up to date. But that just makes sense if this samples is still relevant which I don't have the context to know.

@SurferJeffAtGoogle and @simonz130, you seem to have been the main contributors to this sample in the past. Can you give more context as to whether this sample is still being used or not, etc.?

[2021-08-06 11:23] amanda-tarafa opened #1427 "Google Home Demo: Modernize application and update dependencies."
This sample code seems to be somewhat outdated. Code changes are needed to bring it up to date. But that just makes sense if this samples is still relevant which I don't have the context to know.

@meteatamel , what do you think? Look at the renovate PRs that I'm closing pointing to this issue for the dependencies that need updating. Thanks!

[2021-08-06 11:31] amanda-tarafa commented on #1367
OK, I'll add the retries when I have a chance and maybe you can try to have that piece of doc reinstated.

[2021-08-06 18:00] anguillanneuf commented on #1279
Yes, this was fixed by #1332 . Thanks @amanda-tarafa  for double-checking!

[2021-08-06 18:00] #1279 closed

[2021-08-07 07:47] olavloite commented on #1425
In addition to the above, I would also like to add the following to the list of discussion points:

- Parallel execution of tests

### Resource deletion
While it can be useful to keep a resource around after a test run for diagnostic purposes, many of the sample tests are so simple that a failure will normally be easy to diagnose without the resource as well, especially if the single test is quick

[2021-08-13 10:56] amanda-tarafa commented on #1425
+1 to chatting about Parallel execution and dropping Test exection order since we are in agreement there.

### Fixed resources (shared across test runs):
- Agree to keep only backups fixed for now.
- Be prepared to consider instances fixed as well (mostly because of quotas and not because of running times). There's a limit of 5 instance creates per minute. Instances might not be fixed, but we migh

[2021-08-13 10:58] amanda-tarafa commented on #1425
(@olavloite now I could add you on the assinee list as well, weird why I couldn't at first)

[2021-08-16 08:18] meteatamel commented on #1427
@amanda-tarafa AFAIK, I don't think this sample is being used from any docs or anywhere else. I don't have plans to keep it up to date. My suggestion is to either keep the sample as is, without any library updates.

[2021-08-16 19:02] olavloite commented on #1425
@amanda-tarafa Thanks for the elaborate points. I think we agree on most (all?) of the above. I'll take a detailed look Thursday or Friday this week. The first half of this week is a little bit hectic.

[2021-08-17 07:56] amanda-tarafa commented on #1425
Great! No rush at all on my part. This is a nice to have (do) but tests are running pretty consistently so it's fine that we take time to do all this.

[2021-08-17 08:02] amanda-tarafa commented on #1427
OK, I'll think about it. Specially if they are not being referenced by any docs, I'm more inclined to delete it. We can always bring it back to live if we decide we want to include it somewhere.

[2021-08-20 12:30] olavloite commented on #1425
I totally agree with almost all of the above, so I'll just focus on a couple of worries that I have regarding a couple of points (plus one point where my rationale was indeed not really clear):

Yeah, I'm a little bit too used to the Java test environment, where there is no separate fixture, and the setup is part of the test class itself. I think in most cases we mean the same, but my terminology

[2021-08-23 18:36] peter-zheng-g commented on #1141
Is this issue still there?

[2021-08-27 13:37] amanda-tarafa opened #1470 "Assets: Consider removing the Quickstart"
Both samples that exist on the Quickstart project exist on the Samples project as well.
We can probably get rid of the Quickstart by adding the quickstart region tags to the Samples ones and updating the docs to point to these instead.

[2021-08-27 15:27] amanda-tarafa opened #1471 "CloudSQL: The SQL Server tests are failing"
They are consistently failing, both in Windows and Linux (sample [CI output](https://source.cloud.google.com/results/invocations/c0d30f8b-04a5-46eb-af49-4abc1702016f/targets/github%2Fdotnet-docs-samples%2Fcloud-sql%2Fsql-server/tests))

Error here:
[code]

I'm skipping the tests in #1469 until they are fixed.

[2021-08-30 08:27] forking-renovate[bot] opened #1472 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency google.apis.cloudiot.v1 to v1.54.0.2419](../pull/1473)

## Ignored or Blocked

These are blocked by an existin

[2021-08-31 08:44] amanda-tarafa commented on #1141
This continued to be flaky, but I've figured out why. For `startTime` we were sending `DateTime.UtcNow`, but if the backend clock is a little late, we get this `Invalid Argument` error. In #1469, second commit, I've modified the sample and test so that we can send a `startTime` 5 minutes on the past.

[2021-08-31 08:57] #1472 closed

[2021-09-01 10:23] #1141 closed

[2021-09-01 10:23] #1295 closed

[2021-09-01 10:23] #1367 closed

[2021-09-01 18:03] peter-zheng-g commented on #1141
Awesome! Thanks for the fix.

[2021-09-06 15:36] amanda-tarafa commented on #1278
This continues to happen...

[2021-09-06 16:09] amanda-tarafa commented on #1470
It seems like all docs are poiting to the new samples and not to the quickstart ones. I'll attempt to delete them and if SnippetBot does not complain we are fine.

[2021-09-06 17:31] #1278 closed

[2021-09-06 17:31] #1470 closed

[2021-09-07 08:02] amanda-tarafa opened #1487 "Logging: Samples are outdated and need a rewrite to match new sample guide."
See #1170, some work has been done there.

[2021-09-28 16:22] shaffeeullah opened #1508 "Public Access Prevention "inherited""
GCS is changing the `unspecified` public access prevention value to `inherited`.

This will require the following changes:

1. Create a new sample with region tag public_access_prevention_inherited. So we don't break any documentation links, please do not delete the unspecified sample from your repo at this point in time.

Please see nodejs example here: https://github.com/googleapis/nodejs-storag

[2021-09-29 15:55] ddelgrosso1 opened #1509 "Add samples for turbo replication (15 minute RPO)"
Samples need to be added for turbo replication ([client library request](https://docs.google.com/document/d/1ee3LzRfyArNIR4rLEeY60Eio7DBwLy5TkmvcMPxSork/edit?usp=sharing&resourcekey=0-4CYSH1Gc0ekxa1oUntE9yg)).

Please see NodeJS example here: https://github.com/googleapis/nodejs-storage/pull/1618

Please wait for approval from myself before merging or releasing this change so we can coordinate aro

[2021-09-30 15:40] amanda-tarafa commented on #1509
@shivgautam assigning to you so you can reassing appropiately.

I can take it if you don't have the bandwidth.

[2021-10-04 15:41] shivgautam commented on #1509
@amanda-tarafa I'll get it done. Just got the timelines from Denis. This should be doable.

[2021-10-05 13:49] amanda-tarafa commented on #1162
And FirestoreTests.GoogleCloudSamples.FirestoreTests.ListenForChangesTest

(Firestore tests could do with a rewrite)

[2021-10-07 09:00] google-cloud-policy-bot opened #1520 "[Policy Bot] found one or more issues with this repository."
[Policy Bot](https://github.com/googleapis/repo-automation-bots/tree/main/packages/policy#policy-bot) found one or more issues with this repository.
- [ ] Default branch is 'main'
- [x] Branch protection is enabled
- [x] Renovate bot is enabled
- [x] Merge commits disabled
- [x] There is a CODEOWNERS file
- [x] There is a valid LICENSE.md
- [x] There is a CODE_OF_CONDUCT.md
- [x] There is a CONTRI

[2021-10-12 16:53] #1520 closed, assigned to amanda-tarafa

[2021-10-22 15:05] faad021 opened #1534 "Cloud-SQL: Failure to start container when deplying on gcloud"
I am trying to try out this tutorial with cloud sql but I am getting error during deployment with the following message.

[code]

Here is the Program.cs file and the application already listens on the port. I do not know why I am getting this error

[code]

[2021-11-09 14:58] #999 closed

[2021-11-09 14:58] #1266 closed

[2021-11-10 10:32] amanda-tarafa opened #1548 "Cloud-SQL: Consider updating samples to netcoreapp3.1"
As [netcoreapp2.1 has reached end of life](https://dotnet.microsoft.com/download/dotnet/2.1).

[2021-11-24 09:52] idofl commented on #944
If you are looking for an example that shows how to access a Memorystore Redis instance from .NET Core, see here:
https://github.com/idofl/dotnet-memorystore-redis

[2021-12-02 15:39] amanda-tarafa opened #1563 "Storage: CopyFileArchivedGenerationTest flaky"
[xUnit.net 00:01:09.40]     CopyFileArchivedGenerationTest.CopyFileArchivedGeneration [FAIL]

  X CopyFileArchivedGenerationTest.CopyFileArchivedGeneration [1s 16ms]

  Error Message:

   Google.GoogleApiException : Google.Apis.Requests.RequestError

No such object: 0d8dbe01-a871-46b5-848b-350b96b23287/HelloCopyArchive.txt [404]

Errors [

	Message[No such object: 0d8dbe01-a871-46b5-848b-350b96b23

[2022-01-09 01:44] tellmeaboutcode opened #1583 "Backup Exceptions"
I am seeing the below exception while creating the backups.

`Status(StatusCode="InvalidArgument", Detail="Invalid ListBackupOperations request.", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1641686430.749211566","description":"Error received from peer ipv4:142.250.188.42:443","file":"/var/local/git/grpc/src/core/lib/surface/call.cc","file_line":1067,"grpc_message":"I

[2022-01-10 09:38] amanda-tarafa commented on #1583
I've seen an uptick of these errors recently on our CI as well. I'm planning to look into this today.

[2022-01-11 14:49] tellmeaboutcode commented on #1583
@amanda-tarafa Hi any update on this?

[2022-01-11 15:06] amanda-tarafa commented on #1583
No, I'm sorry, not yet, I'll update here as soon as I know more.

[2022-01-11 17:54] amanda-tarafa commented on #1583
OK, I can reproduce this also on my local environment and there's nothing inmmediately wrong with the sample code on this repo or with the client library itself.

The problem seems to be that the API has stopped accepting `metadata.database` as part of the filter. As a very temporary workaround, consider filtering for the Database locally?

In the meantime I'll reach out to the API team. @skuruppu

[2022-01-12 12:33] amanda-tarafa commented on #1563
@shivgautam assigning this one to you so you can assign to someone in your team. I can help of course.

[2022-01-12 12:43] amanda-tarafa opened #1588 "[PubSub]: Avro schema test are flaky"
Examples of failures [here](https://fusion2.corp.google.com/invocations/8570fa78-0d27-499b-a907-f5911be55094/targets/github%2Fdotnet-docs-samples%2Fappengine%2Fflexible%2FPubsub;config=default/tests) and [here](https://fusion2.corp.google.com/invocations/c90c5aeb-0499-4bf1-baf1-b0dc73927f7b/targets/github%2Fdotnet-docs-samples%2Fappengine%2Fflexible%2FPubsub;config=default/tests)

[2022-01-13 14:40] tellmeaboutcode commented on #1583
@amanda-tarafa Thanks for working on this. Could you please explain/provide a sample code as to how to go about the temporary solution mentioned above?

[2022-01-13 14:51] amanda-tarafa commented on #1583
@tellmeaboutcode we know more of what is happening, and the issue seems to be with the API requiring filter predicates to be in a particular order, so, if you modify your filter to what follows, it should work.

We are still looking at whether this API change should/can be reverted, etc. But for the time being, just rewrite your filter as a workaround.

[code]

[2022-01-13 15:11] amanda-tarafa commented on #1583
@tellmeaboutcode I've just got confirmation from the API team that a backwards compatible fix is on the way, but it might take 3 to 4 weeks to land. In the meantime, changing the order of the predicates on the filter may be use as a workaround.

I'm leaving this issue open until I've confirmed the fix is live. Thanks for reporting.

[2022-01-13 15:43] tellmeaboutcode commented on #1583
@amanda-tarafa Thank you. Changing the order worked.

[2022-01-18 16:02] #1508 closed

[2022-01-19 07:54] meteatamel opened #1596 "Add a Cloud Run hello world sample using .NET 6.0"
Currently, Cloud Run's HelloWorld C# docs use Knative's HelloWorld C# sample. Per b/215140362, we want to not rely on Knative samples. We should have an update HelloWorld C# sample (using .NET 6.0) in this repo.

[2022-01-20 13:54] #1596 closed

[2022-02-01 04:06] Slavrix commented on #983
@jimmyz500 did you find a solution to your issue? i think im getting the same problem as your case

[2022-02-01 09:33] amanda-tarafa commented on #983
@Slavrix if you read a few comments up you'll see that several people have commented on this thread, all with the same symptons but with different root causes. Try to go through those and see if any proposed solution solves your issue. If not, I would advise you to use some of the [support resources](https://cloud.google.com/firestore/docs/getting-support) for Firestore as they'll be able to help

[2022-02-09 21:33] amanda-tarafa opened #1621 "[iot]: Some tests are flaky"
There seems to be issues when many instances of the tests are running in parallel.
Example here: https://source.cloud.google.com/results/invocations/579fb838-8af8-40ad-973c-4d5bbeaead68/log

[2022-02-09 21:38] amanda-tarafa opened #1622 "[IAM]: Tests are flaky"
In particular if run concurrently: https://source.cloud.google.com/results/invocations/fb9a32a6-b22a-4fe7-b1fd-fe7c137c462b/log

[2022-02-09 21:41] amanda-tarafa opened #1623 "[Spanner]: Some tests are flaky"
When run conccurrently: https://source.cloud.google.com/results/invocations/23568d2c-60a0-4adc-8a51-cd3d7ec0f493/log

[2022-02-11 21:31] Breathtender opened #1627 "Sample request: setting endpoint on storage client"
We need samples added that describe how to set the endpoint for our storage clients.
Such as setting for localhost/emulator, or private/vpc, or for the soon to be added locational endpoints feature.

Sample tracker & Request:

https://docs.google.com/document/d/1aeL7jgs789s7xg9khTxGzGWkb4k-t6LUk-uqhhs1Vuw/edit#

[2022-02-15 12:08] amanda-tarafa commented on #1621
Some other failures here: https://source.cloud.google.com/results/invocations/ba87b5e7-6598-48bb-9430-18ea2710c5c4/log

[2022-02-15 12:28] amanda-tarafa commented on #1623
https://source.cloud.google.com/results/invocations/63f4d186-c056-4fdb-af71-f10ba8df9b57/log

[2022-02-18 11:50] Rishabh-V commented on #1338
Hi @amanda-tarafa,

As discussed and agreed in our call today, this failure appears to be due to transient HTTP 502 error response from the API on that day. The returned error was in HTML format which resulted in Json Parsing exception. This is currently not reproducible after trying the test case in 100 and 1000 iterations.  As suggested by you, closing this issue.

[2022-02-18 11:50] #1338 closed

[2022-02-22 15:00] vbod opened #1644 "Changing the dotnet sample HelloWorld to handle GRPC fails"
I was trying to have a Kestrel GRPC server deployed on Google-Cloud Run as the documentation says it's [legit to do so](https://cloud.google.com/run/docs/triggering/grpc). I started from the `run/helloworld` standard HTTP/1.1 Kestrel web-app, which works fine. Mixing it with a standard Kestrel GRPC project fails. To reproduce:

1. Create a new GRPC server: `dotnet new grpc TestGrpc` (tested with .

[2022-02-22 15:08] atrauzzi opened #1645 "How should I check the authorization header in HTTP tasks?"
I feel like the C# example for cloud tasks is missing important details around how to check the authorization header.

Is there any chance of the example being expanded?

Can this be done without assuming that I'm on App Engine?  (I'm on Cloud Run)

[2022-02-22 15:22] amanda-tarafa commented on #1644
@meteatamel Can you take a look? Thanks!

[2022-02-22 16:11] vbod commented on #1644
It looks like it's not particularly due to GRPC but really to HTTP/2 only. If I simply try to design a server handling HTTP/2, I reproduce the very same error as I have with GRPC.

1. Use with the following `Program.cs`:
[code]
2. This most basic `csproj`:
[code]
3. Enforce HTTP/2 in the server (I did it in `appsettings.json` but it could be done programmatically providing the same error):
[code]

[2022-02-22 16:59] meteatamel commented on #1644
@vbod When you say it was working before, was it working with the same .NET 6 Cloud Run sample? Or was it working with the previous .NET Core 3.1 Cloud Run sample?

[2022-02-22 17:51] vbod commented on #1644
@meteatamel It was working with a .NET 5 HTTP/2 Kestrel server. I think it stopped during the weekend - but can't be sure as it's a sandbox project so I'm not tracking it daily.

[2022-02-22 18:34] cgleadall commented on #1644
I have had (gRPC) services deployed to Google Cloud Run for almost a year. Something happened over the weekend that broke all 4 (environments ; Alpha, Dev, Test, Prod) of them. The revision images (for some of these environments) has not been touched for a few weeks.
One of the environments (Prod) has not been deployed (ie: a new gcloud revision) since January 18th 2022.

I don't think that this i

[2022-02-22 19:46] vbod commented on #1644
@cgleadall Everything works perfectly fine locally for me with `dotnet run` or `docker run`. I really tend to think there must have been some kind of network change that impacted applications with end-to-end HTTP/2 (maybe with Envoy, I don't know what Cloud Run uses internally but I see a lot of similar errors with this project?). There are also more people impacted that published on stackoverflow

[2022-02-22 20:41] amanda-tarafa commented on #1644
These same issues are being reported on the [public issue tracker](https://issuetracker.google.com/savedsearches/5447537?pli=1). This is very unlikely related to the .NET sample but I'll keep this issue open till I've confirmed with the product team.

Please leave your comments to the issue tracker and follow the relevant issues there.

[2022-02-23 10:57] amanda-tarafa commented on #1563
Versioning related tests in Storage continue to be flaky:

- https://source.cloud.google.com/results/invocations/e025ebf1-232b-41c4-ab85-94204ed11dc5/log
- https://source.cloud.google.com/results/invocations/ef5ee6fe-b45b-4862-8748-66c5f779326f/log

[2022-02-23 11:58] amanda-tarafa commented on #1563
Again: https://source.cloud.google.com/results/invocations/c2313141-b9f6-43ab-9e2b-706dd94c3aa8/log

[2022-02-23 13:41] amanda-tarafa commented on #1644
Just as un update, I've reported this internally and it's being looked at. Do follow the issues in the issue tracker, but I'll also update here as soon as I know more.

[2022-02-24 08:39] vbod commented on #1644
I confirm that setting `AllowAlternateSchemes` to true fixes the bug and the server works as expected! Thanks a lot 🥳

[2022-02-25 17:42] amanda-tarafa commented on #1644
I have an update from the Cloud Run team.

The change that caused this breakage has been rolled back. The old behavior will be supported for the time being, and if/when it is deprecated, [Google Cloud deprecation policies](https://cloud.google.com/terms/deprecation) will be applied.

That said, setting [KestrelServerOptions.AllowAlternateSchemes](https://docs.microsoft.com/en-us/dotnet/api/microso

[2022-02-25 17:42] #1644 closed

[2022-03-01 05:30] LakshayDCoder commented on #983
@sourav-paul [sourav-paul](https://github.com/sourav-paul) I wanted to confirm. I haven't added any data to my datastore. When I go to App Engine I get a screen showing "Your App Engine application has been created". When I go to my datastore and click on switch back to native firestore, it gives me an error. Am I missing something? How did you switch back to native mode?

[2022-03-01 10:06] amanda-tarafa commented on #1563
https://source.cloud.google.com/results/invocations/25d35ae2-ed76-47e2-b51a-dece8be64c15/log

[2022-03-06 14:36] tamotamago opened #1653 "[Cloud Run] Can not reach gRPC server on Cloud Run"
I was trying to have a Kestrel GRPC server deployed on Cloud Run. But cannot work properly.
My local environment is MacOS Big Sur Version 11.6.4.

To reproduce:

1. Create a new gRPC project by selecting `gRPC Service` template on Visual Studio for mac 2022 Preview
![image](https://user-images.githubusercontent.com/892431/156926263-747bc833-8c6a-4794-94d1-3bb8dc93a804.png)
![image](https://user-im

[2022-03-07 03:14] tamotamago commented on #1653
I've got an answer from stackflow that said we need to drop `--plaintext` when you're hitting a Cloud Run endpoint because it will be using TLS.
https://stackoverflow.com/questions/71375507/can-not-reach-net-grpc-server-on-cloud-run-1653#comment126161188_71375507

Finally, I reached my gRPC server.
Close this issue.

[2022-03-07 03:14] #1653 closed

[2022-03-12 15:29] Reriuqni commented on #983
Hi,
What I did:
`https://console.cloud.google.com/datastore/entities/query/kind?project=<your  Project ID>`

![image](https://user-images.githubusercontent.com/7934626/158024150-e02f1c1d-4f3d-4c6f-a8f8-a248b3621f7b.png)

![image](https://user-images.githubusercontent.com/7934626/158024173-59db7399-ef2a-48cf-86d0-f9d0feaae66b.png)

![image](https://user-images.githubusercontent.com/7934626/15802417

[2022-03-14 09:08] LakshayDCoder commented on #983
I did the exact same thing but it's just not working. It is giving me this error.

![Screenshot 2022-03-14 at 2 33 39 PM](https://user-images.githubusercontent.com/32734770/158139888-582a73d3-108f-418f-a01b-3d98b1e28741.png)

Also, where do you enable the services that you mentioned ??

[2022-03-15 01:21] Reriuqni commented on #983
Hi @LakshayDCoder,
Try this

![image](https://user-images.githubusercontent.com/7934626/158286799-d40bbaee-47e2-4603-bf0f-4c1be2351b14.png)

![image](https://user-images.githubusercontent.com/7934626/158287183-3327bf1a-f0c0-471a-b38f-1c25cc22a0eb.png)

![image](https://user-images.githubusercontent.com/7934626/158287321-3e4e0908-c228-427e-ba68-4bd326852d35.png)

.
If you have enabled API, then it

[2022-03-15 09:14] amanda-tarafa commented on #1563
Again: https://source.cloud.google.com/results/invocations/93a14639-c7f5-48c4-9cc0-78a9c98a48af/log

[2022-03-24 19:00] Breathtender commented on #1627
Do we have an ETA on this? @shivgautam

[2022-03-25 07:34] anshuldavid13 commented on #1509
Samples done and merged

[2022-03-25 07:34] #1509 closed

[2022-03-25 09:08] amanda-tarafa commented on #1583
Closing as this has been addressed.

[2022-03-25 09:08] #1583 closed

[2022-03-29 05:31] shivgautam commented on #1627
@hemanshv to analyze and update with the ETA.

[2022-04-01 17:47] danielbankhead opened #1673 "storage: Add Sample for Dual-Region Bucket Creation"
**FR:** Add sample for dual-region bucket creation.

The sample for creating a bucket should accept a bucket name and 2 regions (e.g. `my-bucket`, `US-EAST1`, `US-WEST1`).

**Region tag:** `storage_create_bucket_dual_region`

**System tests:**
- Verify a dual region bucket with specified regions can be created
- Verify a dual region bucket's `location` metadata is the specified dual region provide

[2022-04-04 15:12] amanda-tarafa commented on #1563
Here as well: https://source.cloud.google.com/results/invocations/ab641fd9-8877-4cd7-a5da-4bf8344520ac/log

[2022-04-11 16:17] amanda-tarafa opened #1687 "Transcoder test failing"
The following failure started 3 days ago and it is consistent, as if something changed server side.

[code]

@irataxy I've assigned to you as you wrote these, but feel free to reassign to someone that can take care of it.

[2022-04-12 15:59] amanda-tarafa opened #1690 "Easily reaching Spanner Administrative Quota"
Some Spanner tests are failing becuase we are very easily reaching Spanner Administrative Quota.

I think we can look at this when we look at #1425 . Assigning to the same folk just because of that, namely myself and @olavloite .

[2022-04-13 08:58] amanda-tarafa commented on #1687
I've heard from the API team and the change that provoke this failure has been reverted and should be fully rolled out by the end of next week. I'll leave this issue open until I see the test consistently green, but no action is requiered at this time.

[2022-04-13 13:42] amanda-tarafa commented on #1627
Closed by #1671

[2022-04-13 13:42] #1627 closed

[2022-04-19 23:20] SurferJeffAtGoogle commented on #1426
Which code?

[2022-04-20 08:11] amanda-tarafa commented on #1426
This one here: https://github.com/GoogleCloudPlatform/dotnet-docs-samples/tree/main/endpoints/getting-started

[2022-04-21 08:13] #1257 closed

[2022-04-21 08:13] #1690 closed

[2022-04-21 08:19] amanda-tarafa commented on #1299
#1701 has made this issue obsolete as only tests for product with modified samples are now ran on presubmit.
Nightly CI continues to run everything together but we don't care if that takes a while.

[2022-04-21 08:19] #1299 closed

[2022-04-21 08:21] amanda-tarafa commented on #1281
Unblocking as CI now support .NET 6

[2022-04-21 08:22] amanda-tarafa commented on #1274
This hasn't happened in a long time, and I'm pretty sure it was an issue with Kokoro itself. Closing.

[2022-04-21 08:22] #1274 closed

[2022-04-21 08:27] amanda-tarafa commented on #1548
Closed by #1683

[2022-04-21 08:27] #1548 closed

[2022-04-21 15:12] #1471 closed

[2022-04-21 17:10] sethvargo commented on #1257
Thanks!

[2022-04-21 17:47] amanda-tarafa commented on #1623
https://github.com/googleapis/google-cloud-dotnet/pull/8363 Should fix this.

[2022-04-25 09:06] amanda-tarafa commented on #1687
This has been green for the last couple of days, also the API team reports that the rollback of the change that provoked this failure  is complete. Closing.

[2022-04-25 09:06] #1687 closed

[2022-05-04 15:14] amanda-tarafa commented on #1673
Closed by #1708

[2022-05-04 15:14] #1673 closed

[2022-05-05 17:21] abethke opened #1729 "Credentials Issue"
Good Day,

I am having problems authenticating with a Unity C# project published on to Android where the resulting error on device is:

`JsonSerializationException: Unable to find a constructor to use for type Google.Apis.Auth.OAuth2.JsonCredentialParameters. A class should either have a default constructor, one constructor with arguments or a constructor marked with the JsonConstructor attribute.

[2022-05-05 20:05] amanda-tarafa commented on #1729
Unfurtunately the Google.Apis.Auth library [does not support Unity](https://github.com/googleapis/google-api-dotnet-client/blob/main/FAQ.md#why-arent-unity-xamarin-or-uwp-supported) and won't do so for the time being.

I'm closing this issue now as there's not much we can do at the moment.

[2022-05-05 20:05] #1729 closed

[2022-05-07 00:11] averikitsch commented on #1645
Sorry for the slow reply. If you are targeting Cloud Run with a task then you should use an HTTP task with an OIDC service account. That service account should be given `run/invoker` permissions to invoke the Cloud Run services. This setup mean Cloud Run will automatically verify the authorization header instead of you implementing that yourself. [Click here to learn more](https://cloud.google.com

[2022-05-07 00:11] #1645 closed

[2022-05-09 15:37] averikitsch commented on #1645
Right, you can deploy your Cloud Run service as private (`--no-allow-unauthenticated`).

[2022-05-30 11:55] neotrow opened #1741 "INSTANCE_CONNECTION_NAME not used in cloud-sql postgres example"
The environment variable `INSTANCE_CONNECTION_NAME` is used in the readme https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/main/cloud-sql/postgres/README.md#deploy-to-cloud-run in the `gcloud run deploy run-sql` command as an env variable. But this env variable is never used in the code.

I think the correct command should be:

[code]

Instead of

[code]

  Can somebody confirm, the

[2022-05-30 14:24] jackwotherspoon commented on #1741
@neotrow that is a great catch! We just updated the samples to no longer use `INSTANCE_CONNECTION_NAME` and instead use `INSTANCE_UNIX_SOCKET`. I will put up a PR to update the README in the next day or two to address this.

Thanks so much for noticing this and opening up an issue. Much appreciated :)

[2022-06-01 23:04] danielbankhead opened #1746 "feat(storage): Dual-Region Sample for Updated API"
[Internal]
- For details and coordination: [go/gcs-dpe-dual-region-milestones-api-refactor](http://go/gcs-dpe-dual-region-milestones-api-refactor)
- Implementation Example: https://github.com/googleapis/nodejs-storage/pull/1977

[2022-06-07 10:43] #1234 closed

[2022-06-11 14:22] hultqvist opened #1768 "Missing example of writing a structured log entry"
The [C# example of writing structured logs](https://cloud.google.com/logging/docs/reference/libraries#write_structured_logs) doesn't look like it's working with JSON payload.

https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/ed6f1b739c8cf1589f2f11e3eb0c6bcd4a97a48b/logging/api/LoggingSample/Program.cs#L79

I'm looking for an example to set the `LogEntry.JsonPayload` but it's not cle

[2022-06-13 08:18] amanda-tarafa commented on #1768
I've marked this as a bug because that sample needs to be updated to be really stuctured or else removed from the structured logging documentation.

I don't have a sample to share with you but I can give you a few pointers:

- We recently released  [Google.Cloud.Logging.Console](https://www.nuget.org/packages/Google.Cloud.Logging.Console/1.0.0-beta01) (still a beta) that will integrate with Micros

[2022-06-13 11:49] hultqvist commented on #1768
Since I was looking for logging custom data I created the custom `Struct`.

This example is using the same data as in the example in Java:

[code]

[2022-06-15 07:26] mrsahin101 opened #1778 "TreeView issue"
Hello. When I try to listen updates it get the updates. But when ever i try to add code related to treeview inside this Task ListenMultiple(string project) function it stops working. Couldn't figure out why.

[2022-06-15 08:12] amanda-tarafa commented on #1778
There are samples for many client libraries on this repo. From your question it is not possible to know which client library and which sample you are refering to.
The best way for us to help you is if you post a small but complete console application that reproduces the unexpected result you are seeing.

[2022-06-15 09:46] mrsahin101 commented on #1778
https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/04e97f8f218b39926d4d98f1bf9ab7bafb848be4/firestore/api/ListenData/Program.cs#L81-L92
i try to use this sample. It works normally but when i try to replace 90th line with this treeViewMachListNodes.Add(documentSnapshot.Id) it stops working. I don't know why but it could be related to something else.

[2022-06-15 09:56] amanda-tarafa commented on #1778
What does this means, the application crashes, you get an exception, the application continues to work but the result is different to what you expected.... ?
If you get an exception, please share the full stack trace.
If the result is unexpected, please share what result you are expecting and what is it that you are seeing.

Init function of what?

Again, if you can share a simple but full console

[2022-06-15 10:07] amanda-tarafa commented on #1778
Note: If you can't reproduce the issue on a console application, but you reproduce it in a web app or another type of desktop app, it's fine, as long as the app you share is minimal (i.e. the minimum to reproduce the issue) and complete, we'll be able to help you way faster.

[2022-06-15 11:19] mrsahin101 commented on #1778
[code]

[2022-06-15 13:48] #1778 closed

[2022-07-22 18:21] SurferJeffAtGoogle commented on #1426
I don't think so.  I recommend removing the sample.

[2022-07-25 09:00] amanda-tarafa commented on #1426
Hmmm, the code is actually being used here: https://cloud.google.com/endpoints/docs/openapi/get-started-app-engine-dotnet
The link is both offered as the sample to download and there are a few snippets from the yaml file included in the doc.

I'll try to find an owner for this.

[2022-07-26 16:55] amanda-tarafa commented on #1746
Closed via #1827

[2022-07-26 16:55] #1746 closed

[2022-07-27 10:06] amanda-tarafa opened #1830 "tests(Retail): RetailSearch.Samples.Tests.SearchWithQueryExpansionTest.TestSearchWithQueryExpansion is failing."
[code]

[2022-07-27 13:30] #1830 closed

[2022-07-27 13:35] amanda-tarafa commented on #1426
@iennae when you are ready for this, do loop me in and I can help with the .NET bits. Thanks.

[2022-08-01 16:11] amanda-tarafa opened #1838 "Retail: Some tests are flaky"
There were these failures, possibly because the same product is being modified by all the tests and you need to create a product specifically for these tests, with maybe a random name or similar (again, remember that tests run at the same time in different environments, i.e. Windows and Linux, etc.).
[code]

[code]

[code]

_Originally posted by @amanda-tarafa in https://github.com/GoogleCloudPlat

[2022-08-01 16:14] amanda-tarafa commented on #1838
I cannot take a look myself until after Wednesday, but there's something going on, I just double check and the same tests have been flaky on nightly CI. Sometimes just one of them, sometimes all, etc. And sometimes it is all green. Definetely seems like some are stepping over the other, or maybe that changes take a while to propagate, this last bit you may be able to confirm with the API team.
I c

[2022-08-01 16:20] mkoshurnikov commented on #1838
Yes, they are long running operations. Product id: `Id = Guid.NewGuid().ToString("N").Substring(0, 14)`

[2022-08-02 10:08] amanda-tarafa commented on #1838
Closing, there was a known issue with these long running operaitons, the fixed has been rolling out for the past week, hence the flakiness. Roll out should have now completed so we shouldn't see failures any more. I'll keep an eye out and I'll reopen if they fail again.

[2022-08-18 01:38] chenlei1216 commented on #1838
This issue should've been resolved by recent backend fix. Feel free to reopen if the issue still persists.

[2022-08-24 23:23] fatmahithem opened #1870 "using Google.Cloud.PubSub.V1; using Grpc.Core;"

[2022-08-25 06:57] jskeet commented on #1870
Closing as spam.

[2022-08-25 06:57] #1870 closed

[2022-08-26 10:18] amanda-tarafa opened #1874 "chore: snippet-bot full scan"
null

## snippet-bot scan result
Life is too short to manually check unmatched region tags.
Here is the result:
Great job! No unmatching region tags found!

---
Report generated by [snippet-bot](https://github.com/apps/snippet-bot).
If you find problems with this result, please file an issue at:
https://github.com/googleapis/repo-automation-bots/issues.

[2022-08-26 10:53] amanda-tarafa commented on #1838
This has happened again today, reopening:

- https://source.cloud.google.com/results/invocations/2a5ccd52-3476-4404-bc6a-56eab3dff362/log
- https://source.cloud.google.com/results/invocations/0e469764-3d17-4512-92cc-439e667ec655/log

[2022-08-26 14:49] amanda-tarafa commented on #1874
@tmatsuo Not sure if this is supposed to be working? Or how can I check if the scan is running? Thanks!

[2022-08-26 19:26] tmatsuo commented on #1874
Yeah I saw some error logs. Let me debug.

[2022-08-26 19:44] tmatsuo commented on #1874
Fix is on a way:
https://github.com/googleapis/repo-automation-bots/pull/4252

[2022-08-26 19:53] amanda-tarafa commented on #1874
Oh thanks! that was super fast.

[2022-08-26 19:57] tmatsuo commented on #1874
"null" at the beginning is another bug, but it's working now.

[2022-08-27 09:18] amanda-tarafa commented on #1838
And again:
https://source.cloud.google.com/results/invocations/c248e0be-7607-4e4a-973c-6dea2ff388db/log

[2022-08-30 08:01] amanda-tarafa commented on #1874
Closing as we are good. Thanks @tmatsuo for the quick fix.

[2022-08-30 08:01] #1874 closed

[2022-08-30 22:00] cojenco opened #1885 "storage: add samples for Autoclass"
Add samples demonstrating getting and setting Autoclass feature for a bucket.

Autoclass feature at the bucket level, allows for the automatic selection of the best storage class based on object metadata and access patterns. Currently, Autoclass supports  **new buckets** only - a bucket can be enabled for Autoclass only at creation, once disabled it cannot be enabled again

- region tags: `storage

[2022-08-31 10:48] amanda-tarafa commented on #1885
Assigning to @anshuldavid13 as she will look into this most likely, @anshuldavid13 feel free to reassign to someone from your team if appropiate.

[2022-09-07 02:22] chenlei1216 commented on #1838
This is expected to be fixed by https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1892

[2022-09-07 02:22] #1838 closed

[2022-09-07 13:24] amanda-tarafa commented on #1838
CI seems fine. I'll reopen if it happens again. Thanks.

[2022-09-09 08:44] amanda-tarafa opened #1903 "[Livestream]: tests are flaky."
Quota is being reached on channels, so maybe channels 2 hours old need to be deleted, currently channels 24hrs old are being deleted.

@irataxy this is just so we don't forget.

[2022-09-09 09:43] #1621 closed

[2022-09-12 08:25] #1903 closed

[2022-09-20 09:27] amanda-tarafa opened #1921 "[Video Livestream and Stitcher]: Several quotas are being exceeded."
ChannelCountPerProjectPerRegion in #1914
InputCountPerProjectPerRegion in #1913
SlatesPerProjectPerRegion in #1910

There's resource cleanup but at the end of the test run only. It's possible that we'll need to delete resources at the end of each test that creates them.

Also, I've seen several "Service Unavailable" errors. If the frequency of these do not improve, we might need to add retries on

[2022-09-28 23:32] irataxy commented on #1921
These quotas have all been increased in the test project.

I will implement retries as needed.

[2022-09-28 23:32] #1921 closed

[2022-10-10 08:39] amanda-tarafa opened #1937 "[Retail]: RetailSearch.Samples.Tests.SearchWithQueryExpansionTest.TestSearchWithQueryExpansion is failing"
Two different errors in diferent runs

[code]

[code]

[2022-10-11 13:46] jsimonweb commented on #1534
The C# code sample referenced in this issue was updated, tested and confirmed to successfully deploy to Cloud Run since this issue was created.

[2022-10-11 13:46] #1534 closed

[2022-10-31 17:27] chenlei1216 commented on #1937
This issue has been fixed on the backend and I cannot reproduce it anymore.

[2022-10-31 23:37] skuruppu commented on #1300
@shivgautam hope it's ok that I assigned this to you. I don't have enough context on where things are with the tests in C#.

[2022-11-03 16:34] amanda-tarafa commented on #1937
This continues to happen:

On nightly CI, consistently, since October 20.

Just now on presubmit:

Here: https://source.cloud.google.com/results/invocations/3af94d8b-6179-4928-8466-52fb8bec07e5/log
[code]

Here: https://source.cloud.google.com/results/invocations/348229e4-6c4a-4b7e-81c4-5deaadfb4f04/log

[code]

[2022-11-03 18:00] amanda-tarafa opened #1963 "BigQuery: Many samples are pinged in docs to old commits"
They should point to main/HEAD, as those are the ones where tests are run on, etc.

See a list of samples:

[code]

[2022-11-03 18:02] amanda-tarafa opened #1964 "AppEngine: Samples are pinged to old commits in docs"
They should point to main/HEAD

This sample:

[code]

[2022-11-04 01:24] chenlei1216 commented on #1937
Thanks Amanda. It seems that the tests will fail with the current server behavior. Send https://github.com/GoogleCloudPlatform/dotnet-docs-samples/pull/1965 to fix the test case accordinlgy.

[2022-11-04 10:29] amanda-tarafa commented on #1937
Thanks! It's green now.

Closed by #1965

[2022-11-04 10:29] #1937 closed

[2022-11-08 09:56] amanda-tarafa commented on #1563
This continues to happen, just now: https://source.cloud.google.com/results/invocations/c7f1eab5-1e8b-495d-a222-81926fbbb884/log

[2022-11-08 10:05] amanda-tarafa commented on #1885
Closed by #1951

[2022-11-08 11:53] amanda-tarafa commented on #1622
Another one here: https://source.cloud.google.com/results/invocations/c8b62f40-423e-487d-a70b-46cded4c3f3b/log

[2022-11-23 23:43] robertandreibarbulescu opened #1979 "Build unsuccessful"
##[debug]   gcr.io/application-369421/clouddemo:31
##[debug]   /home/vsts/work/1/s/applications/clouddemo/netcore
/usr/bin/docker build -f /home/vsts/work/1/s/applications/clouddemo/netcore/Dockerfile --label com.azure.dev.image.system.teamfoundationcollectionuri=https://dev.azure.com/ContosoM365/ --label com.azure.dev.image.system.teamproject=CloudDemo --label com.azure.dev.image.build.repository

[2022-11-24 10:48] amanda-tarafa commented on #1979
@jpassing can you take a look at this? Issue seems to be with CloudDemo.MvcCore. Thanks.

[2022-11-28 09:42] amanda-tarafa commented on #1964
Closing here! This has been fixed internally.

[2022-11-28 09:42] #1964 closed

[2022-11-29 13:57] amanda-tarafa commented on #1979
Closed by #1981

[2022-11-29 13:57] #1979 closed